<ul class="sg-colors">
	<li>
		<span class="sg-swatch sg-color-green" ></span>
		<span class="sg-label">
			$color-brand-green <br />
			#C0D242
		</span>
	</li>
	<li>
		<span class="sg-swatch sg-color-blue" ></span>
		<span class="sg-label">
			$color-brand-blue <br />
			#29C1DB
		</span>
	</li>
	<li>
		<span class="sg-swatch sg-color-blue-lt" ></span>
		<span class="sg-label">
			$color-brand-blue-lt <br />
			#A2DEF8
		</span>
	</li>
	<li>
		<span class="sg-swatch sg-color-purple" ></span>
		<span class="sg-label">
			$color-brand-purple <br />
			#B363A7
		</span>
	</li>
	<li>
		<span class="sg-swatch sg-color-red" ></span>
		<span class="sg-label">
			$color-brand-red <br />
			#E54E50
		</span>
	</li>
	<li>
		<span class="sg-swatch sg-color-yellow" ></span>
		<span class="sg-label">
			$color-brand-yellow <br />
			#F8DF1E
		</span>
	</li>
	<li>
		<span class="sg-swatch sg-color-pink" ></span>
		<span class="sg-label">
			$color-brand-pink <br />
			#F179AF
		</span>
	</li>
	<li>
		<span class="sg-swatch sg-color-orange" ></span>
		<span class="sg-label">
			$color-brand-orange <br />
			#F99D1B
		</span>
	</li>
	<li>
		<span class="sg-swatch sg-color-neutral" ></span>
		<span class="sg-label">
			$color-brand-neutral <br />
			#525D6C
		</span>
	</li>
</ul>
