<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">
            $color-white <br />
            #ffffff
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f6f6f6;"></span>
		<span class="sg-label">
			$color-gray-02 <br />
			#f6f6f6
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e8e8e8;"></span>
		<span class="sg-label">
			$color-gray-15 <br />
			#e8e8e8
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #a5a5a5;"></span>
		<span class="sg-label">
			$color-gray-35 <br />
			#a5a5a5
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #808080;"></span>
		<span class="sg-label">
			$color-gray-50 <br />
			#808080
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #595959;"></span>
		<span class="sg-label">
			$color-gray-65 <br />
			#595959
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #444444;"></span>
		<span class="sg-label">
			$color-gray-73 <br />
			#444444
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #222222;"></span>
		<span class="sg-label">
			$color-gray-87 <br />
			#222222
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">
			$color-black <br />
			#000000
		</span>
	</li>
</ul>
