<ul class="sg-colors">
	<li>
		<span class="sg-swatch sg-color-green"></span>
		<span class="sg-label">
            $color-utility-positive <br />
        </span>
	</li>
	<li>
		<span class="sg-swatch sg-color-orange"></span>
		<span class="sg-label">
			$color-utility-caution <br />
		</span>
	</li>
	<li>
		<span class="sg-swatch sg-color-red"></span>
		<span class="sg-label">
			$color-utility-negative <br />
		</span>
	</li>
	<li>
		<span class="sg-swatch sg-color-blue"></span>
		<span class="sg-label">
			$color-utility-neutral <br />
		</span>
	</li>
</ul>