<div>Primary font: "Nexa-Book", "Arial Rounded MT Bold", "Arial", sans-serif</div>
<div class="font-secondary">Secondary font: "Nexa-Thin", "Arial", sans-serif</div>
<div class="font-secondary"><b>Heading font: "Nexa-Bold", "Arial Rounded MT Bold", "Arial", sans-serif</b></div>
</div>
