{{> organisms-header }}

	<section class="cf module">
		{{> organisms-block-hero-home }}
	</section>
	<section class="cf module">
		{{> organisms-section-single-list }}
	</section>
	<section class="cf module">
		{{> organisms-block-hero }}
	</section>
	<section class="cf module">
		{{> organisms-block-cta }}
	</section>
	<section class="cf module">
		{{> molecules-insta-title }}
		{{> organisms-insta-list }}
	</section>
	<section class="cf module">
		{{> organisms-section-signup }}
	</section>

{{> organisms-footer }}
