{{> organisms-header }}

	<section class="cf head">
		{{> molecules-page-header }}
	</section>
	<section class="cf small-width">
		{{> molecules-breadcrumb }}
	</section>
	<section class="cf module small-width open-modal">
		{{> organisms-card-list-single-long }}
	</section>
	<section class="cf module">
		{{> molecules-pagination }}
	</section>

<section style="display: none">
	{{# mediaListLong }}
		<div id="{{data}}">
			{{> organisms-block-card-modal }}
		</div>
	{{/ mediaListLong }}
</section>

{{> organisms-footer }}
