{{> organisms-header }}

	<section class="cf head">
		{{> molecules-page-header }}
	</section>
	<section class="cf module small-width">
		{{> organisms-card-list-archive-long }}
	</section>
	<section class="cf module">
		{{> molecules-pagination }}
	</section>


{{> organisms-footer }}
