{{> organisms-header }}

	<section class="cf head">
		{{> organisms-block-background }}
	</section>
	<section class="cf module small-width">
		{{> molecules-section-title}}
		{{> organisms-card-list-single-long }}
	</section>
	<section class="cf module middle">
		<div class="two-col sm left">
			{{> molecules-text-blob}}
		</div>
		<div class="two-col lg right">
			{{> atoms-horizontal}}
		</div>
	</section>
	<section class="cf module middle">
		<div class="two-col lg left">
			{{> atoms-horizontal}}
		</div>
		<div class="two-col sm right">
			{{> molecules-text-blob}}
		</div>
	</section>
	<section class="cf module middle">
		<div class="two-col sm left">
			{{> molecules-text-blob}}
		</div>
		<div class="two-col lg right">
			{{> atoms-horizontal}}
		</div>
	</section>
	<section class="cf module open-form">
		{{> organisms-block-cta }}
	</section>
	<section class="cf module">
		{{> organisms-section-signup }}
	</section>

<section style="display: none">
	{{# formList }}
		<div id="{{data}}">
			{{>organisms-block-form-modal}}
		</div>
	{{/ formList }}
</section>

{{> organisms-footer }}
