{{> organisms-header }}

	<section class="cf head">
		{{> molecules-page-header }}
	</section>
	<section class="cf module small-width">
		{{> molecules-section-title }}
		{{> organisms-card-list-single-long }}
	</section>
	<section class="cf module">
		{{> molecules-pagination }}
	</section>

{{> organisms-footer }}
