{{> organisms-header }}

	<section class="cf head">
		{{> molecules-page-header }}
	</section>
	<section class="cf module small-width">
		{{> molecules-section-title}}
		{{> organisms-card-list-single }}
	</section>
	<section class="cf module middle">
		<div class="two-col sm left">
			{{> molecules-text-blob-with-button}}
		</div>
		<div class="two-col lg right">
			{{> atoms-horizontal}}
		</div>
	</section>
{{> organisms-footer }}
