{{> organisms-header }}

	<section class="cf">
		{{> organisms-block-background }}
	</section>
	<section class="cf module">
		{{> atoms-hero-small}}
	</section>
	<section class="cf module small-width">
		{{> molecules-section-title-archive }}
		{{> organisms-card-list-single }}
	</section>
	<section class="cf module">
		{{> organisms-section-signup }}
	</section>
	<section class="cf module small-width open-modal">
		{{> molecules-section-title }}
		{{> organisms-section-masonry-grid}}
	</section>
	<section class="cf module">
		{{> organisms-block-hero}}
	</section>

	<section style="display: none">
		{{# masonryImages}}
			<div id="{{data}}">
				<div class="modal-card">
				<img src="{{ src }}">
				<span class="modal-card__caption-overlay">{{ caption }}</span>
				</div>
			</div>
		{{/ masonryImages }}
	</section>

{{> organisms-footer }}