{{> organisms-header }}

	<section class="cf head">
		{{> organisms-block-background }}
	</section>
	<section class="cf module small-width">
		{{> organisms-section-archive-list }}
	</section>
	<section class="cf module middle">
		<div class="two-col left">
			{{> molecules-text-blob-with-button}}
		</div>
		<div class="two-col right">
			{{> atoms-square}}
		</div>
	</section>
	<section class="cf module">
		{{> organisms-section-calculator}}
	</section>
	<section class="cf module">
		{{> organisms-section-signup }}
	</section>

{{> organisms-footer }}