{{> organisms-header }}

	<section class="cf module">
		{{> molecules-page-header }}
	</section>
	<section class="cf small-width">
		{{> molecules-breadcrumb}}
	</section>
	<section class="cf module small-width open-modal">
		{{> organisms-section-masonry-grid}}
	</section>

	<section style="display: none">
		{{# masonryImages}}
			<div id="{{data}}">
				<div class="modal-card">
				<img src="{{ src }}">
				<span class="modal-card__caption-overlay">{{ caption }}</span>
				</div>
			</div>
		{{/ masonryImages }}
	</section>

{{> organisms-footer }}