{{> organisms-header }}

	<section class="cf head">
		{{> molecules-page-header }}
	</section>
	<section class="cf small-width">
		{{> molecules-breadcrumb }}
	</section>
	<section class="cf module small-width">
		<div class="two-col left">
			{{> organisms-block-details}}
		</div>
		<div class="two-col right">
			<div class="s-text-passage text">
				<h4>{{ headline.short }}</h4>
				{{{ List.ol }}}
				{{> molecules-share-icons}}
			</div>
		</div>
	</section>
	<section class="cf module">
		{{> organisms-section-signup }}
	</section>

{{> organisms-footer }}
