{{> organisms-header }}

	<section class="cf head">
		{{> molecules-page-header }}
	</section>
	<section class="cf small-width">
		{{> molecules-breadcrumb }}
	</section>
	<section class="cf module small-width">
		<div class="two-col left">
			{{> organisms-block-details}}
		</div>
		<div class="two-col right">
			{{> molecules-text-blob}}
		</div>
	</section>
	<section class="cf module">
		{{>organisms-block-hero-bubbles-text }}
	</section>

	<ol class="pagination">
	</ol>

{{> organisms-footer }}
