/*------------------------------------*\
    #BODY
\*------------------------------------*/

/**
 * Body base styles
 */
@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}
 
html {
	background: $color-white;
	height: 100%;
	-webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-x: hidden;
    width: 100%;
}

body {
	background: $color-gray-15;
	color: $color-brand-neutral;
	font-family: $font;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	letter-spacing: $base-letter-space;
	line-height: $base-line-height;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	width: 100%;
}
