/*------------------------------------*\
    #FORMS
\*------------------------------------*/

/**
 * Fieldset base styles
 */
fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

/**
 * Label base styles
 */
label {
	display: block;
	font-size: .875rem;
	font-weight: bold;
	margin: .5em 0;
}

/**
 * Form button, input, select, and text area base styles
 * 1) Zero out margin and inherit font styles
 */
button, input, select, textarea {
    font-family: $font-heading;
    font-size: 100%;
    margin: 0;
}


/**
 * Input areas base styles
 * 1) Get rid of webkit appearance of these areas
 */
input[type="text"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="password"],
select,
textarea,
.textbox {
	background-color: $color-gray-15;
	border: 2px solid $color-gray-15;
	border-radius: $border-radius-small;
	color: $color-brand-neutral;
	padding: 1rem;
	-webkit-appearance: none;
	width: 100%;
	@include placeholder( $color-gray-35 );
	
	&:focus {
		background-color: $color-white;
		border-color: $color-gray-35;
		outline: none;
		@include placeholder( $color-brand-neutral);
	}

	&.error, &:invalid {
		border-color: $color-brand-orange;
	}


}



/**
 * Button/Submit button base styles
 */
button, .btn,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	background: $color-brand-blue;
	border: 0;
	border-radius: $border-radius;
	color: $color-white;
	cursor: pointer;
	display: inline-block;
	height: auto;
	padding: 1rem 2rem;
	width: auto;
	@include transition(all, .3s, ease);

	&:hover, &:focus {
		background-color: $color-brand-blue-lt;
		color: $color-white;
		@include transition(all, .3s, ease);
		outline: none;
	}

	/**
	* Secondary Button
	*/
	&.alt {
		background-color: $color-brand-green;

		&:hover, &:focus {
			background-color: lighten($color-brand-green, 10%);
		}
	}

	/**
	 * Disabled button
	 */
	&.disabled {
		background: $color-gray-15;
		color: $color-gray-50;
	}

}

input[type="file"] {
	border: 2px dashed $color-gray-35;
}

/**
 * Checkboxes/Radio button base styles
 */
input[type="checkbox"],
input[type="radio"] {
    border: 1px solid $color-gray-50;
    height: 1em;
    padding: 0;
    width: 1em;
    display: inline-block;
}

/**
 * Search cancel button and search decoration webkit appearance none
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
* Select
*/
select {
	background-image: linear-gradient(45deg, transparent 50%, $color-brand-neutral 50%), linear-gradient(135deg, $color-brand-neutral 50%, transparent 50%), radial-gradient(lighten($color-gray-35, 10%) 70%, transparent 50%);
    background-position: calc(100% - 23px) calc(1em + 7px), calc(100% - 16px) calc(1em + 7px), calc(100% - .5em) .6em;
    background-size: 8px 8px, 8px 8px, 2em 2em;
    background-repeat: no-repeat;

    &:focus {
    	background-color: $color-gray-15;
    }
}

/**
* Hidden Input
*/
input[type="hidden"] {
    display: none;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
}