/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
	line-height: $heading-line-height;
	margin: .5rem 0 1rem;
    padding: 0;
    text-rendering: optimizeLegibility;
}

/**
 * Heading 1
 */
h1  {
	font-size: $h1size * .85;
}

/**
 * Heading 2
 */
h2 {
	font-size: $h2size * .85;
}

/**
 * Heading 3
 */
h3  {
	font-size: $h3size * .85;
}

/**
 * Heading 4
 */
h4  {

}

/**
 * Heading 5
 */
h5 {

}

/**
 * Heading 6
 */
h6 {

}

/**
 * Subheading
 */
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}

@media only screen and (min-width: $bp-med) {
	h1 {
		font-size: $h1size;
	}

	h2 {
		font-size: $h2size;
	}

	h3 {
		font-size: $h3size;
	}

	h4 {
		font-size: $h4size;
	}

	h5 {
		font-size: $h5size;
	}

	h6 {
		font-size: $h6size;
	}
}
