/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Links
 */
a {
	color: $color-brand-blue;
	cursor: pointer;
	outline: 0;
	text-decoration: none;
	transition: all $anim-speed-quick $anim-ease;

	&:hover, &:focus, &:active {
		border: 0;
		color: $color-brand-blue-lt;
		outline: 0;
		text-decoration: none;
	}
}
