/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Ordered/Unordered list base styles
 */
ol, ul {
	color: $color-text;
	font-family: $font;
	font-size: $base-font-size;
	letter-spacing: $base-letter-space;
	margin: 0;
	padding: 0;
}

li {
	line-height: 1.4em;
	margin: .6em 0;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: .2em;
	}

	span {
		vertical-align: top;
	}
}

/** 
* Ordered List Specific Styles
*/
ol {
	counter-reset:li; /* Initiate a counter */
	list-style: none;

	li {
		position: relative;
		padding-left: 1.5em;

		&:before {
			color: $color-brand-red;
			content:counter(li)"."; /* Use the counter as content */
			counter-increment:li; /* Increment the counter by 1 */
			font-family: $font-heading;
			left: 0;
			padding-right: .5em;
			position: absolute;
		}
	}


}

/**
 * Definition list base styles
 */
dl, dd {
	overflow: hidden;
	margin-bottom: $space;
}

/**
 * Terms/Names base styles
 */
dt {
	font-weight: bold;
}

