/*------------------------------------*\
    #MEDIA ELEMENTS
\*------------------------------------*/

/**
 * Make media elements responsive
 */
img, video, object {
	border: 0;
    height: auto;
    -ms-interpolation-mode: bicubic;
    width: 100%;
    vertical-align: middle;
}

/**
 * Iframe base styles
 */
iframe {
	margin-bottom: $space;
}

/**
 * Figure base styles
 */
figure {
	margin-bottom: $space;
	
	/**
	 * Figure image base styles
	 */
	img {
		margin-bottom: $space-half;
	}
}

/**
 * Figure caption base styles
 */
figcaption {
	display: block;
    font-style: italic;
    font-weight: normal;
    margin: .5em 0 0 0;
    padding: 0;
}