/*------------------------------------*\
    #RESET
\*------------------------------------*/

/**
 * Use border box on all elements
 */
html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-style: normal;
    font-size: 100%;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 0;  
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
    margin: 0;
}

audio[controls], canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    word-wrap: break-word;
}