/*------------------------------------*\
    #TABLE
\*------------------------------------*/

/**
 * Table base styles
 */
table {
	border-collapse: collapse; 
	border-spacing: 0; 
	border: 0;
	height: 100%;
	width: 100%;

	@media only screen and (max-width: $bp-med) {
		margin-top: 2em;
		table-layout: fixed;
	}
}

th,
td {
    font-size: 1em;
    line-height: $base-line-height;
    text-align: left;
    padding: 1em;
    vertical-align: middle;
}

/**
 * Table header base styles
 */
th {
	text-align: left;
	background-color: $color-brand-blue;
	border: 0;
	color: $color-white;
	line-height: 1;

	&:first-of-type {
		border-top-left-radius: $border-radius;
		padding-left: 3em;
	}

	&:last-of-type {
		border-top-right-radius: $border-radius;
		padding-right: 3em;
	}

	// mobile table styles
	@media only screen and (max-width: $bp-med) {
		display: none;
	}
	
}
	thead th {
	    vertical-align: bottom;
	}

/**
 * Table cell base styles
 */
td {
	border: 0;

	@media only screen and (max-width: $bp-med) {
		display: block;
		font-size: .9em;
		padding-left: 35%;
		position: relative;

		&:before {
			left: 0;
			//line-height: 1;
			padding-left: 1em;
			position: absolute;
		}

		&:nth-of-type(1) {
			background-color: $color-brand-blue;
			color: $color-white;
			font-family: $font-heading; 
		}
	}

	// mobile table styles
	@media only screen and (max-width: $bp-small) {
		padding-left: 1em;
	}

	@media only screen and (min-width: $bp-med ) {
		&:first-of-type {
			padding-left: 3em;
		}

		&:last-of-type {
			padding-right: 3em;
		}
	}
}

tr {

	position: relative;

	&:nth-child(odd) {
		background-color: $color-gray-02;
	}

}

table.location {

	// mobile table styles
	@media only screen and (min-width: $bp-small) and (max-width: $bp-med) {
	
	td {
		&:before {
			width: 30%;
		}

		&:nth-of-type(1) {

			&:before {
				content: 'Distributor';
			}
		}

		&:nth-of-type(2) {
			&:before {
				content: 'Phone';
			}
		}

		&:nth-of-type(3) {
			&:before {
				content: 'Address';
			}
		}

		&:nth-of-type(4) {
			&:before {
				content: 'Country';
			}
		}

		&:nth-of-type(5) {
			padding-left: 1em;
			&:before {
				width: 0;
			}
		}
	}

		&.location-canada {
			td:nth-of-type(4) {
				&:before {
					content: 'Province';
				}
			}
		}

		&.location-us {
			td:nth-of-type(4) {
				&:before {
					content: 'State';
				}
			}
		}
	}
}