/*------------------------------------*\
    #TEXT
\*------------------------------------*/

/**
 * Paragraph base styles
 */
p {
	line-height: $base-line-height;
    margin-bottom: $space;
    text-rendering: optimizeLegibility;
}

/**
 * Blockquote base styles
 */
blockquote {
    font-style:italic;
    border-left: 1px solid $color-gray-50;
    color: $color-gray-50;
    line-height: $base-line-height;
	padding-left: $pad;
	margin-bottom: $space;
}

/**
 * Horizontal rule base styles
 */
hr {
	border: 0;
    height: 2px;
    background: $color-gray-15;
    margin: $space-double 0;
    padding: 0; 
}

/**
 * Abbreviation base styles
 */
abbr {
    border-bottom: 1px dotted $color-gray-50;
    cursor: help;
    font-weight: inherit;
}

b,
strong {
    font-family: "nexabold", $font;
    font-weight:  bold;

    a {
        font-weight: bold;
    }
}

i,
dfn,
em {
    font-family: "nexabook_italic", $font;
    font-style: italic;
    font-weight:inherit;

    a {
        font-style: italic;
    }
}

u {
    text-decoration: underline;
}

ins {
    background-color: $color-gray-15;
    color: $color-utility-caution;
    text-decoration: none;
}

mark {
    background-color: $color-gray-15;
    color: $color-utility-caution;
    font-style: italic;
    font-weight: bold;
}

del, strike {
    font-weight: inherit;
}

pre,
code,
kbd,
samp,
var,
tt {
    background-color: $color-gray-15;
    color: $color-text;
    font-family: $font-monospace;
    line-height: $base-line-height;
    margin: 0;
    padding: 1em;
}

code, kbd, var, tt {
    display: inline-block;
}

pre, samp {
    display: block;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

sub,
sup {
    font-size: .75em;
    line-height: 0;
    position: relative;
    vertical-align: middle;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

address {
    font-weight: inherit;
    line-height: inherit;
}

span {
    display: inline-block;
}