<div class="radio-form field-row">
	<p>{{excerpt.medium}}</p>
	{{# radioButtons }}
		<label class="inline-label" for="{{id}}"><input type="radio" name="{{radio}}" value="{{value}}" id="{{id}}" {{checked}} />{{label}}</label>
	{{/ radioButtons }}
</div>