<a class="btn alt btn-circle search-toggle" id="search-toggle-btn" href="#"></a>
<div class="search-form">
	<label for="search" class="search-form__label is-vishidden">Search the site</label>
	<input type="search" id="search" class="search-form__input search-expanded" placeholder="Search the site" />
</div>
