<div class="email-form">
	<label for="email" class="email-form__label is-vishidden">Submit Your Email</label>
	<input type="email" id="email" class="email-form__input" placeholder="email@example.com" />
	<input type="submit" id="email-submit" class="email-form__submit" value="Submit">
</div>
