<header class="header" role="banner">
	<div class="small-width">
		
		<section class="open-button-wrapper">
	    	<button id="openMainMenu" class="open-main-menu open-button"><span>Open Main Menu</span></button>
	    </section>

	    {{> molecules-logo-link }}

		<div class="header__controls">
			<div class="header__buttons">
				{{> atoms-button }}
				{{> molecules-search }}
			</div>
			{{> molecules-primary-nav }}
			
		</div><!-- end header__controls -->
	</div>
</header><!-- end header -->
<main class="{{ bodyClass }}">
