</main>
<footer class="footer small-width" role="contentinfo">

	<div class="footer__main">
		{{> molecules-logo-footer-link }}
		{{> molecules-footer-nav }}
	</div><!-- end footer__main -->
	<div class="footer__buttons">
		{{> atoms-button }}
		{{> molecules-social-icons }}
	</div>
	<p class="copyright">&copy; {{ year }} {{ company.name }}. All rights reserved.</p>

</footer><!-- end footer -->
