<figure class="figure">
	<div class="figure__media">
		{{> atoms-square }}
	</div><!-- end figure__media -->

	<figcaption class="figure__caption">This is an example of an image with a caption. Photo captions, also known as cutlines, are a few lines of text used to explain or elaborate on published photographs.</figcaption>

</figure><!-- end figure -->
