/*------------------------------------*\
    #BLOCKS
\*------------------------------------*/
/**
 * 1) Blocks are collections of text and/or images/media working together as a unit.
 */

/*------------------------------------*\
	#HERO BLOCK
\*------------------------------------*/

/**
 * Hero and Hero Home Rules
 */
.block-hero, .block-hero-home {
    color: $color-white;
    display: block;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 6% 0;
    position: relative;
    width: 100%;
}

/**
 * Hero container (primary circle)
 */
.block-hero__container {
    background-color: $color-brand-green;
    border-radius: 50%;
    padding: 2rem;
    position: absolute;

    &:before { // vertical centering hack!
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: -.5em;
        vertical-align: middle;
    }

    .block-hero__headline {
        font-family: $font;
        font-size: 1.4rem;

        b {
            font-family: $font-heading;
        }
    }

    @media only screen and (min-width: $bp-med) {
        .block-hero__headline {
            font-size: 1.6rem;
        }
    }

    @media only screen and (min-width: $bp-large) {
        .block-hero__headline {
            font-size: 2.1rem;
        }
    }

    @media only screen and (min-width: $bp-xl) {
        .block-hero__headline {
            font-size: 2.6rem;
        }
    }

}

/**
 * Hero Headline
 */
.block-hero__headline {
    color: $color-white;
    display: inline-block;
    font-size: 1.8rem;
    transition: all $anim-speed-quick $anim-ease;

    @media all and (min-width: $bp-large) {
        
    }
 }

/**
 * Hero Content (inside circle)
 */
.block-hero__content {
    display: inline-block;
    vertical-align: middle;
}

/**
 * Hero Accent - secondary circle
 */
 .block-hero__accent {
    background-color: $color-brand-pink;
    background-image: url( "../../../images/bg-image-icon.png" );
    background-image: url(bg-pattern-icon()), linear-gradient(transparent, transparent);
    background-size: 35%;
    border-radius: 50%;
    display: block;
    position: absolute;
 }

 /**
 * Hero Image
 * 1) This is the primary hero image that runs full-bleed across the layout
 */
.block-hero__img {
    display: none;

    @media only screen and (min-width: $bp-med) {
        display: block;
        width: 100%;
    }
}

/**
 * Home Hero (Primary Only)
 */
.block-hero-home {
    overflow-y: hidden;
    padding: 0 0 50% 0;

    @media only screen and (min-width: $bp-small-2) {  
        padding: 0 0 10% 0;
    }

    @media only screen and (min-width: $bp-med) {  
        padding: 0 0 6% 0;
    }

    .block-hero__container {
        background-color: $color-brand-purple;
        height: 70%;
        padding: 11% 12% 11% 16%;
        position: absolute;
        right: -10%;
        top: 30%;
        width: 90%;

        @media only screen and (min-width: $bp-small-2) {
            height: 105%;
            padding: 11% 12% 11% 8%;
            right: -10%;
            top: -15%;
            width: 60%;
        }

        @media only screen and (min-width: $bp-med) {
            height: 85%;
            left: auto;
            right: -10%;
            top: -17%;
            width: 47%;
            padding: 11% 12% 11% 5%;

        }

        @media only screen and (min-width: $bp-large) {
            padding: 12% 14% 12% 7%;

        }

        @media only screen and (min-width: $bp-xl) {

        }
    }

    .block-hero__accent {
        background-color: $color-brand-pink;
        height: 35%;
        left: -12%;
        top: 55%;
        width: 45%;

        @media only screen and (min-width: $bp-small-2) {
            height: 45%;
            left: auto;
            right: -7%;
            top: 55%;
            width: 25%;
        }

        @media only screen and (min-width: $bp-med) {
            height: 58%;
            right: -7%;
            top: 38%;
            width: 30%;

        }
    }

    .block-hero__img {
        display: block;
        width: 180%;

        @media only screen and (min-width: $bp-small-2) {
            width: 100%;
        }
    }
}

/**
* Hero (Secondary Only)
*/

.block-hero {
    padding-bottom: 115%;
    overflow: visible;

    @media only screen and (min-width: $bp-small) {
        padding-bottom: 100%;
    }

    @media only screen and (min-width: $bp-med) {
        padding-bottom: 6%;
        overflow-x: hidden;
        overflow-y: visible;
    }

    .block-hero__container {
        height: 110%;
        left: -20%;
        padding: 10% 15% 10% 25%;
        top: -6%;
        width: 140%;

        @media only screen and (min-width: $bp-small) {
            height: 105%;
            left: -10%;
            padding: 12% 15% 12% 18%;
            top: -6%;
            width: 115%;
        }

        @media only screen and (min-width: $bp-small-2) {
            height: 95%;
            left: -10%;
            padding: 15% 15% 15% 20%;
            top: -6%;
            width: 105%;
        }

        @media only screen and (min-width: $bp-med) {
            top: 0;
            left: -10%;
            width: 60%;
            height: 100%;
            padding: 7% 6% 7% 15%;
        }

        @media only screen and (min-width: $bp-med-2) {
            top: 0;
            left: -10%;
            width: 55%;
            height: 100%;
            padding: 7% 5% 7% 12%;
        }

        @media only screen and (min-width: $bp-large) {
            padding: 8% 10% 8% 15%;
        }
    }
}

/**
* Hero Bubbles
*/
.block-hero-bubbles {
    padding-bottom: 100%;
    position:relative;
    width: 100%;

    &.alt {
        @media only screen and (min-width: $bp-small-2) {
            padding-bottom: 100%;
            position:relative;
        }

        @media only screen and (min-width: $bp-med) {
            overflow-x: hidden;
            overflow-y: visible;
            padding-bottom: 46%;
            position: absolute;
            top: -5%;  
        }
    }
    
    @media only screen and (min-width: $bp-small-2) {
        overflow-x: hidden;
        overflow-y: visible;
        padding-bottom: 60%;
        position: absolute;
        top: -5%;   

        .block-hero__img {
            display: block;
        }  
    }

    @media only screen and (min-width: $bp-med) {
        padding-bottom: 40%;     
    }

    .block-hero__container {
        background-color: $color-brand-red;
        height: 85%;
        padding: 15%;
        position: absolute;
        right: 10%;
        top: 0%;
        width: 90%;

        &.alt {
            left: 10%;
            right: auto;
        }

        @media only screen and (min-width: $bp-small-2) {
            height: 68%;
            padding: 3% 5%;
            right: 3%;
            width: 45%;

            &.alt {
                height: 85%;
                padding: 15%;
                left: 10%;
                right: auto;
                width: 90%;
            }

            .block-hero__headline {
                font-size: 1.4rem;
            }
        }

        @media only screen and (min-width: $bp-med) {
            height: 85%;
            left: auto;
            right: 15%;
            width: 35%;
            padding: 5%;

            &.alt {
                height: 85%;
                left: 10%;
                right: auto;
                width: 40%;
                padding: 5%;
            }

            .block-hero__headline {
                font-size: 1.6rem;
            }

        }

        @media only screen and (min-width: $bp-large) {
            height: 70%;
            left: auto;
            right: 15%;
            width: 28%;
            padding: 4%;

            &.alt {
                height: 70%;
                left: 13%;
                right: auto;
                width: 33%;
                padding: 4%;
            }

            .block-hero__headline {
                font-size: 1.6rem;
            }

        }

        @media only screen and (min-width: $bp-xl) {

            .block-hero__headline {
                font-size: 2rem;
            }

        }
    }

    .block-hero__accent {
        background-color: $color-brand-orange;
        height: 87%;
        right: -30%;
        top: 25%;
        width: 90%;

        &.alt {
            left: -30%;
            right: auto;
        }

        @media only screen and (min-width: $bp-small-2) {
            height: 75%;
            left: auto;
            right: -15%;
            top: 15%;
            width: 47%;

            &.alt {
                height: 87%;
                left: -30%;
                right: auto;
                top: 10%;
                width: 90%;
            }
        }

        @media only screen and (min-width: $bp-med) {
            height: 80%;
            right: -7%;
            top: 20%;
            width: 35%;

            &.alt {
                height: 80%;
                left: -7%;
                right: auto;
                top: 20%;
                width: 39%;
            }

        }
    }
}

.bubble-text {
    @media only screen and (min-width: $bp-small-2) {
        min-height: 22em;
    }

    @media only screen and (min-width: $bp-med) {
        min-height: 20em;
    }

    @media only screen and (min-width: $bp-large) {
        min-height: 24em;
    }
}

/*------------------------------------*\
    #Background Block
\*------------------------------------*/
.block-hero-background {
    background-color: $color-brand-pink;
    background-image: url(smilecolor($color-white));
    color: $color-white;
    padding: 5rem 3rem;

    @media only screen and (min-width: $bp-med) {
        padding-right: 50%;
    }

    h2 {
        color: $color-white;
    }

    &.pattern {
        background-position: top center;
    }

    &.single {
        background-size: 0;
        
        @media only screen and (min-width: $bp-med) {
            background-position: 110% 50%;
            background-repeat: no-repeat;
            background-size: 40%;
        }
    }
}


/*------------------------------------*\
    #CARD BLOCK
\*------------------------------------*/

/**
* Single Card
*/
.single-card {
    display: inline-block;
    position: relative;

    a {
        color: inherit;
    }

    .btn-circle {
        position: absolute;
        top: 1em;
        right:0;
    }

    img {
        border-radius: $border-radius-small;
    }

    .single-card__info {
        color: $color-brand-neutral;
        padding-top: 1em;
    }
}
    
    .single-card__info {
        position: relative;

        h5 {
            margin-top: 0;
        }
    }

        .single-card__headline {
            width: 80%;
        }

/**
* Archive (Meta) Card
*/
.archive-card {

    img {
        border-radius: $border-radius-small $border-radius-small 0 0;
    }

    a {
        color: inherit;
    }
    .single-card__info {
        background-color: $color-brand-purple;
        border-radius: 0 0 $border-radius-small $border-radius-small;
        color: $color-white;
        padding: 1em;

        p, ol, ul {
            color: $color-white;
        }
    }

    .single-card__count {
        color: rgba( $color-white, .5);

        @media only screen and (min-width: $bp-med) {
            position: absolute;
            top: $pad;
            right: $pad;
        }
    }
}

/**
* Modal Card
*/
.modal-card {
    position: relative;

    img {
        border-radius: $border-radius-small $border-radius-small 0 0;
    }
}

    .modal-card__info {
        background-color: $color-brand-neutral;
        border-radius: 0 0 $border-radius-small $border-radius-small;
        color: $color-white;
        padding: 1em;
    }

    .modal-card__caption-overlay {
        @include vertical( rgba(0,0,0,0), rgba(0,0,0,0.4) );
        border-radius: 0 0 $border-radius-small $border-radius-small;
        bottom: 0;
        color: $color-white;
        font-size: 1.1em;
        padding: 3em 1em 1em;
        position: absolute;
        width: 100%;
    }

.modal-form {
    padding: 1em;
}

/*------------------------------------*\
    #DETAILS BLOCK
\*------------------------------------*/

.details-card {
    display: inline-block;
    position: relative;

    img.details-card__img {
        border-radius: $border-radius-small $border-radius-small 0 0;
    }

}        
    .details-card__info {
        background-color: $color-brand-purple;
        border-radius: 0 0 $border-radius-small $border-radius-small;
        color: $color-white;
        padding: 2em;
        position: relative;

        p, ol, ul {
            color: $color-white;
        }

        ol li:before {
            color: $color-white;
        }
    }

/*------------------------------------*\
    #INSTA BLOCK
\*------------------------------------*/

.single-insta {
    img {
        border-radius: $border-radius-small;
    }
}

/*------------------------------------*\
    #CTA BLOCK
\*------------------------------------*/

.block-cta {
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
    text-align: center;

    .block-cta__headline {
        color: $color-brand-purple;
    }
    
    @media only screen and (min-width: $bp-med) {
        padding-top: 2em;
        padding-bottom: 2em;
        text-align: left;

        .block-cta__headline {
            display: inline-block;
            padding-right: 10%;
            vertical-align: middle;
            width: 70%;
        }

        button, .btn {
            position: absolute;
            right: 1em;
            top: 30%;
        }
    }

    @media only screen and (min-width: $bp-large) {
        .block-cta__headline {
            display: inline-block;
            padding-right: 10%;
            vertical-align: middle;
            width: 80%;
        }
    }
}

/*------------------------------------*\
    #TOGGLE BLOCK
\*------------------------------------*/

.link-toggle {
    &:after {
        content: "\61";
        display: inline-block;
        font-family: "icons";
        font-size: .8em;
        transition: all .2s;
        vertical-align: middle;
    }

    &.read-less {
        &:after {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            transition: all .2s;
        }
    }
}
    .link-toggle__text {
        padding-right: .5em;
    }

.toggle-area {
    max-height: 999px;
    overflow: hidden;
    transition: max-height .3s;

    &.hidden {
        max-height: 0;
        transition: max-height .2s;
    }
}