/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Small button
 */
.btn-small {
	padding: $pad-half;
}

/**
 * Large button
 */
.btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $color-gray-50;
	font-size: 1.4rem;
	font-weight: normal;
}

/**
* Circle Button
*/
.btn-circle {
	min-width: 50px;
	padding: 1rem;
	text-align: center;
}

/**
 * Text button
 */
.text-btn {
	position: relative;
	background: none;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    
    &:after {
	    position: absolute;
		content: " →";
		height: 20px;
		width: 20px;
		//background: url("../../../images/icon-arrowhead.svg") no-repeat;
	    //top: 7px;
		right: -26px;
		transition: all 0.2s ease;
	}
	
	&:hover, &:focus {
	    color: $color-gray-73;
	    
	    &:after {
		    right: -28px;
	    }
    }
    
    .block-media--small & {
	    font-size: 1rem;
	}
}

/**
 * Button on overlay
 */
 
 .btn--overlay {
	 background: $color-gray-35;
 }

 .social-icons {
 	a.btn-circle {
 		font-size: 1em;
 		margin-left: .5em;
 		min-width: 33px;
 		padding: .5rem; 
 	}
 }