/*------------------------------------*\
    #FEEDBACK
\*------------------------------------*/

/**
 * 1) Feedback consists of components that give information back to the user. Examples include progress bars, progress wheels, etc.
 */
 
 
 /**
 * Progress bar
 */
 .progress {
	-webkit-appearance: none;
    appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #cdcaa2;
    background-size: auto;
    width: 100%;
    max-width: 300px;
    height: 0.5rem;
    border-radius: $border-radius;
    margin-bottom: 1em;
 }

.progress::-moz-progress-bar {
	background-color: red;
	background-image:
	linear-gradient(
	  to right, 
	  red, 
	  #f06d06, 
	  rgb(255, 255, 0), 
	  green
	);
	background-size: 300px 50px;
	border-radius: $border-radius;
}

.progress::-webkit-progress-value {
	background-color: red;
	background-image:
	linear-gradient(
	  to right, 
	  red, 
	  #f06d06, 
	  rgb(255, 255, 0), 
	  green
	);
	background-size: 300px 50px;
	border-radius: $border-radius;
}

 
progress[value]::-webkit-progress-bar {
  border-radius: $border-radius;
}

.anim::-moz-progress-bar {
	-moz-transition: width 4s ease;
}

.anim::-webkit-progress-value {
	-webkit-transition: width 4s ease; 
		-o-transition: width 4s ease; 
  	transition: width 4s ease; 
}

.progress.start::-moz-progress-bar {
	width: 0% !important;
	background: #cdcaa2 !important;
	
}

.progress.start::-webkit-progress-value {
	width: 0% !important;
	background: #cdcaa2 !important;
	
}