/*------------------------------------*\
    #FIELDS
\*------------------------------------*/

.field {
	margin-bottom: 1rem;
}

.field__note {
	font-size: $font-size-small;

	a {
		text-decoration: underline;
	}
}