/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

/**
 * Footer
 */
.footer {
	clear: both;
	overflow: hidden;
	line-height: 1.2;
	padding: 1em 0 1.5em;
	position: relative;
	text-align: center;

	.social-icons {
		margin-top: 1em;
	}

	.copyright {
		margin-top: 1em;
	}

	.btn {
		padding: .5rem 1rem;
	}

	@media only screen and (min-width: $bp-med) {
		text-align: left;
		
		.footer__buttons {
			float: right;
			text-align: right;
		}

		.copyright {
			bottom: 0;
			position: absolute;
		}
	}


}

/**
 * Footer nav
 */
.footer__info {
	max-width: 40em;
	
	a {
		color: $color-gray-15;
		text-decoration: underline;
		
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}