/*------------------------------------*\
    #FOOTER NAVIGATION
\*------------------------------------*/

/**
 * Footer Nav
 */
.footer-nav {
	display: none;
	margin-left: 1rem;
	text-align: center;

	@media only screen and (min-width: $bp-med-2) {
		display: inline-block;
		vertical-align: top;

		.btn {
			float: right;
		}

		.social-icons {
			float: right;
		}
	}
 
	@media only screen and (min-width: $bp-large) {
		margin-top: -1em;
	}

	/**
	 * Footer Nav List
	 */
	ul {
		display: flex;
		list-style: none;
		flex-direction: column;
		
		@media all and (min-width: $bp-small) {
			flex-direction: row;
		}

		/**
		 * Footer Nav List Item
		 */
		li {
			width: 50%;
			
			@media all and (min-width: $bp-small) {
				width: inherit;
			}

			/**
			 * Footer Nav Links
			 */
			a {
				color: $color-brand-neutral;
				font-family: $font-heading;
				display: block;
				padding: 1rem 2rem 1rem 0;
				
				&:hover, &:focus {
					color: $color-brand-blue;
				}
			}

			ul {
				display: none;

				a {
					font-family: $font;
				}
			}

			@media all and (min-width: $bp-med-2) {

				a {
					text-align: left;
				}
				
				ul {
					display: block;
					margin-right: 3em;
					text-align: left;

					li {
						padding: .25em 0;

						a {
							padding: .25rem 0;
							color: $color-gray-50;
						}
					}
				}
			}	
		}	
	}
}