/*------------------------------------*\
    #FORMS
\*------------------------------------*/

.field-2up {
    @media only screen and (min-width: #{$bp-small}) {
        @include pinkgridrow( $rowitems: 2 );
    }
}

.field-row {
    padding-bottom: 1em;
}

.inline-label {
    display: inline-block;
    margin-right: 1em;

    input {
        margin-right: .5em;
    }
}


/**
 * Search form
 */
.search-form {
	float: right;
    margin: 1em 0 0 0;
    max-height: 0;
    overflow: hidden;
    padding-bottom: 0;
    @include transition(all, .8s, ease);
    max-width: auto;
    width: 100%;

    &.search-expanded {
        max-height: 8em;
        max-width: auto;
        width: 100%;
        @include transition(all, .8s, ease);
    }

    @media only screen and (min-width: #{$bp-small}) {
    	margin: 0 1em 0 0;
    	max-height: 8em;
    	max-width: 0;
    	width: auto;

    	&.search-expanded {
    		max-height: 8em;
	        max-width: 100%;
	        width: auto;
	    }
    }

}

.search-toggle {
    float: right;
    @include transition(padding, .8s, ease);

    &:hover {
        border: none;
    }

    &:before {
        font-family: 'icons';
        content: "\73";
    }
}

/**
 * Search input
 */
.search-form__input {
	padding: 0.5rem;
}

/**
 * Stacked form button wrapper
 */
.form__actions {
	margin: 2rem 0;
	text-align: center;
}

/**
* Email Form
*/

.email-form {
	input[type="email"] {
        border: 0;
		border-radius: $border-radius 0 0 $border-radius;
		display: inline-block;
		margin-right: -.3em;
		width: 75%;
	}
	input[type="submit"] {
		border-radius: 0 $border-radius $border-radius 0;
		display: inline-block;
        padding-left: 0;
        padding-right: 0;
		width: 25%;
	}
}

/**
* Form with inner label
*/
.input__inner-label {
    position: relative;

    input {
        background-color: transparent;
        border: 2px solid $color-gray-15;
        padding-top: 1.8em;
        margin-bottom: 1em;

        &:focus, &:valid {
            
            & + label {
                font-size: .8em;
                left: 1.2em;
                top:.5em;
                margin-bottom: -1em;
            }
        }

        &:focus {
            color: $color-brand-neutral;
        }

        &:valid {
            & + label {
                color: $color-gray-35;
            }
        }
    }

    & > label {
        font-size: 1em;
        left: 1em;
        position: absolute;
        top: 1em;
        transition: 0.2s;
        width: 100%;
    }
}
