/*------------------------------------*\
    #HEADER
\*------------------------------------*/

/**
 * Header
 */
.header {
	background-color: $color-white;
	margin-bottom: -.5em;
	padding: 0 0 .5em 0;
	position: relative;
	text-align: left;
	z-index: 10;

	@include drop-shadow( 0,0, 10px, .1 );
	
	@media all and (min-width: $bp-med) {
		
	}
}

/**
 * Header Controls
 * 1) This container holds the primary nav and search menu
 */
.header__controls {
	float: left;
	margin-left: auto;
	padding-right: 1rem;
	z-index: 99;

	.btn {
		border-radius: 0 0 $border-radius-small $border-radius-small;
		float: right;
		margin-left: 1em;
		min-width: inherit;
		padding: .5em .75em;

		&.search-toggle {
			margin-left: 0;
		}
	}

	input {
		padding: .45em .5em;
	}

	@media only screen and (min-width: #{$bp-small-2}) {
		float: right;
		text-align: right;
		width: 75%;
	}
}

	.header__buttons {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 999;

		@media only screen and (min-width: #{$bp-med}) {
			position: relative;
			top: auto;
			right: auto;
		}

		@media only screen and (min-width: #{$bp-large}) {
			min-height: 3.6em;
		}
	}