/*------------------------------------*\
    #LISTS
\*------------------------------------*/

/**
 * Inline list
 */
.inline-list {
	li {
		display: inline-block;
	}
}

/**
 * Social list
 */
.social-list {
	li {
		margin: 0 0.4rem $space 0;
	}
	
	a {
		font-size: 1.6em;
	}
}


/**
 * Headline list
 */
.headline-list {
	margin-bottom: $space;

	&.flush {
		margin: 0;
	}

	h4 {
		font-weight: normal;
	}

	li {
		padding: $pad-quarter 0;
		border-top: 1px solid $color-gray-35;
	}
}

/**
 * Post list
 */
.post-list {
	li {
		margin-bottom: $space;
	}
}

/**
 * Bullet list
 */
.bullet-list {
	list-style: square;
	margin: 0 0 1em 1.2em;
	line-height: 1.3;

	li {
		margin-bottom: $space;
	}
}

/**
 * Text list
 */
.text-list {
	margin: 0 0 1em;
	line-height: 1.3;

	li {
		margin-bottom: $space;
	}
}


/**
 * Media List
 */

.media-list {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.media-list__item {
	@include pinkmagic( $rowitems: 3, $padside: 5%);
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5em;

	.single-card__container {
		align-items: center;
		display: flex;
		flex-grow: 1;
	}

	&:nth-of-type(8n+1){
		.archive-card {
			.single-card__info {
				background-color: $color-brand-neutral;
			}
		}
	}

	&:nth-of-type(8n+3){
		.archive-card {
			.single-card__info {
				background-color: $color-brand-orange;
			}
		}
	}

	&:nth-of-type(8n+4){
		.archive-card {
			.single-card__info {
				background-color: $color-brand-blue;
			}
		}
	}

	&:nth-of-type(8n+5){
		.archive-card {
			.single-card__info {
				background-color: $color-brand-green;
			}
		}
	}

	&:nth-of-type(8n+6){
		.archive-card {
			.single-card__info {
				background-color: $color-brand-red;
			}
		}
	}

	&:nth-of-type(8n+7){
		.archive-card {
			.single-card__info {
				background-color: $color-brand-pink;
			}
		}
	}

	&:nth-of-type(8n+8){
		.archive-card {
			.single-card__info {
				background-color: $color-brand-blue-lt;
			}
		}
	}
}


/**
 * Insta List
 */
.insta-list__item {
	margin-bottom: 1.5em;
	margin-right: 1em;

	//@include pinkmagic( $rowitems: 5, $padside: 2%)
}

/**
 * Tile list
 */
.tile-list{
	display: flex;
	flex-direction: column;
	
	@media all and (min-width: 55rem) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

/**
 * Tile list item
 */
 
.tile-list__item {
	width: 100%;
	margin-bottom: 1em;
	position: relative;
	
	&:nth-child(2n) {
		padding-right: 0;
	}
	
	@media all and (min-width: 55rem) {
		width: 50%;
		margin: 0;
		padding: 0 1em 1em 0;
	}
}
