/*------------------------------------*\
    #LOGO
\*------------------------------------*/

.logo {
	display: inline-block;
	width: 100%;
	max-width: 10em;

	.header & {
		max-width: 7em;
	}

	.footer & {
		max-width: 9em;
	}
}

.logo-link, .logo-footer-link {
	display: inline-block;
	padding: 0.2rem 2rem;


	@media only screen and (min-width: #{$bp-med}) {
		padding: .2rem 1rem 0;
	}

	@media only screen and (min-width: #{$bp-med-2}) {
		
	}

	@media only screen and (min-width: #{$bp-large}) {

	}
}

	.logo-footer-link {
		padding-bottom: .5em;
	}