/*------------------------------------*\
    #MESSAGING
\*------------------------------------*/

/**
 * Alert
 */
.alert {
	animation: slideDown 2s forwards;
	background: $color-utility-neutral;
	color: $color-white;
	font-size: 1em;
	overflow: hidden;
	padding: 0 1rem;
	text-align: center;
	
	a {
		color: inherit;
		text-decoration: underline;
	}
}

/**
 * Error alert
 */
.alert--error {
	background: $color-utility-negative;
}

/**
 * Success alert
 */
.alert--success {
	background: $color-utility-positive;
}

/**
 * Warning alert
 */
.alert--warning {
	background: $color-utility-caution;
}

/**
 * Info alert
 */
.alert--info {
	background: $color-utility-neutral;
}

/**
 * Slidedown animation
 */
@keyframes slideDown {
  0%   {
	  max-height: 0;
	  padding: 0;
  }

  100% {
	  padding: 1rem;
	  max-height: 12em;
  }
}