/**
* Mobile Menu Open Button
*/

.open-button-wrapper {
        position: relative;
        width: 100%;
    }

        .open-button {
            background: none;
            border: 0;
            font-size: 1em;
            height: 2.8em;
            overflow: hidden;
            padding: .4em;
            position: absolute;
            top: 0;
            width: 2.5em;
            z-index: 1000;

            &:active,
            &:focus {
                outline: 0;
            }

            &:hover {
                border: 0;
            }

            span {
                display: inline-block;
                left: 100%;
                position: absolute;
            }
        }

        .open-main-menu {
            left: 0;

            &:before {
                color: $color-brand-blue;
                content: '\2630';
                display: block;
                font-size: 1.5em;
                width: 100%;
            }

            &:hover:before {
                color: $color-brand-blue-lt;
            }

            &:after {
                color: $color-brand-blue;
                content: 'MENU';
                display: block;
                font-size: 7px;
                font-weight: 600;
                letter-spacing: .5px;
                width: 100%;
            }

            &:hover:after {
                color: $color-brand-blue-lt;
            }
        }


@media only screen and (max-width: #{$bp-med-2}) {
    .open-the-menu {
        overflow: hidden;

        body {
            overflow: hidden;
            height: 100%;
        }

        .wrapper {
            width: 100%;
            height: 100%;
            margin-left: $sidebarWidthMid;
            margin-right: -$sidebarWidthMid;
            overflow: visible;
        }
        .nav-main {
            //height: 100%;
            overflow-y: auto;

            #closeSidebar {
                border: 1px solid $color-brand-blue;
                border-radius: 50%;
                color: $color-brand-blue;
                display: inline-block;
                font-size: 1.8em;
                line-height: 1;
                margin-top: .75em;
                padding: 0 .29em .1em .25em;
            }
        }

        .admin-bar .nav-main {
            padding-bottom: 4em;
        }
    }

}

@media only screen and (max-width: #{$bp-small}) {
    .open-the-menu {
        .wrapper {
            margin-left: $sidebarWidthSmall;
            margin-right: -$sidebarWidthSmall;
        }
    }
}

@media only screen and (min-width: #{$bp-med-2}) {
    .open-button-wrapper {
        display: none;
    }

    .open-the-menu {
        .wrapper {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }

    #closeSidebar {
        display: none;
    }
}
