/**
 * Pagination
 */
.pagination {
	background-color: $color-gray-02;
	min-height: 1em;
	overflow: visible;
	text-align: center;

	li {
		display: inline-block;	
		padding: 0;

		&:before {
			content: '';
		}
	}

	a {
		border-radius: 50%;
		color: $color-brand-neutral;
		padding: .75em 1.1em;

		&:hover, &:focus {
			background-color: $color-brand-blue;
			color: $color-white;
		} 

	}

	.active a {
		background-color: $color-brand-green;
		color: $color-white;
	}
}

/**
* Breadcrumbs
*/
.breadcrumb {

	a {
		color: $color-gray-50;

		&:hover, &:focus {
			color: $color-text-link;
		}
	}
	span {
		white-space: nowrap;
		
		&:after {
			content: "|";
			padding: 0 .5em;
		}

		&:last-of-type {
			a {
				color: $color-brand-neutral;
				font-family: $font-heading;
			}

			&:after {
				content: "";
			}
		}
	}

	@media only screen and (min-width: #{$bp-med}) {
		margin-bottom: 1.75em;
	}
}

/**
 * Nav toggle button
 * 1) Styles for the general nav toggle button
 */
.nav-toggle {
	display: block;
	padding: 0.9rem 1rem 0.7rem;
	font-size: 1.3rem;
	line-height: 1;

	@media all and (min-width: $bp-med) {
		display: none;
	}

	@media all and (max-width: 17em) {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	}
}

/**
 * Search nav toggle button
 * 1) Specific nav toggle button for the search form
 */
.nav-toggle-search {
	display: block;
	
	@media all and (min-width: $bp-small-2) {
		display: none;
	}
}

.share-icons {
	margin-top: 2em;
	
	.social-icons {
		display: inline-block;
	}
}

.share-icons__heading {
	display: inline-block;
	font-family: $font-heading;
	font-size: 1.3rem;
}