/*------------------------------------*\
    #PAGE HEADER
\*------------------------------------*/
/**
 * 1) The page header contains the page's heading, as perhaps other page information
 *    such as description or actions (edit, delete, etc).
 */

.page-header__title {
	background-color: $color-brand-blue;
	background-image: url( "../../../images/bg-image-icon.png" );
	background-image: linear-gradient(transparent, transparent), url(bg-pattern-icon());
	background-repeat: repeat;
	background-size: 100%;
	color: $color-white;
	padding: 2rem;
	position: relative;
	text-align: center;

	&.bg-yellow {
		background-image: url( "../../../images/bg-image-icon.png" );
		background-image: linear-gradient(transparent, transparent), url(bg-pattern-icon($opacity:0.24));
	}

	&.bg-red, &.bg-purple {
		background-image: url( "../../../images/bg-image-icon.png" );
		background-image: linear-gradient(transparent, transparent), url(bg-pattern-icon($opacity:0.08));
	}
}
