/*------------------------------------*\
    #PRIMARY NAVIGATION
\*------------------------------------*/

/**
 * Navigation tag
 */
.primary-nav {
	@include transition(all, .8s, ease);

	@media only screen and (max-width: #{$bp-med-2}) {
        padding: 2em;
        position: absolute;
        right: 100%;
        text-align: left;
        top: 0;
        width: $sidebarWidthMid;
	}

	@media all and (min-width: #{$bp-med-2}) {
		display: block;
		margin-left: 1rem;
	}

	/** 
	* Nav List
	*/
	ul {
		list-style: none;

		/** 
		* Nav Item
		*/
		li {
			cursor: pointer;
			font-weight: bold;
			padding: .5rem;

			&:last-of-type {
				padding-right: 0;
			}

			a {
				color: $color-brand-neutral;

				&:hover, &:focus {
					color: $color-brand-blue;
				}
			}
		}

		@media all and (min-width: #{$bp-med-2}) {
			display: inline-block;

			li {
				display: inline-block;
			}
		}

		@media all and (min-width: #{$bp-large}) {
			li {
				padding: 1rem;
			}
		}
	}
}