/*------------------------------------*\
    #SECTIONS
\*------------------------------------*/

/**
 * Section
 */
.section {
	position: relative;
	margin: 0 0 $space-double;

	.l-sidebar & {
		@media all and (min-width: $bp-small-3) {
			margin-right: 2em;
			width: 50%;

			&:last-child {
				margin-right: 0;
			}
		}

		@media all and (min-width: $bp-large) {
			width: 100%;
			margin-right: 0;
		}
	}
}

/**
 * Section title
 */
.section__title {
	position: relative;
	color: $color-gray-73;
	margin-bottom: 1.5rem;
	overflow: hidden;

	&:after {
		border-top: 2px solid $color-brand-green;
		content:"";
	    display: inline-block;
	    height: 0.5em;
	    margin-right: -100%;
	    margin-left: 1rem;
	    vertical-align: bottom;
	    width: 100%;        
	}

	&.archive-title {
		display: inline-block;
		vertical-align: middle;

		&:after {
			border: 0;
			vertical-align: middle;
		}
	}
}

	.archive-title__link {
		display: inline-block;
		font-family: $font-heading;
		font-size: 1.2em;
		margin: .5rem 0 1.5rem;
		vertical-align: middle;

		&:after {
			content: "\24";
			font-family: "icons";
			margin-left: 0.5em;
		}

		@media only screen and (min-width: $bp-med ) {
			float: right;
			margin-top: 1rem;
		}
	}

.section-insta__title {
	padding-left: 1em;

	&:before {
		padding-right: .5em;
	}

	@media only screen and (min-width: $bp-med) {
		padding-left: 3em;
	}

}

.section-signup {
	background-image: url('../../images/bg-pattern-smile-primary.png');
	background-repeat: repeat;
	background-size: 10%;

	&.bg-red {
		background-image: url('../../images/bg-pattern-smile-secondary.png');
	}
	@media only screen and (min-width: $bp-med) {
		padding-right: 3rem;

		.section-signup__info {
			display: inline-block;
			padding-right: 10%;
			vertical-align: middle;
			width: 55%;
		}

		.email-form {
			display: inline-block;
			width: 44%;
		}
	}
}

.section-calculator {

	input {
		border-color: $color-white;
		border-radius: $border-radius;
		color: $color-white;

		&:valid {

            & + label {
                color: lighten($color-brand-pink, 15%);
            }
        }

        &:invalid {
        	border-color: $color-white;
        }

        &.error {
        	border-color: $color-brand-orange;
        }
	}

	label {
		color: lighten($color-brand-pink, 15%);
	}

	.section-calculator__img {
		display: none;
		overflow: hidden;

		img {
			height: 100%;
			width: auto;
		}
	}

	.section-calculator__info {
		background-color: $color-brand-pink;
		color: $color-white;
		padding: 1em 1em 7em 1em;
		position: relative;

		p, h4 {
			color: $color-white;
		}
	}

	.section-calculator__form {
		margin-top: 1em;
	}

	.section-calculator__results {
		background-color: lighten($color-brand-pink, 10%);
		bottom: 0;
		font-size: 1.7em;
		left: 0;
		padding: 1em;
		position: absolute;
		text-align: center;
		width: 100%;
	}

	@media only screen and (min-width: $bp-small) {
		.section-calculator__info {
			padding: 2em 2em 10em 2em;
		}
	}

	@media only screen and (min-width: $bp-med-2) {
		display: flex;
		flex-direction: row;

		.section-calculator__info, .section-calculator__img {
			display: block;
			flex-grow: 1;
			flex-basis: 50%;
		}

		.section-calculator__info {
			padding: 3em 3em 10em 2em;
		}

		.section-calculator__results {
			padding: 2em 3em;
		}	
	}

	@media only screen and (min-width: $bp-xxl) {
		.section-calculator__img {

			img {
				height: auto;
				width: 100%;
			}
		}
	}	
}

.section-masonry-grid {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}
	.single-masonry-grid, .grid-sizer {
		width: 96%;

		@media only screen and (min-width: $bp-small-2) {
			width: 44%;
		}	
		@media only screen and (min-width: $bp-large) {
			width: 30%;
		}
	}

	.single-masonry-grid {
		display: block;
		margin-bottom: 1em;
		position: relative;

		.btn-circle {
			font-size: 2em;
			padding: .5rem;
			position: absolute;
			right: 1em;
			bottom: 1em;
		}

		img {
			border-radius: $border-radius-small;
		}
	}

.section-map {
	height: 0;
	padding: 0;
	padding-bottom: 50%; // ratio of viewbox in order to allow SVG to scale in IE
	position: relative;
	width: 100%;

	svg {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	text {
		fill: $color-white;
	}

	path {
		@include transition( all, .2s, ease );

		&:hover, &:focus {
			@include transition( all, .2s, ease );
		}
	}

}
	.section-map__cta {
		text-align: center;

		.btn {
			&:before {
				content: '⭑ ';
			}
		}
	}
	

	text.map-labels {
		fill: $color-brand-neutral;
		font-family: $font-heading;
		font-size: 0.8em;
	}

	.fill-blue {
	    fill: $color-brand-blue !important;

	    &:hover, &:focus {
	    	fill: lighten( $color-brand-blue, 10% ) !important;
	    }
	}

	.fill-yellow {
	    fill: $color-brand-yellow !important;

	    &:hover, &:focus {
	    	fill: lighten( $color-brand-yellow, 10% ) !important;
	    }
	}

	.fill-green {
	    fill: $color-brand-green !important;

	    &:hover, &:focus {
	    	fill: lighten( $color-brand-green, 10% ) !important;
	    }
	}

	.fill-orange {
	    fill: $color-brand-orange !important;

	    &:hover, &:focus {
	    	fill: lighten( $color-brand-orange, 10% ) !important;
	    }
	}

	.fill-pink {
	    fill: $color-brand-pink !important;

	    &:hover, &:focus {
	    	fill: lighten( $color-brand-pink, 10% ) !important;
	    }
	}

	.fill-purple {
	    fill: $color-brand-purple !important;

	    &:hover {
	    	fill: lighten( $color-brand-purple, 10% ) !important;
	    }
	}

	.fill-red {
	    fill: $color-brand-red !important;

	    &:hover, &:focus {
	    	fill: lighten( $color-brand-red, 10% ) !important;
	    }
	}

	.fill-gray {
	    fill: $color-brand-neutral !important;

	    &:hover, &:focus {
	    	fill: lighten( $color-brand-neutral, 10% ) !important;
	    }
	}

	.fill-light {
	    fill: $color-gray-15 !important;
	}