@media only screen and (max-width: #{$bp-med-2}) {
    .nav-main {
        position: relative;

        li {
            position: relative;
        }

        // .menu-item-has-children {

        //     a {
        //         position: relative;
        //     }
            
        // }

        .menu-toggle {
            background: lighten($color-brand-blue, 40%);
            cursor: pointer;
            display:inline-block;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 2em;

            &:after {
                content: '+';
                color: $color-brand-blue;
                font-size: 1.2em;
                padding: .3em 0;
                display: inline-block;
                width: 100%;
                text-align: center;
            }
        }

        .menu-toggle-active {
            &:after {
                content: "–";
            }
        }

        ul.sub-menu {
            border-bottom: 1px solid $color-brand-neutral;
            margin-left: 0;

             &.menu-collapse {
                border: 0;
                height: 0;
                overflow: hidden;
            }
        }
    }
}

@media only screen and (min-width: #{$bp-med-2}) {
    .nav-main , .nav-main * {
        margin: 0;
        padding: 0;  
    }

    .nav-main {
        ul.sub-menu {
            background: $color-gray-15;
            border: 0;
            display: block;
            height: auto;
            left: .5em;
            max-height: 0;
            overflow: hidden;
            padding: 0 .5em;
            position: absolute;
            text-align: left;
            top: 100%;
            @include transition(all, .2s, ease);
            //width: 10em // if you want a fixed width menu with text wrap
            z-index: 99;

            &:hover {
                overflow: inherit;
            }

            ul {
                top: 100%;
                left: 10%;
                background: darken($color-gray-15, 5%);
            }

            li {
                padding: 0em;
                width: 100%;

                & > a {
                    color: $color-brand-neutral;
                    padding: 1rem;
                    text-transform: none;
                    width: 100%;
                    // white-space: normal // if you want a fixed width menu with text wrap

                    &:hover, &:focus {
                        color: $color-brand-blue;
                    }
                }
            }
        }

        li {
            position: relative;

            &:hover,
            &.sfHover {
                
                & > ul {
                    display: block;
                    max-height: 800px; // change based on your menu height
                    min-width: 10em;
                    padding: .5em;
                    @include transition(all, .5s, ease);
                }
            }
        }

        & > li {
            //right align last submenu
            &:last-child {
                ul {
                    left: auto;
                    right: 0;
                }
            }
        }

        a {
            display: block;
            position: relative;
            // @include text-overflow();
        }
    }
}