/*------------------------------------*\
    #TEXT
\*------------------------------------*/

/**
 * Passages of text
 */
.text {
	a {
		text-decoration: underline;
	}

	ul {
		list-style: disc;
		margin: 0 0 $space 1.2em;

		ul {
			margin-bottom: 0;
		}
	}

	/**
	* Color the numbers
	*/
	ol {

		li {

			&:before {
				color: $color-brand-purple;
			}

			&:nth-of-type(6n+2) {
				&:before {
					color: $color-brand-pink;
				}
			}

			&:nth-of-type(6n+3) {
				&:before {
					color: $color-brand-green;
				}
			}

			&:nth-of-type(6n+4) {
				&:before {
					color: $color-brand-blue;
				}
			}

			&:nth-of-type(6n+5) {
				&:before {
					color: $color-brand-red;
				}
			}

			&:nth-of-type(6n+6) {
				&:before {
					color: $color-brand-orange;
				}
			}
		}

		ol {
			margin-bottom: 0;
		}
	}

}

/**
 * Text passage
 */
 
 .s-text-passage {
	 margin-bottom: 1rem;
	 position: relative;

	 .two-col & {
	 	padding-left: 1em;
	 	padding-right: 1em;
	 } 
 }

/**
 * Image within text passage
 */
.text-passage__img {
	border-radius: $border-radius;
	margin-bottom: 1rem;
}

	.text-special {
		font-size: 1.3em;
		text-align:center; 

		h2 {
			color: $color-brand-orange;
		}

		ol li {
			display: inline-block;
			margin: 0 1em;
		}
	}

	.background-logo {

	}

	.background-logo__headline {
		position: absolute;
		text-align: right;
		top: 30%;
	}