/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */

#sg-patterns {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 0.5em;
}

.sg-pattern {
  margin-left: 1em;
  margin-right: 1em;
}

  .sg-pattern-example {
    position: relative;
  }

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.sg-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.sg-colors li {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 0.3em;
  margin: 0 0.5em 0.5em 0;
  min-width: 5em;
  max-width: 14em;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.sg-swatch {
  display: block;
  height: 4em;
  margin-bottom: 0.3em;
  border-radius: 5px;
}

  .sg-color-green{ background-color:#C0D242; }
  .sg-color-blue{ background-color:#29C1DB; }
  .sg-color-blue-lt{ background-color:#A2DEF8; }
  .sg-color-purple{ background-color:#B363A7; }
  .sg-color-red{ background-color:#E54E50; }
  .sg-color-yellow{ background-color:#F8DF1E; }
  .sg-color-pink{ background-color:#F179AF; }
  .sg-color-orange{ background-color:#F99D1B; }
  .sg-color-neutral{ background-color:#525D6C; }

.sg-label {
  font-size: 90%;
  line-height: 1;
}

#atoms-logo-reversed .sg-pattern-example {
	background: #444444;
	display: inline-block;
}

#molecules-logo-footer-link .sg-pattern-example {
	display: inline-block;
}

@media only screen and (min-width: 46em ) {
  #organisms-block-details .sg-pattern-example, #organisms-block-card-single .sg-pattern-example, #organisms-block-card-archive .sg-pattern-example, #organisms-block-insta .sg-pattern-example, #organisms-block-card-modal .sg-pattern-example {
      max-width: 40%;
  }
}
