<div class="alert alert--info ">
	{{{ alertText }}}
</div>

<div class="alert alert--warning ">
	{{{ alertText }}}
</div>

<div class="alert alert--error ">
	{{{ alertText }}}
</div>

<div class="alert alert--success ">
	{{{ alertText }}}
</div>
