<div class="block-hero-home">
	{{> atoms-hero:block-hero__img }}
	<div class="block-hero__container">
		<div class="block-hero__content">
			<h2 class="block-hero__headline">{{ headline.short }}</h2>
		</div>
	</div>
	<div class="block-hero__accent"></div>

</div><!-- end block-hero-home-->