<div class="block-hero">
	{{> atoms-hero-small:block-hero__img }}
	<div class="block-hero__container {{ colorClass }}">
		<div class="block-hero__content">
			<h2 class="block-hero__headline">{{ headline.short }}</h2>
			<p class="">{{ excerpt.short }}</p>
			{{> atoms-button }}
		</div>
	</div>

</div><!-- end block-hero-->