{{> atoms-hero-small:block-hero__img }}

<div class="block-hero-bubbles alt">
	<div class="block-hero__accent alt"></div>
	<div class="block-hero__container alt">
		<div class="block-hero__content">
			<h2 class="block-hero__headline">{{ headline.short }}</h2>
			{{> atoms-button }}
		</div>
	</div>
</div><!-- end block-hero-bubbles-->