<div class="two-col left bubble-text">
	<div class="s-text-passage">
		<p>{{ excerpt.medium }}</p>
	</div>
</div>
<div class="block-hero-bubbles">
	<div class="block-hero__accent"></div>
	<div class="block-hero__container">
		<div class="block-hero__content">
			<h2 class="block-hero__headline">{{ headline.short }}</h2>
			{{> atoms-button }}
		</div>
	</div>
</div><!-- end block-hero-bubbles-->