<div class="modal-card">
	{{> atoms-square:modal-card__img }}
	<div class="modal-card__info">
		<h5 class="modal-card__headline">{{ headline.short }}</h5>
		<p class="modal-card__id">{{ cardData.id }}</p>
		<p class="modal-card__description">{{ excerpt.short }}</p>
	</div>

</div><!-- end block-modal-card -->