<div class="single-card__container">
		<a href="{{ url }}">
			{{> atoms-square:single-card__img }}
		</a>
	</div>
	<div class="single-card__info">
		<a href="{{ url }}" >
			<h5 class="single-card__headline">{{ headline.short }}</h5>
			<p class="single-card__description">{{ cardData.id }}</p>
			{{> atoms-button-arrow }}
		</a>
	</div>

<!-- end block-single-card -->