<div class="details-card">
	{{> atoms-square:details-card__img }}
	<div class="details-card__info">
		<span class="details-card__text">( {{ excerpt.long }} )</span>
	</div>

</div><!-- end block-details-card -->