<div class="single-card__container">
		<a href="{{ url }}">
			{{> atoms-square:single-card__img }}
		</a>
	</div>
	<div class="single-card__info">
		<a href="{{ url }}">
			<h5 class="single-card__headline">{{ headline.short }}</h5>
			<span class="single-card__count">( {{ number }} )</span>
		</a>
	</div>

<!-- end block-archive-card -->