<div class="block-toggle">
	<a class="link-toggle" id="link-toggle"><span class="link-toggle__text">{{toggleLink}}</span></a>
	<div class="toggle-area hidden" id="toggle-area">
		{{>molecules-field-1up}}
	</div>
</div>