<nav id="nav" class="primary-nav nav-main" role="navigation">

	<ul>

		{{# primaryNav }}
		<li><a href="{{ url }}">{{ label }}</a>
			{{# hasmenu }}
			<ul class="sub-menu">
				{{# submenu }}
					<li><a href="{{ url }}">{{ label }}</a></li>
				{{/ submenu }}
			</ul><!--end submenu-->
			{{/ hasmenu }}
		</li>
		{{/ primaryNav }}

	</ul><!--end primary-nav-->
	<a id="closeSidebar"> × </a>

</nav><!--end primary-nav-->
