<nav class="footer-nav">

	<ul class="footer-nav__list">

		{{# footerNav }}
		<li class="footer-nav__item"><a href="{{ url }}" class="footer-nav__link">{{ label }}</a>
			<ul class="sub-menu">
				{{# submenu }}
					<li><a href="{{ url }}">{{ label }}</a></li>
				{{/ submenu }}
			</ul><!--end submenu-->
		</li>
		{{/ footerNav }}

	</ul><!--end footer-nav__list-->

</nav><!--end footer-nav-->