<div class="form form--stacked" method="post" action="{{ link.pages-dashboard }}">
	{{# formTitle }}
	<h2 class="form__title section__title">{{ formTitle }}</h2>
	{{/ formTitle }}
	
	{{> molecules-field-2up }}
	{{> molecules-field-1up }}

	{{# textarea }}
		{{> molecules-textarea }}
	{{/ textarea }}

	<div class="field-row">
		{{> atoms-file }}
	</div>

	<div class="field-row">
		{{> organisms-block-toggle }}
	</div>

	<div class="field-row">
		{{> molecules-radio-buttons }}
	</div>

	<div class="field-row">
		{{> atoms-select-menu }}
	</div>

	<div class="form__actions">
		{{> atoms-button }}
	</div>
</div><!--end form--stacked-->
