<div class="block-hero-background pattern section-signup {{ emailClass }}">
	<div class="section-signup__info">
		<h2>{{ headline.short }}</h2>
		<p>{{ excerpt.short }}</p>
	</div>
	{{> molecules-single-form }}
</div>