<div class="section-two-col">
	<div class="two-col left">
		<h2>{{ headline.short }}</h2>
		<p>{{ excerpt.short }}</p>
	</div>
	<div class="two-col right">
		<img src="{{img.landscape-4x3.src}}">
	</div>
</div>