<div class="section-calculator">
	
	<div class="section-calculator__info">
		<h3 class="section-calculator__title">{{ headline.short }}</h3>
		<span class="section-caclulator__text">( {{ excerpt.short }} )</span>
		<div class="section-calculator__form">
		{{> atoms-text-field-inner-label }}
		{{> atoms-text-field-inner-label }}
		{{> atoms-text-field-inner-label }}
		{{> atoms-button }}
		</div>
		<div class="section-calculator__results">
			{{ longNumber }}
		</div>
	</div>
	<div class="section-calculator__img">
		{{> atoms-square:details-card__img }}
	</div>

</div><!-- end section-calculator -->