<table class="{{tableClass}}">
	{{# tableHeaders }}
		<tr>
			{{#.}}
				<th>{{.}}</th>
			{{/.}}
		</tr>
	{{/ tableHeaders }}
	{{# tableContent}}
		<tr>
			{{#.}}
				<td>{{.}}</td>
			{{/.}}
		</tr>
	{{/ tableContent }}
</table>