<div class="section-map">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1187.7 586.3" style="enable-background:new 0 0 1187.7 586.3;" xml:space="preserve" preserveAspectRatio="xMidYMid meet">
<g id="map">
	<path class="fill-light" d="M1175.8,128.1c-1.7,0.4-3.5,0.8-5.2,1.1c-2.3,0.3-3.5,1.8-4.2,3.8c-1.5,3.9-2.8,4.3-6.2,1.9
		c-1.6-1.2-3.1-2.7-4.7-3.8c-0.9-0.6-2-0.8-3-1.1c-2.6-0.7-5.4-1-7.2-3.5c-0.3-0.4-1.3-0.3-2.4-0.5c0.6,1.4,1,2.3,1.4,3.3
		c0.8,2.2,0.5,2.7-1.8,3.1c-2.8,0.4-5.6,0.9-8.2,1.4c1.6,1.6,3.2,3.1,4.6,4.7c1.3,1.5,1.2,5.5-0.2,6.8c-0.6,0.5-1.9,0.7-2.7,0.4
		c-2.3-0.8-4.4-0.6-6.6,0.3c-5.3,2.1-10.3,4.5-14.4,8.6c-2.1,2.1-4.3,3-7.4,1.5c-2.5-1.2-5.3-1.8-8,0c-0.4,0.2-0.9,0.4-1.3,0.4
		c-6.8,0-10.2,4.6-13.4,9.7c0.9,0.3,1.7,0.5,2.3,0.9c1.4,0.9,2.2,2,1.3,3.7c-1.5,3-3.3,5.8-3.1,9.4c0,0.7-1.3,1.8-2.2,2
		c-2.6,0.6-4.3,1.7-4.3,4.6c0,0.6-0.4,1.4-0.8,1.9c-2.7,2.9-5.2,6-8.3,8.5c-3,2.5-4.2,1.6-5-2.1c-1.4-6.8-1.6-13.7-0.2-20.3
		c0.9-4.7,4-8.6,9.1-10.4c2.1-0.7,4-2.4,5.7-3.9c2.8-2.5,5.7-5,8.1-7.8c1.7-2,2.7-4.7,4.2-7.3c-3.8-0.6-4.3-0.1-4.8,2.9
		c-0.2,1.4-1,2.8-1.9,3.9c-1.5,1.8-3.2,3.4-5.3,4.7c2.2-2.6,4.5-5.2,6.7-7.9c-0.2-0.3-0.4-0.6-0.7-0.9c-2.3,3.5-5,5.4-9.1,3
		c0.3-0.4,0.6-0.9,0.7-1.3c0.5-1.4,0-2.2-1.6-1.9c-2.1,0.3-4.3,0.7-6.4,1.1c-0.2,0-0.4,0-0.5,0.1c-1.5,1.4-2.8,3-4.4,4.3
		c-1.6,1.3-3.5,2-3.1,4.7c0.3,2.1-1.3,2.9-3.1,3c-2.3,0.1-4.7,0.1-7.1,0c-0.7,0-1.5-0.2-2-0.6c-2.7-2.2-5.7-1.7-8.7-1.1
		c-1.4,0.3-2.9,0.8-2.9,2.9c0,0.9-0.9,1.8-1.4,2.7c-0.2-0.1-0.3-0.2-0.5-0.2c0.5-1.2,1-2.5,1.6-4.2c-6.1,0.2-11.8,0.2-17.3,2
		c-0.8,0.2-1.4,1-2,1.6c-4.1,5.4-9.2,9.6-14.5,13.8c-1.1,0.9-2.1,1.8-3.2,2.8c2,1.4,3.7,2.8,5.6,3.8c0.5,0.3,1.5-0.4,2.2-0.4
		c2.2,0,4.4-0.3,6.4,0.2c3.3,0.9,4.6,3.9,3.8,7.2c-1,4.1-1.9,8.2-2.9,12.3c0,0.2-0.1,0.3-0.2,0.4c-4.8,8.9-9,18.3-17.7,24.5
		c-2,1.4-4,2.2-6.5,2.1c-3.8-0.2-6.9,2.3-8.2,5.9c-0.6,1.8-1.6,3.2-3.7,3.5c-0.5,0.1-1.1,0.3-1.6,0.5c-2.4,1-2.4,1.4-1.1,3.6
		c1.5,2.5,3.2,4.9,4.2,7.6c2.4,6.3-1.1,9.8-7,10.4c-2,0.2-3.3-1.1-3.2-3.2c0.1-2.1,0.3-4.2,0.7-6.3c0.3-1.6,0-2.2-1.6-2.3
		c-0.6,0-1.2-0.2-1.9-0.3c-2.8-0.6-3.2-1.1-2.3-3.8c0.5-1.6,0.9-3-1.2-4.2c-2.1,2.8-4.2,5.5-6.2,8.3c0,0.1-0.1,0.1-0.1,0.2
		c0.5,4-2.9,4.4-5.3,5.8c-1.3,0.8-2.4,1.9-3.6,2.9c3.7,4.6,5.2,9.6,5.5,15.1c0.1,1.3,1,2.6,1.5,3.9c0.9,2.2,0.5,4.1-1.1,6
		c-2.8,3.4-5.6,6.9-8,10.6c-1.8,2.8-3.9,4.8-7,5.9c-4.7,1.6-9.4,3.4-14.3,4.6c-2.9,0.7-6.2,1-9.1,0.5c-4.6-0.8-6.7,1.6-8.7,4.9
		c-0.5,0.9-1,1.8-1.5,2.7c-1.4,2.7-0.8,4.9,1.8,6.5c1.6,1,3.1,2.1,4.6,3.2c1.9,1.5,3,3.5,3.3,6c0.9,6.7-2,12.2-8,15.5
		c-1.5,0.8-2.6,2.3-3.7,3.5c-1.9,2-3,1.9-4.2-0.6c-0.6-1.3-1-2.6-1.5-3.9c-1.3-3.3-3.2-6-6.6-7.5c-1.5-0.7-2.6-1.9-4.1-2.7
		c-0.7-0.4-2-0.8-2.5-0.5c-0.6,0.4-0.7,1.6-0.7,2.5c0,1.7,0.5,3.4,0.1,5c-1,4.1,0.7,7.7,1.3,11.5c0.1,0.4,0.7,0.8,1.1,1.1
		c2.9,1.9,5.8,3.7,8.6,5.6c0.9,0.6,1.3,1.1,0.7,2.5c-0.4,1.1,0.2,2.7,0.7,4c0.4,1.2,1.3,2.2,1.7,3.3c0.3,0.9,0.2,1.9,0.3,2.8
		c-1.4,0-3.4,0.6-4.1-0.1c-2.9-2.7-5.5-5.8-7.9-9c-0.9-1.2-1-3.1-1.6-4.5c-0.8-1.6-1.5-3.5-2.8-4.7c-2.6-2.3-3.2-4.2-2.2-7.4
		c0.6-1.9,0.7-4,1.1-6c0.3-1.4,0.7-2.7,1.3-4.1c-2-4.6-2.5-10.2-7.8-13.3c-1.1,1-2.3,2.3-3.7,3.4c-1.7,1.4-2.3,1.1-3.2-0.9
		c-1.2-2.9-1.8-5.9-1.7-9.1c0.1-1.1-0.6-2.5-1.4-3.2c-3.6-3.1-7.2-6.3-12.1-7.5c-2.2-0.6-4-0.4-5.7,0.8c-0.3,0.2-0.6,0.5-0.9,0.8
		c-4.6,3.9-9.2,7.7-13.6,11.8c-3.4,3.1-6.5,6.5-9.7,9.9c-0.4,0.5-0.5,1.6-0.3,2.3c1.8,5.5,0.3,10.2-3.8,14.1
		c-1.7,1.7-3.6,3.3-5.6,4.5c-1.9,1.2-2.9,0.6-3.7-1.5c-0.9-2.3-2.1-4.5-3.1-6.8c-0.4-0.9-0.8-1.8-1.2-2.8c-1.3-3.4-2.5-6.9-3.7-10.3
		c-0.8-2.3-1.8-4.5-2.4-6.8c-0.6-2.4-1.2-4.9-1.3-7.3c-0.1-2.3,0.5-4.7,0.9-7.4c-0.9,0.3-1.8,0.8-2.8,0.9c-2.2,0.3-4.4,0.7-6.6,0.6
		c-1.3,0-1.6-1.2-1-2.5c0.5-1.1,0.9-2.2,1.3-3.3c-1.5-0.4-3.3-1.5-4.6-1.2c-3.1,0.8-4.1-1.1-4.7-3.2c-1-4.1-3.2-5.1-7.4-4
		c-4.3,1.1-8.6,1.3-13,0.1c-2.3-0.6-4.8-0.5-7.2-0.5c-1.9,0-3.1-0.6-3.7-2.5c-0.9-2.8-1.8-3.3-4.2-2c-4.9,2.6-8.8,0-12.7-2.2
		c-1-0.6-1.3-2.5-2-3.8c-0.5-1-0.9-2.3-1.8-3c-1.8-1.5-3.3-3.3-6.2-3c-2.5,0.3-3.4,1.9-4.8,3.7c2.9,0.2,3.8,2.3,4.7,4.4
		c0.5,1,1.6,1.8,2.5,2.6c1.1,1,2.4,1.8,3.4,2.8c0.4,0.4,0.7,1.2,0.5,1.6c-1.1,2.5,0.4,3.8,2.1,5c0.8,0.6,1.7,1.1,2.3,1.6
		c1.1-0.3,2.1-0.9,3-0.8c2.6,0.2,4.5-0.8,6.1-2.8c0.9-1.2,1.9-2.3,2.9-3.4c0.5-0.5,1.2-0.8,2.1-1.4c0.2,1,0.4,1.6,0.3,2.2
		c-0.3,2.7,1.1,4,3.3,5c2.1,1,4.1,2.3,6.1,3.5c1.9,1.3,0.9,2.8-0.2,3.7c-2.2,1.7-2.7,4.1-3.3,6.5c-0.2,1-1,2-1.8,2.7
		c-2.8,2.4-5.9,4.4-8.4,6.9c-1.4,1.4-2.6,2.2-4.5,2.5c-1.8,0.2-3.2,0.9-4.8,2.2c-3,2.6-6.8,4.5-10.6,6c-4.6,1.8-9.6,2.9-14.4,4.1
		c-1.1,0.3-2.5,0-3.7-0.2c-2.1-0.3-3.1-1.8-2.6-3.7c1.1-5.4-0.2-9.9-3.6-14.1c-2-2.4-3.2-5.2-5.9-7.2c-1.7-1.2-2.5-3.7-3.5-5.7
		c-1.4-2.5-2.6-5.1-3.9-7.7c-0.3-0.6-0.9-1-1.1-1.5c-1.3-4.2-3.9-7.6-6.1-11.2c-0.5-0.8,0-2.1,0.2-3.2c0.3-1.3,1-2.6,1-3.9
		c0.1-3.2-0.2-6.4-0.2-9.6c0-1.1,0.4-2.4,1.1-3.2c1.2-1.4,1.5-2.5,0.9-4.4c-0.5-1.6,0-3.6,0.1-6.1c-1.6,0-3.4-0.2-5.3-0.1
		c-2.5,0.1-4.9,0.5-7.4,0.7c-0.6,0.1-1.3-0.2-1.9,0c-3.8,1.4-7,0.1-10.4-1.5c-2.7-1.3-4.7-2.8-5.6-5.6c-0.9-3-1.6-6.1-2.4-8.9
		c-2.4,0.4-4.9,0.8-7.4,1.1c-1.4,0.2-2.3,2.8-1.7,4.6c0.5,1.2,0.7,2.4,1.2,3.5c1.4,3.3-1.1,5.1-2.7,7.2c-0.2,0.2-1.6-0.2-1.7-0.5
		c-1.4-4.1-4.3-6.9-7-10.2c-2.2-2.8-3.5-6.4-2.9-10.3c0.3-1.8-0.8-2.7-2.2-3c-3.8-0.9-6.2-3.3-8.7-6.1c-1.7-1.9-4-3.3-6-4.8
		c-1.3-1-2.3-0.2-2.3,1.1c0,1.5,0,3.4,0.8,4.5c3.3,4.7,6.5,9.7,12.4,11.8c1.8,0.6,3.5,1.3,5.2,2c0.5,0.2,0.8,0.6,1.5,1.2
		c-2.5,1.6-4.7,0.3-7-0.2c-0.1,1.1,0,2.2-0.2,3.2c-0.7,2.2-0.6,4.7-3.2,6c-0.8,0.4-1.2,1.9-1.6,2.9c-0.3,0.8-0.5,1.7-0.7,2.6
		c-0.4,0.2-0.7,0.5-1.1,0.7c-0.3-0.7-0.4-1.7-1-2.1c-1.4-1-3-1.7-4.4-2.7c-0.7-0.5-1.3-1.2-2-1.8c0.7-0.8,1.4-2,2.2-2.2
		c1.3-0.3,2.8,0.1,4.2,0.2c1.5,0,3,0,4.5,0c-0.7-6.9-5.3-9.6-10.5-11.8c-2.8-1.2-4.8-2.9-5.9-6c-1.4-4.1-5.9-5-9.4-2.6
		c-1.8,1.2-4,2.1-6.1,2.7c-0.9,0.3-2.1-0.5-3.2-0.7c-1.2-0.2-2.5-0.5-3.7-0.3c-1.5,0.3-2.1,1.5-1.9,3c0.2,1.9-0.9,3-2.4,4
		c-1.5,1-3,2-4.4,3.1c-1.6,1.3-2.8,2.7-2.2,5.2c0.6,2.4-0.2,4.7-2.5,6.1c-1.5,1-2.9,2.3-4.6,2.9c-1.8,0.6-3.9,0.9-5.8,0.8
		c-1.5-0.1-2.6-0.1-3.3,1.5c-0.2,0.4-0.5,0.8-0.7,1.2c-2.1,3.2-1.8,4,2,4.6c1.5,0.3,3.1,0.7,4.6,0.7c1.2,0,2.6-0.4,3.6-1
		c4.7-3.1,9.5-5.6,15.4-5.6c5.2,0,10.5-0.7,15.7-1.1c1.3-0.1,2.7-0.1,4-0.1c1.5,0.1,2.1,0.9,2.2,2.4c0.1,1.6,0.6,3.2,0.8,4.7
		c0.2,2.1,0.4,4.1,0.5,6.3c1,0.7,2.3,1.6,3.6,2.3c0.7,0.3,1.6,0.3,2.5,0.3c1.8,0,3.6-0.3,5.4-0.1c2.3,0.2,4.2,1.2,4.8,3.8
		c0.1,0.6,0.7,1.6,1.1,1.6c3.7,0.1,5.9,2.6,8.2,4.9c1.3-1.1,2.6-1.9,3.6-3c0.5-0.6,0.7-1.7,0.5-2.5c-0.5-2.8,0.2-3.7,2.9-4.2
		c3.3-0.5,6.3-0.3,9.2,1.6c1.2,0.8,2.9,1,4.4,1.5c2.2,0.7,4.5,1.3,6.7,2.1c1.9,0.8,3.7,1.2,5.7,0.2c4.6-2.2,9.1-1.3,13.8-0.2
		c4.6,1,6.5,6,3,10.6c-0.4,0.6-1.4,0.6-1.8,0.8c2.1,5.4,4.1,10.8,6.3,16.1c0.6,1.4,1.5,2.8,2.5,3.9c2.3,2.7,3.5,5.8,4.2,9.3
		c0.2,1.3,1.1,2.5,1.7,3.7c0.5,1.1,1.2,2,1.5,3.2c0.6,2.5,2,4.3,3.9,5.9c2.9,2.4,5.5,5.1,8.2,7.7c0.5,0.5,0.9,1.1,1,1.8
		c0.8,3.4,2.4,5,6.1,4.8c3.9-0.2,7.8-1,11.6-1.7c2.7-0.5,5.3-1.3,8.4-2.1c-1.7,6.5-2.3,13.2-6.1,18.7c-4.7,6.8-9.7,13.2-16.7,18.1
		c-2.3,1.6-4,4.3-5.9,6.6c-2.3,2.8-4.4,5.7-6.8,8.4c-1,1.2-1.4,2.3-1.2,4c0.6,3.7,0.7,7.5,1.2,11.2c0.5,3.8,1.1,7.5,1.9,11.2
		c1.6,7.2-1,12.8-6.6,17.1c-2.8,2.2-5.7,4.1-8.5,6.4c-1.5,1.2-2.7,2.8-4,4.3c3.5,3.2,2.3,6.6,1.5,10.2c-0.9,4.2-3.7,5.9-7.3,7.3
		c0.5,1,1.1,1.6,1.2,2.3c0.2,1.2,0.5,2.7-0.1,3.5c-3.3,4.8-6.7,9.7-10.4,14.1c-5.2,6.2-12.2,9-20.3,9.6c-4.1,0.3-8.1,0.8-12.1,1.3
		c-2.2,0.3-4.5-0.8-5.6-3c-0.4-0.8-0.9-1.8-0.8-2.7c0.2-5.7-3.1-10-5.7-14.6c-3.4-6.1-6.1-12.4-6.8-19.6c-0.3-3.2-1.6-6.6-3.5-9.3
		c-5-7.3-4.7-14.7-1.7-22.4c0.6-1.7,1.5-3.3,2.5-4.7c1.1-1.6,1.2-3,0.6-4.8c-0.8-2.8-1-5.8-1.6-8.7c-0.4-1.7-0.8-3.5-1.5-5.1
		c-0.2-0.6-1.2-0.9-2-1.5c0.5-3.1-1.9-5.2-3.6-7.7c-1.2-1.7-2.7-3.3-4-5c-2.2-2.7-2.3-5.5-1-8.8c1-2.6,1.4-5.4,1.8-8.2
		c0.3-1.7-0.8-2.8-2.6-2.9c-2.4-0.2-4.9-0.3-7.2-0.8c-1.2-0.2-2.3-1-3.4-1.7c-1.8-1.2-3.3-2.8-5.2-3.9c-1.9-1.2-3.9-0.7-6,0.1
		c-7.3,2.6-14.4,6.1-22.6,5c-3.5-0.5-7.1-0.2-10.6-0.5c-1.4-0.2-3.1-0.8-4.1-1.8c-3.5-3.5-7-7-10.1-10.8c-2.1-2.5-3.7-5.4-5.6-8.1
		c-0.5-0.8-1.2-1.4-1.9-2.1c-4.7-4.3-5.6-9.8-3.8-16.1c1.2-4,1.1-8.4-1.9-12.1c-1.1-1.4-1.6-2.7-0.3-4.6c3.5-5.4,6.7-11,9.9-16.5
		c1.5-2.6,3.2-4.5,6.3-5.5c2.7-0.9,5-3,7.7-4.6c-3-4.4-0.3-7.7,1.4-11c0.3-0.7,1.2-1.3,2-1.5c2.4-0.7,3.7-2.3,5-4.3
		c1.3-2.2,3.2-4.2,4.8-6.3c0.2,0.1,0.4,0.2,0.7,0.3c-0.2-0.2-0.4-0.5-0.5-0.7c-1.4-3.6-3.8-5.7-7.9-5.2c-2,0.2-2.6-0.9-2.8-2.6
		c-0.1-0.9-0.2-1.9-0.5-2.8c-0.8-2,0-3.3,1.3-4.8c0.9-1,1.4-2.7,1.3-4c-0.2-2.8-0.9-5.5-1.3-8.3c-0.1-0.6,0.1-1.8,0.5-1.9
		c1.7-0.7,3.5-1.5,5.3-1.4c4.5,0.2,9,0.9,13.5,1.2c3.3,0.2,4.4-0.6,4.9-3.8c0.3-2.2,0.1-4.6-0.3-6.7c-0.4-2-1.7-3.4-4-3.8
		c-1.5-0.2-3-0.9-4.3-1.8c-0.8-0.6-1.4-1.8-1.7-2.9c-0.3-1.8,0.7-2.7,2.3-1.9c3.1,1.5,5.4,0.7,8-1.3c1.6-1.2,4.1-1.4,6.1-2
		c1.8-0.5,3.2-1.1,3.4-3.6c0.1-1.1,1.5-2.3,2.5-3.3c3.5-3.3,7-6.5,10.6-9.6c1-0.9,2.4-1.3,3.7-1.7c1-0.3,2.2,0,3.3-0.1
		c2.7-0.2,3.9-2.5,2.7-4.9c-1.1-2.4-2-4.9-2.7-7.4c-0.2-0.6,0.6-1.8,1.2-2.4c1.2-1.1,2.6-2.1,3.9-3c1.8-1.2,3.3-0.6,3.2,1.5
		c-0.1,2.6,1.1,3.9,3.3,5c2.3,1.1,2.3,2.7,0.3,4.3c-1,0.8-2.2,1.3-3.1,2.1c-0.6,0.6-1.3,1.4-1.3,2.2c0,0.4,1,1.1,1.7,1.5
		c1.5,0.9,2.7,0.5,4.3-0.4c1.3-0.7,3.4-0.6,4.8,0c2.1,1,4.1,1.2,5.7-0.1c3-2.4,6.3-2.3,9.8-2c4.8,0.3,6.7-0.9,7.3-5.6
		c0.6-4.6,3.9-7.1,7-10.3c0.6,2.6-0.1,5.3,2.2,6.9c2.4-2.3,2.7-5.3,0.7-7.9c-0.5-0.6-0.9-1.3-1.1-2c-0.8-2.2-0.3-3,2.1-3.2
		c3.9-0.3,7.8-1.5,11.1,0.6c1.9-1.3,3.6-2.4,5.3-3.6c2.3-1.6,2.4-2.5,0.5-5c-0.2,0.4-0.5,0.7-0.6,1c-1.6,3.4-2.3,3.8-5.4,1.9
		c-1.8-1.1-3.3-1-5,0c-2.9,1.8-6.1,2.8-9.6,2.8c-2.2,0-3.2-0.9-3.3-3c-0.3-3.5-0.8-7-0.8-10.5c0-1.3,0.7-2.9,1.6-3.8
		c2.7-2.7,5.8-5,8.5-7.7c0.8-0.8,0.9-2.3,1.4-3.5c-4-1.2-10.5,1.3-12.1,4.4c-0.1,0.1-0.2,0.3-0.2,0.4c0.5,4.4-3,5.8-5.8,7.4
		c-5,2.9-6.7,7.6-7.8,12.3c1.6,1,3.1,1.8,4.3,2.9c2.5,2.3,1.8,5.3-1.2,6.9c-2.1,1.1-3.8,2.9-3.8,5.6c0,3.1-1.9,5.4-4.8,6.4
		c-1.5,0.5-2.9,1.5-4.3,2.3c-2.8,1.5-3.7,1.1-4.9-2c-1-2.8-2-5.7-3.2-8.5c-0.9-2.2-2.1-4.4-3-6.2c-3.4,2.1-6.2,4.5-9.5,5.6
		c-3.7,1.3-6.7-1-8.1-4.3c0.2-1.2,0.6-2.5,0.6-3.7c-0.1-2.6-0.6-5.3-0.7-7.9c-0.1-3.5,1.9-5.6,4.8-7.4c5.4-3.3,10.9-6.5,14.7-12
		c1.9-2.7,4.4-4.9,5.9-8.2c1-2.3,3.4-4,5.3-5.9c-1.7-0.5-3.7-1-6.2-1.7c4.6-2.8,8.7-4.9,13.4-5.7c1.1-0.2,2.5-0.6,3.1-1.4
		c1.8-2.3,4.2-2.8,6.8-3c2.1-0.2,3.8-0.7,5.4-2.3c1.3-1.4,3.1-2.5,5.5-2c0.9,0.2,2.2-0.6,3.2-1.2c2.7-1.6,3.8-1.5,6,0.5
		c0.4,0.4,1.6,0.5,2,0.2c1.7-1.2,3.4-1,5.1-0.5c1.9,0.5,3.7,1.1,5.6,1.7c1.3,0.4,1.8,1,1.1,2.4c-0.8,1.6-0.5,2.4,1.5,2.6
		c2.4,0.2,4.8,0.5,6.5,2.6c0.5,0.5,1.7,0.7,2.6,0.6c3.5-0.4,6.9-0.3,9.9,1.9c0.6,0.4,1.3,0.7,2,0.8c4.5,0.2,7.3,3.3,10.3,6
		c2.1,1.9,1.8,4-0.4,5.7c-6.1,4.7-9.4,3.3-16.6,0.6c-2.9-1.1-5.9-1.7-8.9-2.5c-0.1,0.2-0.3,0.4-0.4,0.6c1.2,1,2.2,2.2,3.6,2.8
		c3.5,1.7,4,2.3,3.7,6c-0.2,2.9,0.4,3.8,3.2,4.7c1.2,0.4,2.3,1,3.5,1.3c0.7,0.2,1.5,0,2.6-0.4c-0.6-0.5-1.3-0.9-1.8-1.5
		c-0.7-1-1.5-2-1.8-3.1c-0.3-1,0.4-1.8,1.7-1.3c1.7,0.7,3.5,1.3,5.2,2.1c1.6,0.8,3.2,1.2,4.8,0.1c-0.9-1.9-1.7-3.7-2.7-6
		c3.4,0.5,5.7-0.7,7.8-2.8c0.5-0.5,1.8-0.4,2.7-0.3c1.4,0.1,2.7,0.5,4.2,0.8c0-2.3,0.1-4.3,0-6.3c0-0.6-0.5-1.2-0.9-1.8
		c-0.5-0.7-1.3-1.2-1.6-2c-0.3-0.8,0-1.7,0-2.6c0.8,0.1,1.6,0.1,2.4,0.3c1.6,0.3,3.1,0.8,4.7,1.1c3.4,0.6,4.1,1.8,2.1,4.6
		c-0.4,0.6-1.5,0.7-2.3,1.1c1,3.3,2.7,3.8,7.6,1.9c0-0.2,0.1-0.5,0.1-0.7c-1.1-3.1-1.1-2.8,2-3.7c3.7-1.1,7.1-2.8,10.7-4.1
		c2.4-0.8,4.8-1.4,7.2-2.1c0.1,0.2,0.2,0.5,0.4,0.7c-0.5,1.1-1,2.2-1.8,3.8c1.3-0.4,2.3-0.4,2.9-0.9c3.6-3.1,8.3-2.8,12.5-4
		c0.7-0.2,1.8,1,2.6,1.5c0.8,0.5,1.6,1.1,2.7,1.8c0.3-1.8,0.6-3.1,0.7-4.3c0-0.5-0.6-1.2-1.1-1.5c-1.5-1-3.1-1.8-4.6-2.9
		c-0.5-0.4-0.7-1.2-1-1.8c0.7-0.3,1.4-0.8,2.2-0.9c0.7,0,1.5,0.3,2.2,0.7c5,2.7,10.5,3.5,15.9,4.7c2.6,0.6,4.9,2.3,7.2,3.6
		c1.6,0.9,3.1,2,4.7,3.1c1.4-2.8-0.4-4.1-2-5.2c-1.8-1.2-2.6-2.5-2.3-4.7c0.1-0.8-0.2-1.7-0.6-2.5c-1.4-2.7-1.3-4.8,1.4-6
		c3.3-1.5,4.7-4.2,6.2-7c0.8-1.5,1.8-2,3.4-1.7c2.4,0.5,4.8,0.8,7.1,1.6c2.7,0.9,2.8,1.9,1,4c-1,1.2-1.9,2.4-3.1,3.8
		c3,2.9,2.8,6.5,2.9,10.1c0.1,2.2,0.8,4.3,1.1,6.5c0.1,1,0.4,2.4-0.1,3.1c-2.5,3.5-5.2,7-10,7.4c-0.3,0-0.6,0.1-0.9,0.3
		c-0.1,0-0.2,0.2-0.2,0.4c4.8,1.8,10.4-0.2,13-4.3c1.4-2.1,2.4-4.2,2.2-6.7c-0.1-1.3,0.6-2,2-1.9c1.3,0.1,2.6-0.2,3.7,0.3
		c1.3,0.6,2.3,1.7,3.5,2.7c1.7-1.8,1.5-2.2-0.6-3.9c-1.8-1.4-3.4-1.7-5.4-0.9c-0.7,0.3-1.5,0.4-2.3,0.4c-3.2,0.2-5-2-3.4-4.7
		c1.7-3.1,1.3-5.7-0.3-8.6c-1.1-2.1-0.1-4.3,2.2-4.9c1.6-0.5,2.4-1.2,2.1-3c-0.1-0.7,0.5-1.4,0.8-2.2c0.5,0.6,1.3,1.1,1.3,1.7
		c0.1,1.5-0.1,3-0.3,4.5c-0.2,1.3-1,3.4-0.7,3.6c1.6,0.9,3.5,1.4,5.4,1.8c0.6,0.1,1.3-0.3,2.1-1c-0.8-0.3-1.7-0.4-2.4-0.9
		c-0.9-0.6-2.2-1.4-2.2-2.1c0-1.6,0.8-3.2,2.5-2.6c1-1.1,1.6-2.3,2.5-2.5c0.8-0.1,1.8,0.9,2.6,1.5c3.3,2.2,6.8,4,10.9,3.9
		c0.7,0,1.4-0.5,2.7-1.1c-2.4-0.7-4.1-1.2-5.8-1.8c-2.9-1-3.7-3.3-2.1-5.9c2.5-4.2,6.1-5.6,11.7-4.7c2.1,0.3,4.2,0.3,5.3,0.4
		c1.5-2.1,2.6-3.5,3.7-5c0.1-0.2,0.4-0.3,0.5-0.5c2.4-4.6,6.8-4.5,11.1-5c4-0.5,7.9-1.7,11.9-2.4c2.3-0.4,4.7-0.2,7-0.4
		c2.2-0.2,4.4-0.7,6.6-1.1c2-0.4,4-1.2,6-1.5c1.8-0.3,2.9-0.6,2.9-2.8c0-1.1,0.8-2.8,1.7-3.2c3.2-1.3,6.6-2.4,10-3
		c3-0.5,3.8,1,2.7,3.5c1.4,1.5,2.5,2.8,3.8,4c0.4,0.4,1.3,0.5,1.9,0.3c5-1.3,10-1.6,15.1-0.8c2.5,0.4,6.5,3.8,6.5,6.2
		c0,1.3-0.7,2.9-1.6,3.7c-2.1,1.6-4.6,3-7,4.1c-4.5,2.1-9.1,4-13.7,6.1c-1.1,0.5-2.1,1.3-3.1,2c0.1,0.2,0.2,0.5,0.3,0.7
		c2.9-0.9,5.8-1.8,8.6-2.7c0.8-0.3,1.5-0.8,2.4-1c1.9-0.5,4-0.7,5-3c-0.2,0.7-0.3,1.3-0.5,2c4.4,0.5,8.9,1.3,13.3,1.4
		c5.3,0.1,10.3,0.9,14.9,3.9c4.2,2.7,9.9,0.3,11.8-4.2c0.2-0.4,1.1-0.9,1.6-0.8c4.2,0.5,8.4,0.9,12.5,1.6c1.6,0.3,2.8,1.5,2.8,3.3
		c0,1.6-0.2,3.2,0,4.7c0.2,1.7,0.5,3.6,1.2,5.1c1.7,3.8,2.7,4.1,6.6,2.8c1.4-0.5,2-3.2,1.3-5.1c-1-2.4-1.8-4.8-2.7-7.2
		c-0.2-0.5-0.1-1.1,0.2-1.8c1,3,2.1,5.9,3.2,9.1c2.2-2.5,2.3-2.6,3.9-0.4c1.6,2.2,3.4,2.8,6.3,2.3c3.6-0.6,7.3-0.3,10.9-0.2
		c2,0.1,2.8-0.5,2.7-2.7c-0.2-3.4,0.3-4,3.6-4.1c4.2-0.2,8.5-0.2,12.7,0.3c2.2,0.2,3.7,0.4,4.2-2.3c0.2,0.1,0.4,0.3,0.5,0.4
		c-0.2,0.8-0.4,1.6-0.7,2.6c2.2,0.2,4.3,0.4,6.5,0.5c2.5,0.1,4.7,0.5,5.7,3.2c0.2,0.4,0.5,1,0.9,1.1c4.8,1.5,8.9,4.9,14.6,3.7
		c7.9-1.6,15.2-0.5,20,7.1c1.7,2.8,3.7,0.6,5.8,0.4c-0.6-1-1-1.8-1.6-2.9c0.5,0.1,0.8,0.1,0.9,0.2c1.5,3.5,4.6,2.8,7.4,2.6
		c3.7-0.3,7.5-0.5,11.2-0.8c1.7-0.1,2.9,0.4,3.5,2.3c1,2.9,2.7,3.1,6.3,0.8c-0.7-0.9-1.5-1.8-2.1-2.7c-0.3-0.5-0.3-1.5,0-1.9
		c0.3-0.4,1.2-0.8,1.8-0.7c6.5,1,13.2,1.7,19.6,3.2c4.2,1,8.2,3,12.1,4.8c4.1,1.9,8.1,4.1,12.2,6.1c3.2,1.6,3.2,1.6,2.4,5.1
		c-0.1,0.3,0.1,0.7,0.6,1.2c0.3-0.9,0.7-1.8,0.9-2.7c0.3-1.4,1.1-1.7,2.2-1.1c4.3,2.2,8.5,4.5,12.8,6.8
		C1175.8,127.2,1175.8,127.7,1175.8,128.1z"/>
	<path class="fill-light" d="M453.7,12.2c4.5,0.2,9.1,0.4,13.6,0.6c0.9,0,1.9,0.1,2.8-0.1c6.5-1.3,11.8,1.7,17.2,4.7
		c1.2,0.7,2.6,1.1,3.9,1.6c1,0.4,1.9,0.8,3.5,1.5c-1.7,1.1-2.9,1.9-4.1,2.7c2.4,1.1,4.7,2.1,6.9,3c-2.4,3.1-4.6,5.8-6.7,8.6
		c0.2,0.2,0.4,0.5,0.6,0.7c3.3-2.1,6.5-4.4,9.8-6.4c1-0.6,2.3-0.9,3.4-0.8c2.2,0.3,4.1,1,5.5-1.6c0.3-0.5,1.4-0.7,2.1-0.7
		c4,0,8,0,12,0.3c0.8,0.1,2.1,1.1,2.3,1.8c0.1,0.8-0.7,2.1-1.5,2.5c-2.7,1.5-5.7,2.6-8.4,4.1c-0.7,0.4-1.1,1.4-1.8,2
		c-1.9,1.6-3.8,3.2-5.9,4.6c-0.7,0.5-1.6,0.5-2.5,0.6c-1.8,0.3-2.8,0.9-2.1,3.2c0.2,0.8-0.6,2.5-1.5,3c-2.7,1.5-3.8,4-4.9,6.9
		c1.2,0,2.1,0,3,0c1.4,0,2.2,0.6,2.7,2c0.3,0.9,1.4,1.8,2.3,2.1c1.3,0.4,3.2,0.2,3.2,2c0,1.3-1,2.7-1.5,3.9
		c-1.9-1.2-3.1-2.2-4.6-2.7c-0.8-0.3-2.7,0.1-2.8,0.5c-0.2,1.1,0,2.4,0.5,3.4c0.4,0.7,1.4,1.2,2.3,1.6c2,1,2.5,2.5,1.9,4.5
		c-1,3.1-2.1,6.2-3.4,9.3c-0.4,0.9-1.6,1.5-2.5,2.1c-1.5,0.9-4.4,0.7-2.6,3.8c0.1,0.1,0,0.5-0.1,0.6c-2,2.1-1.3,4.7-1.7,7.2
		c-0.3,1.4-2,2.6-3.3,3.8c-0.4,0.4-1.4,0.1-1.8,0.4c-0.7,0.6-1.1,1.4-1.6,2.2c0.7,0.4,1.4,1.1,2.2,1.1c2.3,0.1,4.5,0.1,6.8,0.1
		c0.1,0.3,0.1,0.6,0.2,0.9c-0.6,0.3-1.2,0.7-1.9,1c-2.9,1.4-5.9,2.5-8.6,4.3c-5.4,3.6-11.4,5.5-17.7,5.5c-5.2,0-8.6,2.8-10.6,6.5
		c-2.8,5.1-7.1,6.3-12.1,7.2c-1.9,0.3-3.8,0.8-5.6,1.6c-2.2,1-3.9,2.5-3.4,5.5c0.6,3.8-2.1,6.2-4.5,8.4c-1.6,1.4-2.4,2.2-1.3,4.4
		c1.6,3,0.5,5.6-2.6,6.9c-2.4,1.1-5,1.4-7.2-0.3c-2.4-1.8-5-2.2-7.7-2.3c-1.5-0.1-2.3-0.7-3.1-1.9c-4.2-6.4-8.9-12.5-12.6-19.2
		c-2.4-4.2-5.2-8.9-3.1-14.4c0.7-1.8,1.7-2.9,3.6-3.1c3.9-0.6,4-0.6,3.8-4.7c0-1.1-0.4-2.3-0.6-3.5c-2,1-3.6,2.5-5.4,2.6
		c-1.6,0.1-3.4-1.4-5.4-2.3c0.8-0.7,1.3-1,1.4-1.1c-0.5-1-1.4-1.9-1.2-2.5c0.4-1.4,1.6-2.4,3.3-1.6c3,1.5,5.2-0.6,7.8-1.6
		c-2.2-1.9-4.1-3.7-5.6-5.1c-2.1,1-3.8,2.3-5.7,2.5c-3.2,0.3-4.6-1.4-3.3-4.3c2.4-5.6,0.7-10-3.5-13.9c-1.1-1-1.9-2.3-2.7-3.5
		c-3.3-5.3-8.5-7.4-14.3-7c-7.8,0.4-15.3-0.5-22.8-2.5c-0.8-0.2-1.6-0.3-2.2-0.7c-2.1-1.1-2.2-3.6-0.2-4.9c0.5-0.3,0.9-0.7,1.7-1.4
		c-3.7-1.4-7.6-1-10.4-4.2c1.4-1,2.6-2.2,4.1-2.8c4.7-1.8,9.2-4.2,14.5-4.5c2.1-0.1,4.1-1.3,6.1-2c-1.6-4.4-1.6-4.3-5.8-4.6
		c-0.8,0-1.5-0.8-2.2-1.3c0.6-0.5,1.2-1.3,1.9-1.6c6.1-2.7,12.3-5.2,18.5-8c1-0.4,1.5-1.8,2.4-2.5c0.8-0.7,1.7-1.4,2.7-1.5
		c5.8-1.1,11.5-2.1,17.3-3.1c2-0.4,3.7-0.6,5.6,1c1.5,1.3,3.9,1.5,6.4,2.4c-0.3-0.8-0.4-1-0.5-1.1c-0.7-1.1-1.3-2.1-2-3.2
		c1.2-0.3,2.4-0.9,3.5-0.7c3.3,0.6,6.5,1.5,9.7,2.4c0.9,0.2,1.7,0.7,3.1,1.3c-1.4-1.6-2.5-2.7-3.7-4.1c1.3-0.3,2.1-0.5,3.1-0.7
		c-0.7-1.1-1.2-1.9-2.3-3.6c5.6,0,10.6,0,15.6,0c1.6,0,3.3-0.2,4.9,0c5.5,0.9,10-1.4,14.5-4C451.8,12.2,452.7,12.2,453.7,12.2z"/>
	<path class="fill-light" d="M277.1,113.6c0.9-1,1.6-1.6,2.1-2.4c1.2-1.7,2.6-1.9,4.2-0.7c0.6,0.4,1.1,0.9,1.7,1.2c1.3,0.7,1.3,1.6,0.6,2.7
		c-0.5,0.7-1.1,1.5-1.2,2.3c0,0.8,0.4,1.9,1,2.4c0.4,0.3,1.8,0,2.3-0.5c2.4-2.5,4.8-4.9,4.4-8.9c-0.2-1.3,1.6-2.9,0-4.1
		c-1.5-1.1-3.4-1.8-5.2-2.5c-2.1-0.8-4.3-1.5-6.4-2.3c0-0.3,0.1-0.5,0.1-0.8c1.2-0.3,2.4-0.6,3.6-0.9c0-0.1,0-0.3,0-0.4
		c-0.9-0.1-1.9-0.2-2.8-0.4c-2.4-0.4-3.7-1.8-3-4.1c1-3.5,2.7-6.8,4.1-10.1c0.1-0.3,0.4-0.6,0.7-0.6c4.2-1,8.3-2.9,13.1-1.1
		c-1.9,1.3-3.5,2.3-5.1,3.4c-2.4,1.8-2.6,3.3-1,5.9c0.7,1.2,1.5,2.3,2.5,3.8c0.6-2.7,2.3-4.8,1.2-7.5c-0.8-2,0.9-3,2.4-3.6
		c2.8-1.2,5.5-2.2,8.8-1.5c4.7,0.9,9.6,1.1,14.4,1.6c0.8,0.1,1.6,0.4,2.2,0.5c0,1.4,0,2.6,0,3.9c0.2-0.1,0.3-0.3,0.5-0.4
		c1.2,0.8,2.3,1.6,3.5,2.4c2.7,1.9,5.2,4,8.7,4.4c4.7,0.6,8.5,2.3,9.6,7.5c3.7-1.1,6.3,1,9,2.4c0.3,0.1,0.5,1.4,0.3,1.6
		c-0.9,0.9-2,1.7-3,2.5c-1.1,0.7-2.2,1.4-3.2,2c1,1.2,1.8,2.3,2.8,3.1c0.6,0.5,1.5,0.6,2.3,0.6c1.8-0.1,3.3-0.3,4.6,1.7
		c0.7,1,2.6,1.6,4,1.6c2.6,0,4.7,0.8,6.7,2.3c1.1,0.9,2.5,1.5,3.7,2.2c-0.9,1-1.9,1.9-2.8,2.9c-1.9,2-3.8,4.1-6.2,6.6
		c-1.5-1.5-3-3.1-4.6-4.6c-1.6-1.6-3-3.8-5.8-3.2c-1,0.2-1.9,0.7-2.9,1c-0.1,0.3-0.2,0.7-0.3,1c2.3,2.1,4.5,4.3,7,6.3
		c2.7,2.3,4.2,5.1,4.6,8.6c-0.2,0.1-0.4,0.3-0.6,0.4c-1.3,0.6-1.8,2.9-3.7,1.9c-1.8-1-3.5-2.3-5.2-3.5c-0.8-0.5-1.6-1-2.4-1.5
		c0.4,0.9,0.7,2,1.3,2.7c1.8,2,3.8,3.9,5.7,5.9c0.4,0.4,0.5,1.1,0.7,1.6c-0.2,0.2-0.3,0.3-0.5,0.5c-3.2-1.2-6.5-2.4-9.7-3.7
		c-0.9-0.3-1.8-1.2-2.6-1.1c-4.1,0.7-5.8-2.6-8.2-4.6c-1.4-1.1-2.7-2.4-4.1-3.5c-0.4-0.3-1.1-0.4-1.7-0.4c-3,0-6,0.1-8.9,0
		c-0.9,0-1.8-0.3-2.7-0.6c-1.8-0.6-2-1.5-0.8-2.9c1.4-1.6,2.9-2.7,5.2-2.4c1.3,0.2,2.7-0.2,4-0.2c1.8,0.1,2.6-0.7,2.7-2.3
		c-1-0.8-1.9-1.6-3.2-2.6c1.7-0.3,3.1-0.2,4.1-0.8c1.1-0.7,1.6-2,2.5-3c1.3-1.4,1.3-3,0.5-4.5c-0.9-1.7-2.5-3-4.6-2.4
		c-1.6,0.5-3.3,1.3-3.5,3.5c-0.1,1-0.9,2-1.3,2.9c-0.4,0-0.7,0.1-0.9,0c-3.7-1.2-3.9-1.5-2.1-5.2c0.3-0.7,1.3-1.2,2.1-1.6
		c0.8-0.3,1.8-0.3,2.6-0.4c-0.3-3.5-3.9-1.9-5.3-3.8c0.6-0.9,1.1-1.7,1.9-3c-3.4,0.4-5.7-1-7.5-3.6c-0.4,1.4-0.6,2.2-0.9,3.3
		c-1.7-0.4-3.3-0.8-4.9-1.1c-1-0.2-2.8-0.5-2.9-0.3c-0.5,1.2-0.6,2.5-0.6,3.8c0,0.7,0.7,1.4,0.9,2.1c0.4,1,1.1,2.1-0.5,3
		c-0.4,0.2-0.1,1.8,0.1,2.7c0.3,1,1,1.9,1.3,3c0.4,1.3,0,2.3-1.4,2.7c-0.1,0-0.2,0-0.2,0.1c-2.2,1.9-4.5,2.3-7.4,1.4
		c-1.8-0.5-4,0.1-6.2,0.3c0.6,3.9-3.5,3.3-4.7,5.5c1.9,2.3,1.5,4.8-1.3,6c-2.4,1.1-5.1,1.8-7.7,2.5c-1.3,0.4-2,0.9-1.5,2.3
		c0.7,2.1-0.4,3.1-2.2,3.9c-6.2,2.7-10.1,7.3-10.4,14.4c-0.1,1.9,0.6,3.5,2.4,4.1c2.4,0.8,3.3,2.5,3.8,4.8c0.7,3.1,0.8,3.3,3.8,2.2
		c4-1.5,7,0.5,9.6,2.7c4.2,3.5,8.6,5.7,14.2,5.4c1.6-0.1,3.3,0.4,4.9,0.6c2,0.3,2.3,1.5,1.5,3c-1.5,3.1-0.1,6.1,0.6,8.9
		c0.4,1.7,3.1,3.4,5.2,4.1c2.1,0.8,3.7-1,4.6-2.9c0.5-1,0.5-2.4,0.2-3.5c-0.6-2.3-1.6-4.6-2.4-6.9c-0.6-1.6,0.2-2.3,1.8-2.5
		c0.9-0.1,1.9-0.1,2.8-0.3c1.8-0.4,3.2-1.3,3.3-3.4c0-0.6,0.2-1.2,0.4-1.8c1-3.9,0.1-6.2-3.3-8.3c-3.5-2-3.6-2.5-0.9-5.3
		c2.5-2.7,2.3-5.6,1.1-8.7c-0.4-1-0.8-2.1-0.9-3.1c-0.3-2.4,1.8-3.9,4-3.5c2.3,0.5,4.7,0.8,7.1,0.7c2.1-0.1,3.8,0.3,5.7,1.5
		c3.1,2,6.4,3.5,9.7,5.2c1.3,0.7,2.2,1.1,1.2,3.1c-0.8,1.6-0.7,3.9,1.4,5.4c1.3,0.9,2.2,2.4,3.2,3.6c1.2-0.2,2.3-0.6,3.5-0.6
		c2.1,0,3.2-1.3,3.6-3c0.5-2.3,1.9-3.5,4.5-4.1c3,4.3,6.1,8.7,9,13.2c0.5,0.8,0.1,2.3,0.1,3.5c-0.3,0.1-0.6,0.3-0.9,0.4
		c1.2,0.9,2.4,1.8,3.6,2.7c0.8,0.7,1.5,1.5,2.3,2.1c0.4,0.3,0.8,0.6,1.3,0.7c1.8,0.5,3.7,0.9,5.6,1.5c1.4,0.4,1.4,0.6,0.6,2
		c0.8,0.9,1.5,1.7,2.4,2.6c3.8-0.1,3.9,0,3.6,4.1c-0.1,0.6,0.5,1.3,0.8,1.8c1.1,1.9,0.9,3.1-1.2,3.3c-4.8,0.4-8.4,3-12.3,5.3
		c-1.4,0.9-3.6,0.7-5.4,0.7c-4.9,0-9.9-0.3-14.8-0.4c-0.7,0-1.5,0.7-2,1.2c-1.4,1.8-3,3.2-5.4,3.8c-3.8,1-5.6,4-6,8.1
		c0.4-0.3,0.8-0.4,0.9-0.7c3-4.9,8.2-6.3,13.3-7.7c1.1-0.3,2.3-0.2,3.5,0c0.7,0.1,1.3,0.6,2,0.9c-0.3,0.6-0.6,1.3-1.1,1.7
		c-2.1,1.7-4.2,3.5-7.3,3.4c-2-0.1-2.9,1.5-2.4,3.4c0.5,2,1.1,3.9,1.7,5.8c1,2.8-0.4,4.6-3.3,5c-2.3,0.4-4.6,1.3-6.8,2.3
		c-0.6,0.3-1,1.5-1.1,2.3c-0.1,0.8,0.4,1.7,0.5,2.5c0.5,3-0.1,3.4-3,3.6c-1.8,0.1-3.6,1-5.3,1.7c-1.7,0.7-2.6,2-3.3,3.9
		c-1,2.5-3,4.7-4.7,6.9c-1,1.2-2.1,0.7-2.6-0.9c-0.1-0.5-0.3-1-0.4-1.5c-0.2-0.1-0.4-0.1-0.6-0.2c-0.2,0.6-0.5,1.2-0.5,1.8
		c0,1,0.1,2,0.1,2.9c0.6,0.7,1.3,1.4,1.8,2.3c0.7,1.2,1.7,2.7,1.5,3.8c-0.2,1-1.9,1.7-2.9,2.5c-4.4,3.5-8.7,7-13,10.6
		c-2.5,2.1-2.6,6.7-0.7,10.5c1.2,2.4,2.3,5,2.8,7.6c0.4,1.7-0.1,3.7-0.7,5.4c-0.7,1.9-2.6,2-3.6,0.3c-2.2-3.6-4.8-7-5.2-11.4
		c-0.3-2.8-2.7-4.3-5.4-3.8c-0.9,0.2-2.1,0-2.8-0.5c-3.5-2.4-10-2-12.9,1c-2.4,2.5-5.3,1.1-7.7,0.5c-4.1-1.1-7.5-0.7-10.7,2
		c-0.7,0.6-1.7,1-2.7,1.4c-2.7,1-3.4,2.2-3,5c0.3,2.2,0.8,4.4-0.8,6.5c-0.6,0.8-0.7,2.3-0.6,3.4c0.4,4.7-0.3,9.6,3.6,13.4
		c0.6,0.6,0.7,1.6,1.3,2.2c0.7,0.7,1.6,1.3,2.4,1.8c3.7,2.6,7.4,0.3,11-0.1c2.4-0.3,3.4-2.1,3.6-4.3c0.2-2.5,1.3-3.8,3.8-4.1
		c2.3-0.3,4.5-0.9,6.7-1c2.4-0.1,3,0.8,2.2,3.1c-0.7,2.1-2.6,3.8-2,6.3c-3,2.6-1.5,6.9-3.9,10.2c1.8,0,3.3,0,4.8,0
		c3.7,0,7.4-0.9,10.7,1.4c0.7,0.5,1.5,1.6,1.5,2.4c0,1.8-0.3,3.7-0.8,5.5c-1.1,4.2-0.7,7.4,2.9,10.7c3,2.8,5.1,2.3,8.4,1.2
		c3.6-1.3,7.4-0.5,10.7,2.9c1.2-2,2.6-3.7,3.3-5.7c1.1-2.8,3.5-3.3,5.8-4c1.3-0.4,2.6-0.8,3.8-1.4c1.9-1,3.8-2.1,6.2-1.5
		c-4.5,8.6-4.5,8.6-1.7,10.2c0-1,0.2-1.8,0-2.5c-0.9-3.1,0.7-5.6,4-5.8c1.9-0.1,3.8,0.1,5.3,1.8c0.8,0.9,2.4,1.1,3.7,1.5
		c0.1,0.1,0.3,0,0.5,0c2,0.5,4.1,1.4,6.1,1.2c1.9-0.2,3.7-1.7,5.6-2.4c1-0.3,2.2,0,3.5,0.1c-0.2,1.1-0.4,1.7-0.6,2.6
		c0.9,0.2,1.7,0.5,2.5,0.6c3.1,0.3,3.3,0.7,2.1,3.3c1.7,0.6,3.4,1,5.1,1.7c1.8,0.8,3.8,1.7,2.8,4.3c1.9,1.1,3.5,2.3,5.4,3.1
		c1.1,0.5,2.5,0.6,3.6,0.3c3.3-0.9,6.1-0.1,8.7,2c1.8,1.4,3.8,2.6,5.4,4.2c0.7,0.7,0.9,2.3,0.8,3.4c0,1.4,0.1,2.3,1.5,3
		c0.8,0.4,1.7,1.8,1.6,2.7c-0.3,2.6,1.2,3.3,3.2,4c1.1,0.4,2,1.2,3.2,2c4.1-0.2,7.9,1.7,11.5,4.1c1.8,1.2-0.6,1.9-1.4,2.9
		c0.6,0,1,0.1,1.1,0c2.2-2.4,4.6-2.3,7.4-1c1.5,0.7,3.4,0.6,5.1,0.7c2.7,0,4.8,1,6.5,3.1c1.8,2.2,4,3.7,6.9,4c2.9,0.3,4.6,2.1,4.6,5
		c0,2.3,0,4.7-0.4,7c-0.4,2.6-2,4.6-4.4,5.8c-1.9,1-3,2.4-3.4,4.5c-0.4,2-1.2,3.8-4,3.6c-0.3,4.5-0.5,8.8-0.8,13.1
		c-0.1,1.4-0.7,2.7-1.2,4c-0.2,0.5-0.7,1-0.7,1.5c0.2,4.2-2.6,7.2-4.6,10.3c-1.6,2.6-4.4,4.4-7.9,4.7c-1.3,0.1-2.7,0.7-3.8,1.4
		c-1.4,1-2.4,2.3-4.3,1.3c-0.3-0.1-0.8,0-1.1,0.2c-2,1.6-4.1,3.1-6,4.9c-0.7,0.6-1,1.9-1,2.9c0,2.2,0.4,4.4,0.2,6.6
		c-0.1,0.9-1,1.8-1.7,2.6c-0.9,1.1-2,1.9-2.8,3c-1.1,1.5-2.2,2.6-4.2,3.3c-1.5,0.5-2.8,2.9-3.4,4.8c-1.4,4-4.2,6.8-7.4,9.2
		c-2.7,2.1-5.7,0.6-8.5-0.4c-0.7-0.3-1.5-0.6-2.5-0.6c4.1,1.3,2.6,5.4,4,8c1.3,2.5-1.7,6.2-4.4,7c-3.7,1.1-7.4,2-11.3,1.6
		c-0.5,0-1.4,0.5-1.4,0.9c-0.3,1.7-0.5,3.4-0.3,5c0.2,1.4-0.2,1.8-1.4,2.1c-1.9,0.5-3.6,1-5.4-0.3c-0.4-0.3-1-0.3-1.7-0.4
		c0.1,1.4,0.2,2.6,0.4,3.8c1.1,1.1,3.9-0.5,3.9,2.2c0,2.3-2.1,1.1-3.4,1.3c-0.6,2.1-0.8,4.5-1.8,6.3c-0.8,1.4-2.5,2.5-4,3.1
		c-1.9,0.7-2.6,1.9-2.5,3.7c0.1,1.9,1.4,2.3,3,2.7c0.9,0.2,2.5,1.3,2.4,1.5c-0.5,1.6-1,3.9-2.3,4.5c-2.5,1.2-3.1,3.2-3.8,5.4
		c-0.3,1-1.3,2.2-2.3,2.5c-2.1,0.6-2.1,2.3-2.6,3.8c-0.6,1.5,0.4,1.9,1.3,2.8c0.7,0.7,1.1,2,1.2,3.1c0.7,5,3.3,7.8,8.3,8.7
		c0.7,0.1,1.4,0.3,2.1,0.5c0.1,0.3,0.1,0.7,0.2,1c-2,0.6-4,1.2-6,1.7c-1.3,0.3-2.7,0.6-4.1,0.6c-1.1,0-2.3-0.1-3.2-0.6
		c-1.1-0.5-2-1.6-2.9-2.3c-1.3-1-3.1-1.7-0.8-3.6c0.3-0.2-0.5-1.8-0.9-3.1c-2.1,3.1-3.3,3.2-5.8,1.1c-0.5-0.4-1.2-0.7-1.8-0.9
		c-1.6-0.6-3.1-1.2-2.8-3.4c0.1-0.5-0.5-1-0.7-1.6c-0.2-0.6-0.7-1.6-0.5-1.8c1.3-1.1,0.4-2,0-3.1c-0.8-1.7-1.6-3.4-2.2-5.3
		c-0.6-1.8-0.8-3.8-1.2-5.8c1.4-0.2,2.5-0.3,3.5-0.5c-0.2-1.4-0.3-2.6-0.5-3.9c-1.7-0.2-3.7,0.3-4.3-2.4c-0.7-3.1,2.6-2.6,3.2-4.6
		c0.6,0.4,1,0.6,1.3,0.8c1.5,0.9,2.4,0.4,2.5-1.3c0.2-1.8-0.2-3.6,1.4-5.2c0.7-0.7-0.1-2.8,0-4.2c0.1-1.4,0.5-2.7,0.8-4
		c-0.3-0.1-0.6-0.2-0.9-0.3c-0.4,1-1.1,2-1.1,3.1c-0.2,2.9-1,4.2-3.5,4.2c0.6-2.5,1.2-4.9,1.7-7.3c0.2-1,0-2.1,0.1-3.1
		c0.1-1.2,0-2.5,0.4-3.6c0.9-2.3,1.5-4.5,0.5-7c-0.3-0.8,0.1-2.1,0.5-3.1c3.3-7.2,6.1-14.4,5.8-22.7c-0.1-4.2,0.2-8.6,2.2-12.7
		c0.8-1.5,0.9-3.5,1-5.2c0.2-5.5-0.3-10.9,1.8-16.3c0.7-1.9,0-4.7-0.8-6.8c-0.6-1.6-2.4-2.9-3.9-4c-4.6-3.3-9.5-6.3-14.1-9.5
		c-0.8-0.6-1.5-1.7-1.6-2.7c-0.3-2.3-1.1-4.2-2.5-5.9c-0.6-0.7-0.8-1.7-1.3-2.5c-2.7-4.7-5.4-9.5-8.1-14.2c-1.2-2.1-2.5-4-3.7-6.1
		c-0.2-0.4-0.2-1.1-0.1-1.6c0.7-2.4,2-4.3,4.6-5.2c0.7-0.3,1.2-1.2,2.1-2c-0.8-0.2-0.9-0.3-1.1-0.3c-1.5,0.4-2.8,2.4-4.4,0.7
		c-1-1.1,0.1-5,1.4-6.3c1.9-2,4.4-3.8,5.1-6.2c0.7-2.3,2.3-3.2,3.4-4.7c1.2-1.5,1.4-3.9,1.6-6c0.2-1.8-0.4-3.6-0.4-5.4
		c0-2.9-2.9-4-3.7-6.4c-0.2-0.5-2.2-0.4-3.3-0.3c-0.3,0-0.5,1.3-0.6,2c0,1.8-1,2.4-2.6,2c-0.8-0.2-1.6-0.7-2.3-1.2
		c-1.4-0.9-2.7-2.2-3.9,0.4c-1.8-1.8-3.3-3.3-4.8-4.7c-0.2-0.2-0.3-0.4-0.5-0.5c-5.8-1.4-6-7.6-9.4-11c-0.6-0.6-1.3-1.4-2.1-1.6
		c-2.3-0.7-4.6-1.3-7-1.9c-0.2,0-0.3-0.1-0.5-0.1c-4.7,0.6-7.1-2.8-9.9-5.5c-2.2-2.1-4.4-2.5-7.3-1.4c-1.3,0.5-3.1,0.3-4.6,0
		c-3.3-0.8-6.8-1.6-9.9-3c-5.6-2.7-11.7-4.4-16.2-9.1c-1.5-1.5-2-2.9-1.4-5c0.3-1.1,0.2-2.8-0.5-3.6c-3.4-3.9-7-7.5-10.6-11.2
		c-0.4-0.4-1.1-0.9-1.2-1.4c-0.7-4.1-4.4-5.6-6.7-8.4c-1.7-2-3.4-4.2-4.2-6.6c-1-3.1-2.6-4.6-5.8-4.6c-0.8,2.5,0.6,4.4,1.9,6.2
		c1.9,2.6,4.4,4.8,6.1,7.4c2.1,3.2,3.6,6.7,5.4,10c0.3,0.6,1,1.2,1.6,1.4c1.5,0.5,2,1.5,1.8,2.8c-0.1,0.5-0.5,1.3-0.9,1.4
		c-0.5,0.2-1.4-0.1-1.8-0.4c-2.1-1.7-4.2-3.4-6.2-5.2c-0.5-0.4-0.7-1.3-0.8-2c-0.2-3.2-0.7-4-3.8-5c-1.9-0.6-3.5-1.6-4.3-3.9
		c0.8-0.2,1.5-0.5,2.4-0.7c-0.5-0.8-1-1.4-1.4-2.2c-2.7-4.2-5.7-8.2-8-12.5c-2.4-4.4-5.5-7.4-10.5-8.3c-1.2-0.2-2.6-0.6-1.7-2.5
		c0.1-0.3,0-0.8-0.2-1.1c-1.5-2.6-3-5.2-4.5-7.8c-0.2-0.4-0.7-0.6-0.9-0.9c-1-1.5-2-3-3-4.6c-0.5-0.8-0.7-1.8-1.1-2.6
		c-1-1.9-2-3.6-0.8-5.9c0.5-0.9,0.2-2.6-0.4-3.6c-0.9-1.4-0.7-2.5-0.3-3.9c0.5-2,1-4,1.2-6.1c0.2-1.8,0.3-3.6,0.1-5.4
		c-0.2-1.7-0.7-3.4-1.1-5.1c-0.3-1.2-0.6-2.4-1.1-3.9c-0.7-0.4-1.9-1.2-3.1-2c-2.2-1.4-4.5-2.7-6.6-4.2c-0.7-0.5-1-1.5-1.8-2.8
		c2,0.1,3.3,0.2,4.5,0.2c-0.3-2.2-3.7-3.3-2.2-6.3c-2.4,0.1-4.2-0.5-4.4-3.3c0-0.4-1.1-1.1-1.7-1.1c-3.6-0.2-4.5-2.9-5-5.5
		c-0.7-4.1-2.7-7-6.2-8.9c-0.5-0.3-1.2-0.8-1.3-1.3c-0.4-3.6-3.8-5.2-5.4-7.9c-5.8,1.2-9.9-1.8-13.6-5.4c-2.7-2.5-5.3-3.4-8.8-2.2
		c-3.1,1-6,1.2-8.8-0.9c-1.8-1.4-4-2.3-6.2-3.2c-1.1-0.4-2.4-0.3-3.9-0.4c0.2,1.3,0.4,2.1,0.6,2.9c0.5,2.1-0.2,3.1-2.3,2.9
		c-2.6-0.3-4.7,0.1-6.7,2c-0.5,0.5-2.3,0.6-2.4,0.4c-0.5-1.3-2.3-2.5-1-4.2c1.3-1.6,2.6-3.2,3.8-5.1c-1.6,1.1-3.2,2.1-4.6,3.3
		c-1.2,1-2.1,2.3-3.2,3.4c-1.2,1.2-2.8,2.1-1.4,4.2c0.2,0.3-0.3,1.6-0.8,1.9c-7,4.9-13.9,9.8-21.1,14.4c-2.6,1.7-5.9,2.3-8.9,3.6
		c-3.1,1.3-6.2,2.7-9.3,4.1c-0.6,0.3-1.1,0.7-1.7,0.8c-0.6,0.1-1.2-0.2-1.9-0.3c0.2-0.5,0.4-1.1,0.7-1.5c0.3-0.3,0.8-0.5,1.2-0.7
		c4.1-2.2,8.2-4.4,12.4-6.5c2-1,4.1-1.6,6.2-2.4c0.4-0.1,0.8-0.2,1.1-0.5c1.8-1.5,3.6-2.9,5.4-4.4c1.6-1.4,3.7-2.3,3.1-5.2
		c-0.1-0.6,1.1-1.5,2-2.6c-3.4,0-7.2,2-9.7-2.1c-0.7,0.9-1.2,1.4-1.7,2c-0.9,1.1-2.1,1.8-3.5,0.8c-1.2-0.9-2-1.8-1.3-3.6
		c0.3-0.9,0.3-2.6-0.2-2.9c-0.8-0.5-2.2-0.4-3.2,0c-3.3,1.3-6.7,0.4-8.4-2.7c0.7-0.3,1.5-0.4,2.1-0.8c0.6-0.4,1-1,1.5-1.6
		c-0.7-0.4-1.3-0.9-2-1.3c-0.2-0.1-0.5,0.1-0.7,0c-0.8-0.3-2.2-0.9-2.1-1c0.4-1.4,0.8-2.9,1.6-4c0.7-1,2.2-1.5,2.8-2.5
		c1.1-2.1,2.6-2.7,4.8-2.3c1,0.1,2.1-0.5,3.1-0.9c0.8-0.3,1.5-0.8,2.4-1c2.2-0.5,3.3-3.1,1.8-4.7c-0.5-0.5-2-0.7-2.7-0.3
		c-4.6,2.4-9.1,0.3-13.6,0c-1.8-0.1-3.6-1.9-5.1-3.3c-1.6-1.5-1.2-2.7,0.8-3.5c2.7-1.1,5.5-2.3,8.3-3.3c1.9-0.7,3.7-0.6,4.8,1.5
		c0.2,0.4,0.7,0.9,1,0.9c2.7-0.3,5.5-0.5,8.5-2.4c-1.3-0.4-2-0.8-2.7-0.8c-3.6,0-6.1-2.1-8.7-4.1c-1.9-1.5-4.1-2.5-6.1-3.9
		c-1-0.7-1.7-1.6-2.5-2.4c1-0.6,1.9-1.3,2.9-1.9c0.4-0.2,0.9-0.3,1.4-0.3c3.8,0.1,6.5-1.6,8.4-5c0.8-1.5,2.2-2.1,4.1-2.3
		c1.4-0.1,2.6-1.3,3.9-2c0.6-0.3,1.1-0.9,1.8-1.1c2.9-0.9,5.9-1.7,8.9-2.3c0.9-0.2,2-0.2,2.7,0.2c2.5,1.4,5.1,1.7,7.9,1.2
		c1.8-0.4,4-0.6,4.7,2.2c0.1,0.4,1.9,0.8,2.6,0.5c2.9-1.2,5.6-0.6,8.4,0.5c1.1,0.4,2.3,0.6,3.5,0.5c2.6-0.1,5.1,0.1,7.4,1.5
		c1,0.6,2.9,0.4,4.2,0c2.4-0.8,4.2-1,6.5,0.8c1.6,1.2,4.1,1.1,6.2,1.8c2.7,0.9,5.5,1.8,7.9,3.3c2.1,1.2,3.7,1,5.4-0.3
		c2.2-1.7,4.3-3.2,7.5-2c1,0.4,2.6-0.9,3.8-1.5c2.6-1.4,5-2.9,8.3-1c2.1,1.3,4.2-0.2,5.3-2.6c0.3-0.6,0.9-1,1.4-1.5
		c0.4,0.5,0.9,0.9,1.3,1.5c1.2,1.6,2.3,3.3,3.7,4.8c1,1.1,2.1,0.9,2.7-0.6c0.2-0.4,0.4-0.7,0.6-1c1.2-1.9,2.1-1.9,3.1,0
		c1.3,2.5,2.5,2.6,4.2,0.3c1.5-2,2.8-2.3,5-0.6c5.6,4.2,12,4.8,18.6,4.9c1.6,0,3.3-0.3,4.2,1.7c1.2,2.6,1,3.1-2.7,5.1
		c1.9,0,3.2,0.1,4.6,0c4-0.2,8-0.5,11.9-0.9c2.1-0.2,3.3,1.1,4.4,2.6c0.6,0.9,1.3,1.7,2.2,2.2c-0.4-1.5-0.9-3-1.3-4.5
		c0.1,0,0.2,0,0.4-0.1c-0.5-0.6-1.5-1.4-1.4-1.9c0.2-0.9,0.9-2,1.7-2.3c2.1-0.8,4.3-1.3,6.6-1.9c-1.2-1.7-2.4-2.1-4.4-0.7
		c-1.2,0.8-2.8,1-4.3,1.4c-1.4,0.4-3,0.5-4.3,1.1c-3.4,1.3-6.9,1.2-10.4,0.5c-0.7-0.2-1.8-1.1-1.8-1.8c-0.1-1.7-1-1.9-2.3-2.1
		c-2.1-0.3-4.2-0.5-6.2-1.1c-1-0.3-2.2-1.5-2.3-2.4c0-1.6,1.3-2.6,3.1-2.6c3.1,0,6.1,0,9.2,0c0.8,0,1.6-0.1,2.5-0.1
		c0-0.3,0-0.5,0-0.8c-2.7-0.1-5.5-0.3-8.2-0.3c-2,0-3.9,0.2-5.9,0c-3.8-0.3-4.3-1.5-2.4-4.9c-0.9-0.4-1.9-0.7-2.7-1.2
		c-1.8-1-1.7-3.3-0.2-4.7c3.6-3.4,8.4-3.9,12.7-5.9c0.8-0.4,2-0.1,3.4-0.1c-0.5,1.4-0.9,2.5-1.4,3.6c1.8-0.6,3.5-1.4,5.3-1.6
		c2.3-0.3,3.7,0.9,3.2,3.8c1.4-0.8,2.4-1.5,3.5-2.2c0-0.8,0-1.6,0-2.9c2.6,1.5,5.3,2.3,6,5.5c0.2,0.8,1,1.4,1.8,1.8
		c-0.6-2.6-1.2-5.1-1.9-8c2.4,0,4.2,0,6,0c-0.3-1.2-0.6-2.1-0.9-3.4c2.3,0.4,4.3,0.5,6.1,1.1c1.8,0.6,2.2,3.4,0.6,4.6
		c-1.9,1.5-2.2,2.5-0.5,4.5c1.1,1.3,1.6,3.4,2,5.2c0.7,3.3,1.8,4.6,5.2,5.1c1.3,0.2,2.7,0.3,3.9,0.8c0.8,0.3,1.2,1.4,1.8,2.1
		c-0.7,0.6-1.4,1.3-2.2,1.7c-0.9,0.4-1.9,0.5-2.7,0.8c0,0.5-0.1,0.6,0,0.7c0.3,1.3,0.5,2.6,0.8,3.9c-1.4,0.2-2.8,0.7-4.2,0.6
		c-1.7-0.1-3.3-0.6-5-0.9c-0.1,0.3-0.3,0.5-0.4,0.8c1.4,1,2.7,2,4.2,2.9c2.8,1.6,5.7,2.3,9,1.5c1-0.3,2.3-0.3,3.3,0
		c3.6,1.2,5.1-0.7,6.3-3.9c-1.4-0.3-2.8-0.6-4.2-1c-0.7-0.2-1.2-0.7-1.8-1.1c0.5-0.7,0.9-1.7,1.5-1.9c2.1-0.6,4-1.2,5.1-3.4
		c0.2-0.3,1.5-0.5,2-0.2c2.2,1.3,4.3,2.9,6.6,4.4c0.4,3.2-3.5,1.9-4.8,4c3,1.1,0.9,3.6,1.5,5.5c1.9,0,3.1-0.4,2.9-2.8
		c-0.2-1.6,0.6-2.7,2.1-3.3c1.5-0.6,2.5-1.6,2.3-3.4c-0.2-1.8-0.9-3-2.8-3.5c-2-0.5-3.8-1.4-5.7-2.2c-1.2-0.5-1.7-1.5-1.2-2.9
		c0.7-2.2,1.1-4.4,3.9-5.4c2-0.7,2.5-2.8,1.7-4.8c-0.6-1.5-1.4-3-2.4-4.3c-1.2-1.7-0.9-2.8,0.5-4.2c3-2.8,6.5-3.1,10.3-2.9
		c1.9,0.1,3.8,0.2,5.6,0.6c0.9,0.2,2.1,1,2.4,1.8c0.2,0.6-0.5,1.9-1.2,2.5c-1.3,1.2-2.8,2.3-4.3,3.3c-0.7,0.5-1.9,1-2.5,0.8
		c-2.7-1.3-3,1.1-3.8,2.5c-1,1.6,0,2.6,1.1,3.6c3.1,2.7,5.3,5.8,4.9,10.2c-0.1,0.7,0.8,2.1,1.4,2.2c2.2,0.2,2.6,1.6,2.7,3.4
		C276.6,111.5,276.8,112.2,277.1,113.6z M312.4,231.3c2.3-2.3,5.5-2.6,8.3-3.6c1-0.4,1.7-1.5,2.5-2.3c-2.6-0.1-4.8,0.2-6.9,0.6
		c-1.7,0.3-3.4,0.7-2.9,3.2C313.6,229.8,312.8,230.6,312.4,231.3c-4.3-1-7.3,1.4-10.3,4C305.8,234.7,309.3,233.7,312.4,231.3z
		 M296.4,214.5c-0.9-1.5-1.6-3.5-3-4.7c-1.3-1.2-3.2-1.7-5-2.4c-3.1-1.2-4.2-0.8-6.3,1.7c-0.7,0.9-2,1.4-3,1.9
		c-1.8,0.9-3.7,1.7-5.5,2.6c0.1,0.3,0.1,0.6,0.2,0.9c0.8,0.1,1.6,0.5,2.3,0.3c2.4-0.7,4.7-1.6,7-2.6c1.3-0.5,2.3-0.7,2.7,1
		c0.5,2,2,2.3,3.8,2.1C291.8,215,294.1,214.7,296.4,214.5z M303.4,228c0.2,0,0.5,0,0.7,0.1c1-2.2,1.8-4.6,3-6.7
		c0.9-1.4,0.4-2.1-0.8-2.5c-2.7-1-5.5-1.8-8.3-2.7c-0.4,1.2-0.6,1.8-0.7,1.8c1.1,1.5,2.4,2.5,2.7,3.8c0.3,1.4-0.4,3-0.7,4.6
		C300.9,226.3,302.8,225.4,303.4,228z M294.7,218.2c-3.1-0.2-7.3,1.6-7.6,3.7c-0.5,3.4-0.6,6.9-0.7,10.4c0,0.6,1.1,1.7,1.8,1.8
		c1.3,0.2,2.3-0.6,2.1-2.1c-0.1-1.2-0.2-2.3-0.6-3.5c-0.5-1.8-0.5-3.3,0.8-4.8C292,222,293.3,220.1,294.7,218.2z M170.4,205.5
		c-1.5-3.8-5-6.6-7.4-5.4C166.3,201,166.8,204.9,170.4,205.5z M374,185.5c0.2,0.4,0.4,0.8,0.6,1.2c1.4-0.8,2.7-1.6,4.1-2.4
		c-0.1-0.3-0.3-0.5-0.4-0.8C376.8,184.1,375.4,184.8,374,185.5z"/>
	<path class="fill-light" d="M979.7,424.8c0.1-1.3,0.1-2,0.2-2.8c0.3-4.6,2.2-6.8,6.6-8c1-0.3,2-0.6,2.9-1c2.1-1.1,3.9-1.1,5.8,0.7
		c0.7,0.6,2.1,0.4,3.2,0.6c1.6,0.2,3.3,0.3,4.9,0.5c-0.4,1.7-0.7,3.5-1.4,5.2c-0.7,1.6-1.7,3.1-2.9,5.1c4.3,0,7,2.1,9.7,4.3
		c1.7,1.3,3.9,2.1,6.1,2.8c2,0.6,3.2-0.6,3.2-2.6c0.2-4.4,0.3-8.8,0.4-13.2c0-0.8-0.3-1.7,0-2.3c0.5-1.2,1.3-2.2,2-3.4
		c0.8,0.7,2,1.2,2.4,2.1c0.9,1.8,1.4,3.9,2.3,5.8c0.6,1.3,1.5,2.6,2.4,3.8c0.8,1.1,1.9,1.9,2.4,3.1c1.2,2.7,1.8,5.7,3.3,8.3
		c1.1,2,2.8,4,4.7,5.3c2.5,1.7,4.5,3.5,5.6,6.3c0.4,1,1.6,1.9,2.6,2.2c1.4,0.4,2.1,1.1,2.8,2.4c1.6,3,3.4,5.8,5.4,8.5
		c1.7,2.2,2.6,4.4,2.7,7.1c0.3,6.9-1.1,13.4-3.3,19.8c-0.4,1.1-1.2,2.2-1.9,3.2c-2.8,3.9-5.5,7.7-5.7,12.9c-0.1,2.7-1.1,3-3.7,2.6
		c-1.3-0.2-2.7,0.4-4.1,0.9c-0.7,0.3-1.2,1-1.8,1.5c-2.2,1.7-2.7,1.6-4.6-0.5c-0.6-0.7-1.4-1.2-2-1.8c-0.4,0.1-0.6,0.1-0.7,0.2
		c-3.2,3.4-3.2,3.4-7.5,1.7c-4.2-1.6-7.9-3.8-9.8-8.2c-0.3-0.6-0.7-1.3-1.3-1.6c-2.1-1.4-2.9-3.3-2.8-5.8c0.1-0.8-0.8-1.9-1.6-2.4
		c-0.3-0.2-1.6,0.7-2.2,1.3c-1.2,1.3-2.2,2.7-3.4,4.3c-0.5-0.7-0.9-0.9-0.9-1.2c-1-6.8-6.4-8.6-11.8-10.3c-4.2-1.3-8.5-1.3-12.6,0.6
		c-1.2,0.5-2.5,0.9-3.8,1.1c-2.8,0.5-4.9,1.9-6.7,4.1c-1.5,1.9-3.1,2.6-5.7,2.4c-3.2-0.3-6.4,0.3-9.6,0.5c-0.5,0-1.2,0.2-1.5,0.5
		c-2.6,2.8-5.8,2.8-9.1,2c-1.5-0.4-3.2-1-4.3-2.1c-2.4-2.2-2.1-3.1,0.9-4.3c1.2-0.5,1.4-1,1-2.3c-2.6-6.8-5.1-13.6-7.6-20.4
		c-0.3-0.8-0.5-1.9-0.1-2.5c1.5-2.6,1-5.3,0.8-8.1c-0.3-4.5,2.1-7.9,6.4-9.1c2.1-0.6,4.3-0.9,6.4-1.5c3.9-1.1,7.8-2.2,11.7-3.5
		c0.9-0.3,1.5-1.5,2.1-2.4c0.4-0.6,0.5-1.5,0.6-2.3c0.5-4.5,2.5-7,7.5-6.6c0.8,0.1,1.9-1.1,2.6-2c0.6-0.7,0.7-1.7,1.1-2.6
		c1.2-2.3,2.9-2.9,5.2-1.9C975.4,422.6,977.3,423.6,979.7,424.8z"/>
	<path class="fill-light" d="M293.5,56.5c0.3-0.7,0.6-1.2,0.9-1.9c-0.4-0.1-0.7-0.2-1-0.3c-1.6-0.1-3.3,0.1-4.8-0.3c-2.3-0.6-2.3-1.1-0.8-3
		c0.7-0.8,1.3-1.7,2-2.5c-0.2-0.2-0.4-0.4-0.6-0.6c-1.5,1.3-3.1,2.5-4.5,4c-2.5,2.6-7.6,3.5-10.7,1.7c-1.4-0.7-2.8-1.3-4.3-1.7
		c-1.6-0.4-3.2-1-3-2.9c0.1-1.1,1.1-2.1,2-3.6c-1.2,0.4-2.5,1-3.8,1.3c-0.6,0.2-1.5,0.2-2.1-0.1c-2.4-1-3.2-3.3-4.2-5.4
		c-0.2-0.3-0.1-1,0.1-1.3c1.8-2.9,3.4-6,6.7-7.7c2.9-1.5,6-1.3,8.3,0.8c3.2,2.8,6.4,5.1,10.9,5.3c0.8,0,1.5,1.2,2.2,1.9
		c1.2,1.1,2.4,2.2,3.6,3.3c0.2-0.2,0.5-0.4,0.7-0.6c-0.4-1-0.8-2-1.3-3.3c2.6-1.2,5.4-1.4,8.2-1.1c3.1,0.3,6.1,0.6,8.7-1.7
		c-3.9,0.5-7.7-1.5-11.6,0.2c-1.4,0.6-2.8,0.3-3.9-1.2c-0.4-0.6-1.8-0.8-2.7-0.8c-2.6,0-5.2,0.6-7.4-1.4c-0.7-0.6-1.2-1.3-1.9-1.9
		c-0.6-0.5-1.1-1-1.8-1.3c-1.6-0.6-3.4-1-5.7-1.7c3-2.3,5.5-3.7,8.7-3.8c3-0.1,5.9-0.3,8.9-0.5c0.5,0,1.2-0.1,1.6-0.4
		c3-2.5,6.5-1.7,9.9-2c1.9-0.2,4-0.7,5.7-1.6c3.8-1.9,7.7-2.9,12-1.7c0.4,0.1,1.1,0.2,1.4-0.1c3-2.5,6.2-2.7,9.5-0.7
		c1.1,0.7,1.9,0.6,2.9-0.3c0.8-0.6,2-1,3-1c3,0.1,5.9,0.5,8.8,0.7c2,0.1,4,0.2,6.1,0.2c0.9,0,1.7,0,2.6,0c0.1,0.3,0.3,0.5,0.4,0.8
		c-0.6,0.4-1.1,0.7-1.7,1.1c3-0.3,6-0.7,9-1c0.7-0.1,1.5,0.5,2.3,0.8c0.8,0.4,1.6,0.9,2.4,1.3c0.2,0.1,0.5,0,0.7,0.1
		c1.7,0.9,4.8,0.5,4.7,2.9c-0.1,1.1-3.1,2.5-5,2.9c-5.5,1.2-11,1.9-16.6,2.9c4.1,1.7,8.2,0.2,12.9-0.5c-0.7,0.8-0.9,1.2-1.1,1.3
		c-4.6,2.1-9.1,4.1-13.7,6.1c-0.4,0.2-0.9,0.3-1.3,0.5c-1.2,0.8-2.2,1.8-3.5,2.3c-1.2,0.5-2.7,0.4-4.1,0.9c0.8,0.2,1.6,0.4,2.7,0.7
		c-2.6,1.9-4.9,3.3-8.1,3.3c-3.6,0-7.2,0.2-10.8,0.7c-1.1,0.2-2.1,1.4-3,2.7c3-3.7,6.8-1.2,10.2-1.7c0,3.5-1.2,4.7-6,6.1
		c0.4,0.7,0.7,1.3,1.4,2.6c-2.6,0.9-5.1,1.8-7.5,2.7c0.9,1.8,0.9,1.8-3,3.4c0.8,0.4,1.5,0.7,2.2,1c0.6,0.3,1.2,0.6,1.9,0.9
		c-2.6,3.7-8.4,5.2-12.1,3.4c-0.6-0.3-1.4-0.3-2-0.2c-4.7,0.5-9.3,1.2-14,1.7c-0.8,0.1-1.7-0.2-2.5-0.5c-2.8-1.3-5.6-1.1-8.3,0.2
		c1.2,2.7,3.2,3.8,6,3.6c0.5,0,1-0.3,1.4-0.1c5.4,2.3,10.5-0.2,15.7-1c3.3-0.5,6,0.9,8.8,2c0.4,0.2,0.6,1.6,0.6,2.5
		c0.1,3.8-0.9,4.7-4.6,4.8c-2.2,0.1-4.5,0.8-6.5-1.1c-0.2-0.2-1,0.1-1.5,0.1c-3.9,0.3-7.8,0.8-11.7,1c-0.8,0-1.7-0.7-2.6-1
		c-0.5-0.2-1.1-0.4-1.5-0.2c-3.5,1.4-6.6-0.2-9.8-1.2c-1.6-0.5-1.4-1.9-1.3-3.1c0.4-3.5-2.6-6.8-6.2-6.8c-2,0-4.1-0.1-6.1-0.4
		c-0.6-0.1-1.5-0.5-1.7-1c-0.5-1.1-0.7-2.4-1-3.7c1.2-0.2,2.6-0.8,3.7-0.6c2.1,0.4,4.2,1.4,6.3,1.8c6.9,1.5,13.3-0.6,19.9-2.2
		c0.5-0.1,0.9-0.5,1.5-0.9c-1.3-0.8-2.4-1.4-3.8-2.1C287.5,54.3,290.4,55.9,293.5,56.5z"/>
	<path class="fill-light" d="M1049.4,410.7c-2.4-0.4-4.3-0.6-6.1-1.2c-3.8-1.2-7.4-2.8-9.9-6.3c-1.6-2.2-4.4-1.7-6.8-1.3
		c-0.4,0.1-0.6,0.8-1,1.2c-0.9,1.1-1.7,2.3-2.6,3.3c-0.9,1.1-1.8,1.1-2.9,0c-0.9-0.9-2.3-1.2-3.4-1.8c-0.8-0.4-1.6-0.9-2.4-1.3
		c-1-0.4-2-0.7-3.1-0.8c-1.2-0.2-2.5,0.1-3.7-0.3c-1.8-0.5-2-1.8-0.9-3.2c1.8-2.2,1.1-5.5-1.6-6.4c-3.3-1.2-6.8-1.8-10.1-3
		c-2.2-0.8-4.2-2.2-5.9-3.2c0.8-0.9,1.5-1.8,2.4-2.9c-2.4-0.6-4.4-1.1-6.4-1.7c-0.6-0.2-1.5-0.8-1.5-1.2c0.1-0.8,0.6-2.2,1.1-2.3
		c3-0.4,6-0.7,9-0.7c0.7,0,1.5,1.6,1.9,2.6c0.8,1.9,1.3,3.9,2,6.4c2.6-1.5,4.7-2.8,6.8-4.1c1.2-0.7,2.3-1.8,3.6-2.1
		c0.9-0.3,2.2,0.1,3.2,0.6c1.4,0.7,2.6,1.8,3.9,2.5c6.9,3.1,13.9,6.2,20.8,9.3c2.4,1.1,3.9,3.7,3.7,6.3c-0.2,2.3,2.9,6.7,5.2,7.5
		C1047.6,407.6,1048.4,408.2,1049.4,410.7z"/>
	<path class="fill-light" d="M618.9,66.5c-1.1-3.1-3.4-4.8-6.3-5.9c-1.7-0.6-1.6-1.9-0.2-3c-2.7-2.2-5.2-4.4-8.6-5.3
		c-1.1-0.3-2.1-2-2.6-3.3c-0.6-1.7-0.5-3.6-0.8-5.4c-0.3-1.7,0.3-2.4,2-2.2c0.9,0.1,1.9,0.2,2.8,0.1c1.9-0.1,4.1-0.8,4.2,2.1
		c1.8-0.6,3.3-1.2,5-1.8c0.3,1.7,0.6,2.8,0.8,3.9c0.2,0,0.4,0,0.6,0c0.1-0.5,0.4-1,0.3-1.4c-0.4-2,0.7-2.9,2.3-3.5
		c3-1.2,6-2.5,9.1-3.4c1.3-0.4,2.9-0.2,4.3-0.1c1.2,0,2.3,0.3,3.5,0.4c6.2,0.8,12.5,1.6,18.7,2.4c0.5,0.1,1.1,0.4,1.7,0.7
		c-3.2,1.4-6.2,2.5-9,4.1c-4.5,2.6-9.1,1.5-13.7,0.6c-2.2-0.5-4.2-1.3-6.4-2c-0.6,1.9,0.3,2.4,1.6,2.8c2.3,0.6,4.7,1.2,7,2
		c0.8,0.3,1.8,1,2,1.7c0.8,2.5,2.5,3.9,4.8,4.7c0.7,0.3,1.6,0.6,2,1.2c0.3,0.4,0.3,1.6,0,1.8c-3.2,2.3-6.8,1.9-10.4,1.4
		c-0.4-0.1-0.8-1.5-0.9-2.3c0-0.7,0.8-1.6,0.6-2.2c-0.3-1.2-1-2.3-1.8-3.2c-0.3-0.3-1.6,0.2-2.3,0.5c-4.1,2.3-5.5,6.6-7.5,10.4
		c-0.7,1.4-1.3,2.9-2,4.3C619.5,66.5,619.2,66.5,618.9,66.5z M617.4,52.1c-3.3-2.1-4.2-1.9-4.5,1.2
		C614.3,52.9,615.8,52.5,617.4,52.1z"/>
	<path class="fill-light" d="M921.6,372.5c0.5-1.4,1-2.5,1.2-3.7c0.4-1.9,1.5-2.9,3.3-3.5c4.7-1.6,8.9-3.8,11.4-8.4
		c0.7-1.2,2.2-2.2,3.6-2.9c1.4-0.7,3-0.7,3,1.7c0,0.5,0.6,1.1,1.1,1.6c0.7,0.7,1.6,1.3,2.3,2c1,1.1,1,2-0.7,2.6
		c-1.2,0.4-3.1,1.2-3.1,1.9c-0.1,1.9,0.6,3.9,1,5.9c0.1,0.5,0.7,0.9,1,1.3c1.6,2.3,1.5,2.5-1,3.8c-0.8,0.4-1.5,1.2-1.9,2
		c-1,2-1.7,4-2.6,6c-1,2.3-2.1,4.5-3.2,6.8c-0.8,1.5-1.9,1.6-3.3,0.8c-3.9-2.2-7.9-4.1-12.5-4.5c-1.5-0.1-2.3-1-2.4-2.6
		c-0.1-1.1-0.7-2.4-1.5-3.2c-2.7-2.5-3.1-3.6-1.7-7c0.2-0.5,0.4-1,0.7-1.5c1.7-3.4,1.7-3.4,3.9-0.3
		C920.5,371.5,920.9,371.8,921.6,372.5z"/>
	<path class="fill-light" d="M750,100.7c-0.8,0.3-1.6,1-2.4,0.9c-3-0.2-5.9-0.5-8.9-1c-0.6-0.1-1.5-1.3-1.5-1.8c0.1-1.7-0.6-2.1-2-2.2
		c-0.2,0-0.3,0-0.5-0.1c-1.4-0.3-3.4,0.8-4.1-1.3c-0.6-1.6,1.2-4.7,3.1-5.6c0.4-0.2,0.8-0.5,1-0.9c1.2-1.6,2.3-3.2,3.5-4.9
		c-1.9-1.7-0.5-2.7,1.1-4.1c1.9-1.6,3.5-3.5,4.9-5.5c1.1-1.6,2.3-2.7,4.3-3.3c3.5-1.1,6.9-2.6,10.2-4.1c2.8-1.3,5.6-2.4,8.8-2.1
		c3.8,0.4,7.3-0.8,10.7-2.3c1.5-0.6,3.2-1.2,4.7-1.1c1.1,0.1,2.6,1.1,3.2,2.1c0.9,1.5-0.2,2.8-1.6,3.4c-3.7,1.5-7.4,2.9-11.2,4.2
		c-1.7,0.6-3.6,0.6-5.3,1.2c-2.3,0.9-4.5,2-6.7,3.1c-1.7,0.8-3.3,1.6-5,2.5c-1,0.6-2.1,1.2-2.9,1.9c-2.3,2.1-4.5,4.2-6.6,6.4
		c-4.5,4.8-3.8,9.9,1.9,13.2c0.3,0.2,0.6,0.4,1,0.6C749.9,100.2,750,100.5,750,100.7z"/>
	<path class="fill-light" d="M723.6,415.3c2.3,3.8,3.8,7.1,4.2,10.9c0,0.4-0.6,1.2-1,1.3c-1.6,0.1-1.6,1.2-2,2.4c-0.5,2.1-1.5,4.1-2.1,6.2
		c-0.9,2.7-1.7,5.5-2.3,8.3c-0.8,3.4-1.2,6.9-2,10.3c-0.8,3.5-3,5.2-5.9,5c-4-0.2-6.6-2.4-7.3-5.7c-0.9-4.4-0.9-8.5,2.4-12.1
		c1.1-1.2,1.4-2.6,0.6-4.3c-1-2-1.6-4.3-2.3-6.5c-0.9-2.5,0.1-4.1,2.8-4.3c1.7-0.1,3.5-0.2,5.1-0.6c2.4-0.6,4.2-1.5,5-4.5
		C719.3,419.5,721.6,417.8,723.6,415.3z"/>
	<path class="fill-light" d="M1032,227.4c-0.2,0.5-0.5,1.3-0.8,2.2c-0.1,0.4-0.3,0.7-0.4,1.1c-2.3-0.5-4.1-0.1-5.9,1.5
		c-0.6,0.6-2,0.5-3,0.4c-0.9-0.1-1.7-0.8-2.6-1c-1.3-0.3-2,0.3-1.6,1.7c0.2,0.8,0.5,1.7,1.1,2.3c2.6,2.9,2.9,6.2,1.5,9.6
		c-2.1,4.9-4.5,9.8-6.5,14c-4.1,2.4-9.1-0.1-12.1,4.5c-0.5,0.7-1.9,1.5-2.6,1.4c-2.5-0.7-3.6,1.3-5.3,2.2c-0.9,0.5-2.3,0.6-3.1,0.2
		c-1.7-1-1.4-2.7,0.5-3.4c2-0.8,4.1-1.4,6-2.7c-3.3,0.9-6.5,1.7-10,2.7c2.1,2.2,1,4.5,0.7,6.5c-0.1,0.9-1.8,1.7-2.8,2.5
		c-0.3,0.2-0.8,0.3-1.1,0.2c-1.7-0.4-3.1-5.3-2.5-6.9c2.1-5.6,7.6-6.6,12.1-9c0.7-0.3,1.6-0.6,2.3-0.4c2.5,0.5,4.6,0,6-2.2
		c0.5-0.8,1-1.7,1.4-2.5c0.6-1.3,1-2.6,1.3-3.2c1.8,0.2,3.2,0.7,4.3,0.3c1.7-0.5,3.2-1.1,3.3-3.6c0.1-2.1,1.1-4.2,1.6-6.3
		c0.3-1.3,0.7-2.7,0.3-3.9c-0.8-2.9,0.4-5.1,2.3-7c1.7-1.7,2.5-3.7,2.4-6.1c-0.1-0.8,0.5-1.5,0.7-2.3c0.7,0.3,1.5,0.4,2.1,0.8
		C1025,222.9,1028.4,225,1032,227.4z"/>
	<path class="fill-light" d="M200.6,73.9c-2.1,0.2-4.1,0.4-6,0.5c-0.8,0-1.8-0.1-2.5-0.5c-1.9-0.9-2-1.9-0.6-3.5c0.2-0.3,0.4-0.6,0.3-0.6
		c-3.4,0.2-6.9,0.5-10.4,0.5c-0.8,0-1.5-1-2.6-1.8c-0.8,0.1-2,0.3-3.3,0.3c-0.7,0-1.4-0.6-2.1-1c0.4-0.8,0.8-2.3,1.4-2.4
		c4-0.7,7-2.9,9.9-5.5c0.5-0.4,1.3-0.5,1.9-0.5c2.2-0.1,4.4,0.6,6.4-1.2c0.5-0.5,2.1,0.3,3.2,0.5c0.1,2.6,0.3,5-2,6.4
		c-1.8,1.1-3.6,0.6-5.2-1.6c-1,1.5-1.8,2.7-2.6,3.9c0.2,0.2,0.4,0.4,0.6,0.6c1.1-0.4,2.3-0.8,3.4-1.1c0.7-0.2,1.5-0.3,2.3-0.4
		c1.6-0.3,3.3-0.5,4.9-0.8c0.7-0.1,1.4-0.6,2-0.4c4.1,1.1,8.6,1.1,11.7,4.8c1.1,1.3,4.4,0.7,6.1-1.1c-1-0.4-2-0.6-2.8-1.1
		c-0.7-0.5-1.7-1.3-1.7-1.9c0-1.3,0.5-2.5,2.4-2.4c1.8,0.1,3.6-0.4,5.7-0.6c-0.2,1-0.3,1.6-0.4,2.2c-0.2,2.9,1.6,4.5,4.4,4
		c0.8-0.2,1.7-0.4,2.5-0.3c1,0.2,2.8,0.6,2.8,1c0.1,1.5,0.5,3.4-1.8,3.9c-0.7,0.2-1.5,0.6-2.1,1c-1.8,1.1-3.4,1.7-5.9,0.9
		c-2.3-0.8-4.8-0.4-7.4,0.8c-3.3,1.5-7.2,1.7-10.9,2.2C201,78.8,200.2,76.5,200.6,73.9z"/>
	<path class="fill-light" d="M573.6,190.9c-3.1,0.6-3.7,1.5-3.8,5c0,0.6-0.9,1.4-1.5,1.5c-1.8,0.5-3.7,0.5-5.5,1c-2.5,0.7-5,1.7-7.5,2.3
		c-2.3,0.6-4.7,0.9-7,1.3c-0.2-0.3-0.3-0.5-0.5-0.8c0.6-1,1.1-2.1,1.9-3c2.1-2.4,2.4-5,0.8-7.7c-0.8-1.3-0.3-2.2,0.9-2.9
		c0.4-0.2,0.9-0.3,1.3-0.5c1.2-0.7,2.3-1.4,3.4-2.1c-1-1.6-0.3-4.1-2.7-5c-1-0.4-1.9-1.1-2.9-1.5c-2.6-1-3.3-2.2-3-5
		c0.1-0.9-0.1-1.9-0.4-2.8c-0.7-1.8-1.3-3.4,1.2-4.4c0.4-0.2,0.7-0.8,1-1.3c1.9-3,2.2-3.1,5.2-1.3c0.4,0.2,0.8,0.5,1.2,0.8
		c-0.3,0.7-0.5,1.3-0.9,2.4c1.6,0,2.9-0.1,4.3,0c0.7,0.1,1.8,0.2,2,0.6c0.3,0.5-0.2,1.4-0.5,2.1c-0.1,0.3-0.5,0.6-0.7,0.9
		c-2.6,2.9-2.7,3.6,0,6.6c1.2,1.3,2.6,2.5,3.9,3.7c1.1,1,2.4,1.7,2.5,3.6c0,0.8,1.3,1.6,2.2,2.2c1.6,1.2,3.4,2.3,5.1,3.4
		C573.5,190.4,573.5,190.7,573.6,190.9z"/>
	<path class="fill-light" d="M163.4,92.7c1.8-2.6,3.5-4.8,4.9-7.2c1.1-1.8,1.2-3.6-0.3-5.5c-0.5-0.6-0.5-1.7-0.7-2.6
		c0.9-0.2,1.7-0.5,2.6-0.5c3.2,0.2,6.4,0.3,9.6,0.8c1.5,0.2,2.9,1.1,4.4,1.5c1,0.2,2.1,0.3,3.1,0.1c2.7-0.6,8.3,1.3,9.9,3.6
		c0.8,1.2,0.8,2.1-0.9,2.5c-1.8,0.4-3.6,1-5.4,1.6c-4.1,1.5-7.4,3.9-9.7,7.8c-1.7,2.9-5.1,2.9-7.9,3.9c-0.4,0.2-1.4-0.6-1.8-1.2
		c-1.9-2.4-3.7-4.7-7.2-4.6C163.7,93.1,163.4,92.7,163.4,92.7z"/>
	<path class="fill-light" d="M902.4,395.5c-2.8-1.5-5.9-2.3-7.6-4.3c-4.9-5.7-9.2-11.9-13.6-18c-1.2-1.7-1.7-3.9-3-5.5
		c-1.3-1.6-3.2-2.7-4.8-4c-0.9-0.7-2.1-1.3-2.6-2.2c-0.4-0.7-0.3-2,0.1-2.8c0.1-0.3,1.6-0.2,2.4,0c1.4,0.3,2.8,0.8,4.2,1.4
		c0.8,0.3,1.6,0.7,2.1,1.2c1.4,1.4,2.6,3.2,4.1,4.5c1.7,1.4,3.7,2.5,5.5,3.8c1.9,1.5,3.7,3.1,5.6,4.6c1.4,1.2,2.7,2.4,4.1,3.5
		c0.1,0.1,0.3,0.2,0.4,0.3c0.4,3.3,2.7,4.8,5.6,5.8c0.4,0.1,0.7,1.1,0.6,1.6c-0.5,2.7-1.2,5.5-1.9,8.2
		C903.4,394.2,902.9,394.7,902.4,395.5z"/>
	<path class="fill-light" d="M491.7,137.9c1.8-0.6,3.5-1.1,5.3-1.7c0-0.2,0-0.5,0-0.7c-2.5-0.6-5-1.3-7.7-2c1.6-1.3,3.1-2.4,4.5-3.5
		c-0.1-0.2-0.1-0.4-0.2-0.5c-0.9,0-1.8,0.2-2.6,0c-0.7-0.2-1.8-0.7-1.9-1.2c-0.2-0.7,0.2-1.9,0.8-2.3c2.8-2.3,7.1-1.2,8.9,2.3
		c0.6-0.1,1.6,0.1,2-0.3c1.8-2.2,4.3-1.2,6.5-1.6c1.9-0.3,3.8-0.8,5.5-1.6c3.1-1.5,5.7-0.7,7.4,2.7c0.5,1,1.5,1.7,2.3,2.5
		c0.8,0.8,1.7,1.6,2.8,2.6c-5.6,2.3-10.9,4.4-16.1,6.7c-2.8,1.2-5.5,1.3-8.4,0.5c-1.2-0.3-2.6-0.2-3.9-0.3c-1.8-0.2-3.5-0.6-5.3-0.8
		C491.6,138.4,491.6,138.1,491.7,137.9z"/>
	<path class="fill-light" d="M864.4,41.7c-0.7,0.1-1.7,0.2-2.7,0.3c-2.3,0.2-3.2-1.4-3.6-3.3c-0.5-2,1.3-2.2,2.5-2.7
		c1.7-0.7,3.6-1.2,5.2-2.1c3.5-2.1,7.2-1.7,11-1.2c1.4,0.2,2.1,2.7,1.3,4.1c-0.2,0.4-0.6,0.8-0.8,1.2c-1,1.8-0.6,2.7,1.5,2.8
		c2.3,0.2,4.6,0,6.9,0c-0.3,3.7-0.5,6.9-0.9,10c-0.1,0.5-1.3,1.2-1.8,1.1c-6-1.1-11.7-3.2-16.8-6.7C865.2,44.6,865,43,864.4,41.7z"
		/>
	<path class="fill-light" d="M959.5,348c0.7-1.1,1.2-1.8,1.8-2.8c-2.5-1.5-5.9-2.2-5.4-6c-4.2-0.7-5.1,0-7,3.5c-1.2,2.2-3.1,4.1-5,5.9
		c-0.5,0.5-1.8,0.1-3.2,0.1c2.3-2.7,4.2-4.8,5.9-7c0.4-0.5,1-1.3,0.9-1.8c-0.5-3.1,1.3-3.9,3.8-4.3c0.2,0,0.4-0.2,0.6-0.3
		c0.1,0,0.1-0.1,0.2-0.4c-0.5-0.6-1.1-1.4-1.6-2.1c1.6-3.3,1.6-3.3-0.9-5.9c-1.3-1.3-1.4-3.9-0.3-6.1c0.3-0.5,0.6-0.9,0.9-1.4
		c2.7-4.7,3.9-5,8.3-2.3c-0.9,3.6-2.2,7-2.4,10.6c-0.1,1.9,1.8,3.9,2.9,5.8c0.1,0.2,0.4,0.4,0.6,0.4c3.4-1.3,5,1.2,7.1,3
		c1.7,1.5,1.9,2.7,0.4,4.3c-0.8,0.9-1.6,1.9-2.3,2.9C964,346.1,962.7,347.1,959.5,348z"/>
	<path class="fill-light" d="M254.4,70.5c3,0,5.8,0,8.6,0c0.8,0,1.6,0,2.3,0c2.7,0.2,3.5,0.9,3.2,2.9c-0.3,2.6-1.4,3.4-3.9,3.3
		c-1-0.1-1.9,0.4-2.9,0.5c-0.9,0.1-2.2,0.6-2.7,0.2c-0.7-0.6-0.7-1.8-0.9-2.8c-0.1-0.5,0.1-1,0.2-1.7c-2.1-0.3-3.8-0.5-5.4,1.4
		c-1.5,1.8-5.8,1.9-7.7,0.4c-0.2-0.2-0.5-0.5-0.5-0.8c0.6-3.5-2-2.3-3.5-2.1c-1.2,0.1-2.3,0.9-3.4,1.5c-1.6,0.8-2.8,0.6-3.7-1
		c2.6-1.6,2.6-2.1,0.5-4.4c-0.9-0.9-1.7-2-2.4-3.1c-0.2-0.3-0.1-1.2,0.1-1.4c0.3-0.2,1.1-0.2,1.5,0c1,0.6,1.9,1.4,2.8,2.1
		c2.1,1.7,3.7,1.6,5.5-0.3c1-1,1.8-1.6,3.4-1.1c1.4,0.5,2.9,0.4,4.4,0.5c3.5,0.4,4,0.8,4.2,4.3C254.3,69.2,254.3,69.6,254.4,70.5z"
		/>
	<path class="fill-light" d="M1115.8,511.8c0.9,0.8,1.9,1.3,2.2,2c0.9,1.9,2.4,1.9,4.1,1.8c0.7-0.1,1.5,0.2,2.2,0.4
		c-0.1,0.7-0.1,1.6-0.5,2.2c-2.2,2.7-4.4,5.3-6.7,7.8c-1.5,1.6-2.9,3-2.6,5.5c0.1,0.7-0.6,1.7-1.2,2.3c-0.9,0.8-2.3,1.2-3,2.2
		c-2.7,3.3-5.8,1.9-8.8,1c-0.5-0.1-1-1.4-1-2c0.2-3.2,2.1-5.5,4.2-7.6c0.6-0.6,1.3-1.2,2.1-1.5c4-1.6,6.1-4.9,7.7-8.6
		C1115,515.5,1115.3,513.9,1115.8,511.8z"/>
	<path class="fill-light" d="M245.7,86.5c-1.3-0.8-2.6-1.7-4-2.6c0.9-1.4,2-2.4,3.9-2.4c1.7,0,3.4-0.6,5.1-0.8c1.1-0.1,2.4-0.3,3.4,0
		c2.9,1,3.2,2.9,1,4.9c-0.3,0.3-0.5,0.6-0.8,1.1c0.5,0.3,0.8,0.6,1.2,0.7c3.3,1.1,4.7,5,1.9,7c-2.1,1.5-5.3,1.3-8.1,1.9
		c-0.1,0-0.3-0.2-0.3-0.3c-0.9-3.6-4.5-3.1-6.9-4.3c-1-0.5-2-0.9-3-1.4c-1.6-0.9-0.9-2.4-0.5-3.5c0.1-0.3,1.5-0.2,2.3-0.1
		c1.4,0.2,2.8,0.6,4.2,0.9C245.3,87.3,245.5,86.9,245.7,86.5z"/>
	<path class="fill-light" d="M955.1,393.2c-0.4-1.4-0.8-2.7-1.1-4.1c-0.3-0.9-0.5-1.8-0.7-2.8c-0.1-0.4-0.4-0.8-0.6-1.3
		c-0.2,0.5-0.7,0.9-0.7,1.4c0.1,2.3,0.4,4.7,0.5,7c0.1,1.5-0.5,2.5-2.2,2.2c-1.5-0.3-3.2-0.6-2.7-2.7c0.4-1.9-0.1-3.5-1-5.1
		c-1.3-2.2-0.5-6.6,1.4-8.4c1.3-1.3,1.7-1.3,5.2,0.7c0.7-0.5,1.5-1.1,2.3-1.7c1.7-1.4,3.4-0.2,5.1,0.1c0.2,0,0.4,0.9,0.3,1.2
		c-0.3,0.6-0.8,1.2-1.4,1.4c-0.9,0.3-1.9,0.2-2.8,0.4c-0.5,0.1-1.1,0.4-1.2,0.8c-0.1,0.4,0.2,1.1,0.5,1.4c2.9,1.8,2.5,5.6,4.7,7.8
		c0.4,0.4,0,2-0.6,2.8c-0.3,0.4-1.5,0.4-2.3,0.3c-1.1-0.1-2.3-0.5-3.4-0.8C954.7,393.5,954.9,393.4,955.1,393.2z"/>
	<path class="fill-light" d="M1023.9,217.4c-2.2-1.4-2.2-1.4-5.5-0.1c0.1-1.2-0.2-2.6,0.3-3.5c2.8-5.3,1.6-11.1,1.7-16.6
		c0.1-2.9-0.1-5.8-0.2-8.7c-0.1-2.3,0.8-4.1,2.5-5.7c2.3,1.9,2.1,4.5,2.2,6.9c0.1,4.5,1.2,8.6,3.3,12.5c0.8,1.6,1.2,3,0,4.9
		c-0.9-0.8-1.7-1.5-2.5-2.3c-3.1,2.7-2.4,5.7-1.3,8.9c0.4,1.1,0.3,2.3,0.4,3.5C1024.5,217.4,1024.2,217.4,1023.9,217.4z"/>
	<path class="fill-light" d="M1119.4,492.5c4.4-0.1,4.4,0.7,6,3.6c1.4,2.6,4.2,4.4,6.5,6.4c0.4,0.3,1.5,0,2.3-0.2c1.5-0.4,2.9,0,3.2,1.4
		c0.2,0.9-0.7,2.1-1.2,3.1c-0.1,0.3-0.6,0.5-1,0.6c-1.8,0.5-2.4,1.6-2.9,3.5c-0.6,2.1-2.7,3.9-4.2,5.7c-0.2,0.2-1.6-0.2-2-0.7
		c-0.5-0.6-0.3-1.7-0.6-2.5c-0.6-1.4-1.2-2.9-2.1-4.2c-0.8-1.2-1.7-2.2-0.1-3.3c2.8-2,2.8-4.7,0.4-7.6
		C1122.1,496.6,1120.8,494.5,1119.4,492.5z"/>
	<path class="fill-light" d="M537.6,194.6c-4.4-0.1-5.2-1.5-3.4-4.7c0.9-1.5,1.4-2.8,0.8-4.6c-0.6-2,0.3-3,2.3-3c1.8,0.1,2.9-0.7,4.3-1.8
		c1.3-1,3.4-0.9,5.2-1c0.4,0,1.4,1.4,1.3,1.8c-1.1,2.8-0.6,5.6-1,8.4c-0.2,1.5-2.6,3-4.3,3.8C541,194.5,538.8,194.4,537.6,194.6z"/>
	<path class="fill-light" d="M1018,68.6c2.8,0.2,4.8,0.4,6.9,0.6c1,0.1,2,0,3,0c1.3,0,2.4,0.3,2.3,1.9c-0.1,1.5-0.5,2.7-2.4,2.9
		c-5.1,0.7-10.2,1.6-15.3,2.1c-2,0.2-4-0.3-6-0.6c-1.8-0.2-2.1-1.4-1.6-2.9c0-0.1,0.1-0.1,0.1-0.2c1.9-5,2.1-5.1,7.3-3.6
		C1014.5,69.4,1016.9,71,1018,68.6z"/>
	<path class="fill-light" d="M933.2,400.4c-1.4-0.1-2.6-0.3-4.1-0.4c2.5,2.3,6.5,1.1,8.7,4.9c-3-0.4-5.4-0.6-7.7-0.9
		c-1.8-0.2-3.7-0.5-5.5-0.9c-1.3-0.2-2.7-0.3-3.8-0.9c-3.9-2-8-2.6-12.3-2.6c-3.7-0.1-4.3-0.9-3.6-5.1c3.3,1,6.4,2,9.6,3
		c0.7,0.2,1.5,0.6,2.3,0.6c4-0.2,8-0.6,11.9-0.9C931.7,396.8,932.4,397.3,933.2,400.4z"/>
	<path class="fill-light" d="M228,45.4c1.6-0.1,3.2-0.8,4.6-0.4c4.7,1.4,9.3,3.1,14,4.7c2.5,0.8,2.7,3.2,3.1,5.1c0.4,1.7-1.3,2.6-2.9,1.7
		c-0.6-0.3-1.1-0.6-1.6-0.9c-2.8-1.5-5.7-2.8-9.1-2.2c-0.7,0.1-1.4-0.1-2.1,0c-2,0.2-2.9-1.1-3.3-2.6c-0.1-0.4,1.6-1.1,2.4-1.7
		c-1.5-0.7-3.4-1.6-5.3-2.4C227.8,46.2,227.9,45.8,228,45.4z"/>
	<path class="fill-light" d="M890.1,47.1c1.7-1.8,3.8-1.6,6.1-0.7c2.1,0.9,4.4,0.9,6.1,2.9c1.5,1.8,1.7,2.5-0.7,3.2
		c-3.1,0.9-6.4,1.4-9.6,2.1c-2,0.4-3.9,0.8-5.9,1c-0.7,0.1-1.5-0.6-2.2-1c0.5-0.7,0.8-1.5,1.4-2c1.3-1.1,2.8-2,4-3.2
		C889.7,48.9,889.8,47.9,890.1,47.1z"/>
	<path class="fill-light" d="M1029.6,513.1c1.5,0.4,2.5,0.9,3.5,0.9c2.2-0.1,4.3-0.5,6.5-1c1.8-0.4,2.3,0.1,2,1.8c-0.6,2.7-1,5.4-1.7,8
		c-0.2,0.7-1.2,1.2-2,1.6c-0.6,0.3-1.4,0.4-2,0.3c-0.9-0.3-2-0.7-2.6-1.4c-1.2-1.5-1.9-3.4-3.2-4.9
		C1028.4,516.5,1028.6,514.7,1029.6,513.1z"/>
	<path class="fill-light" d="M965.2,358.9c-0.9-1.8-1.6-3.7-2.7-5.4c-0.3-0.4-1.5-0.5-2.2-0.3c-1.3,0.3-2.6,1-4,1.2
		c1.1-3.3,2.5-5.8,6.5-5.8c2.5,0,5-2.8,5.6-5.7c0.7,0.8,1.7,1.4,1.8,2.1c0.4,2.5,0.5,5,0.7,7.4c0,0.2-0.1,0.5-0.2,0.6
		C968.9,355,967.1,356.9,965.2,358.9z"/>
	<path class="fill-light" d="M216.5,54.8c-1,0.4-2,0.8-3.2,1.3c0.7,0.5,1.2,0.9,1.8,1.3c-0.1,0.3-0.2,0.7-0.4,0.8c-2.3,0.8-4.5,2.1-6.8,2.3
		c-1.3,0.1-2.9-1.3-4-2.3c-0.9-0.9-1.7-1.4-3-1.2c-0.6,0.1-1.3-0.7-2-1.1c0.6-0.6,1.2-1.3,1.9-1.8c0.2-0.2,0.9-0.2,1.1,0
		c3.8,2.5,7.5-0.4,11.3-0.3c1.2,0.1,2.3,0.2,3.4,0.3C216.6,54.4,216.5,54.6,216.5,54.8z"/>
	<path class="fill-light" d="M821.2,351.3c0.1-1.3,0.2-2.4,0.3-3.6c0.1-1.6,1-1.8,2.2-1.1c3.4,1.9,4.6,5.2,3.6,9.1
		c-0.7,2.4-2.7,1.7-4.2,2.1c-0.2,0.1-1.2-1.7-1.4-2.6C821.3,353.9,821.4,352.5,821.2,351.3z"/>
	<path class="fill-light" d="M949.3,301.8c1.1-2.6,2-5.3,3.3-7.8c0.3-0.5,1.7-0.9,2.3-0.7c0.8,0.4,1.7,1.4,1.8,2.2c0.1,1.1-0.5,2.3-0.9,3.3
		c-0.9,2.2-1.8,4.4-2.7,6.6c-0.3,0.6-0.8,1.1-1.1,1.6c-0.5-0.5-1.2-1-1.4-1.6c-0.4-1.1-0.5-2.3-0.7-3.4
		C949.6,302,949.4,301.9,949.3,301.8z"/>
	<path class="fill-light" d="M1143.4,100.4c-1.6-0.1-3.1-0.2-4.7-0.5c-0.6-0.1-1.1-0.7-1.6-1.1c0.4-0.5,0.6-1,1.1-1.4
		c3.8-3.1,8-2.2,12.1-1.2c1.5,0.4,1.2,1.7,0.1,2.2c-2.2,1-4.6,1.7-6.8,2.5C1143.6,100.8,1143.5,100.6,1143.4,100.4z"/>
	<path class="fill-light" d="M254.5,49.2c2.2,0.8,5.1,1.8,7.9,2.9c0.4,0.2,0.9,1.3,0.8,1.7c-0.2,0.6-0.9,1.3-1.5,1.5
		c-1.5,0.5-3.2,0.8-4.8,0.9c-0.8,0-1.8-0.5-2.4-1.1c-0.9-1-1.7-2.3-2.4-3.5C251.3,50.1,252,49.2,254.5,49.2z"/>
	<path class="fill-light" d="M1041,76.9c-1.9-0.2-3.8-0.1-5.6-0.6c-0.7-0.2-1.2-1.3-1.8-2c0.8-0.6,1.6-1.8,2.3-1.8c3.3,0,6.6,0.2,9.8,0.6
		c0.8,0.1,1.5,1.2,2.3,1.9c-0.7,0.6-1.4,1.5-2.2,1.7C1044.3,77,1042.6,76.8,1041,76.9C1041,76.8,1041,76.9,1041,76.9z"/>
	<path class="fill-light" d="M971.5,401.9c0.2,0,0.9,0,1.4,0.3c0.7,0.4,1.2,1.1,1.8,1.6c-0.7,0.4-1.3,0.9-2,1.2c-3,1.4-6,2.8-9,4.2
		c-0.6,0.3-1.3,0.3-1.9,0.5c0-0.7-0.3-1.5-0.1-2.2C962.7,404.7,967.3,401.9,971.5,401.9z"/>
	<path class="fill-light" d="M217.1,53.5c-4.5-0.2-9-0.4-13.4-0.6c0-0.3-0.1-0.6-0.1-0.9c1.1-0.6,2.1-1.3,3.2-1.6c2.1-0.6,4.3-1,6.4-1.3
		C216.2,48.5,217.6,50.2,217.1,53.5z"/>
	<path class="fill-light" d="M1040.3,393.7c2.2,0,4.3-0.1,6.5,0c2.1,0.1,3.4-0.5,4-2.7c0.2-0.7,0.7-1.6,1.3-1.8c0.9-0.3,1.9,0,2.9,0
		c-0.1,0.8,0,1.7-0.2,2.4c-1.4,4-3.7,5.2-7.9,4.1c-2.2-0.6-4.4-0.9-6.6-1.4C1040.2,394.2,1040.2,393.9,1040.3,393.7z"/>
	<path class="fill-light" d="M1020.4,86c-1.4-0.2-3.2-0.4-4.9-0.7c-0.5-0.1-1.3-0.5-1.4-0.9c-0.1-0.4,0.4-1.1,0.8-1.5
		c2-1.8,7.9-1.7,9.9,0.1c0.5,0.4,1.1,1.2,1,1.6c-0.2,0.5-1,1-1.6,1.1C1023.1,85.9,1021.9,85.8,1020.4,86z"/>
	<path class="fill-light" d="M39,317.1c-2.3,1.2-4.2,2.2-6.4,3.3c-1.3-2.9-2-5.7-0.1-8.7C35.7,312,36.7,314.9,39,317.1z"/>
	<path class="fill-light" d="M25.6,310.5c-0.2-1.1-0.4-1.9-0.5-2.4c-0.8-0.5-1.6-1-2.4-1.4c0.1-0.3,0.2-0.6,0.4-0.9
		c1.2,0.1,2.4,0.2,3.5,0.4c1.2,0.3,2.5,0.6,3.6,1.1c0.7,0.4,1.2,1.3,1.8,1.9c-0.7,0.4-1.3,1.1-2,1.1c-0.8,0.1-1.6-0.6-2.4-0.7
		C27.1,309.6,26.6,310.1,25.6,310.5z"/>
	<path class="fill-light" d="M938.5,403.1c2.6-0.6,4.8-1.1,7-1.5c0.6-0.1,1.4,0.3,1.8,0.8c0.2,0.3-0.2,1.2-0.5,1.6
		C944.7,406.8,942.1,406.6,938.5,403.1z"/>
	<path class="fill-light" d="M257.9,58.5c0.4-0.7,0.8-1.8,1.2-1.8c3.4-0.1,6.7-0.1,10.2-0.1C268.2,59,263.6,59.7,257.9,58.5z"/>
	<path class="fill-light" d="M247.6,39c1.4,1.6,2.4,2.7,3.3,3.9c0.1,0.2-0.8,1.5-0.9,1.5c-1.6-0.7-3.1-1.5-4.6-2.4
		C246,41.2,246.6,40.4,247.6,39z"/>
	<path class="fill-light" d="M273.5,58.8c1-0.5,1.9-1.3,2.9-1.4c1.1-0.1,2.3,0.5,3.4,0.9c0.2,0.1,0.2,1,0,1.3c-0.2,0.4-0.9,0.7-1.3,0.7
		c-1.6-0.2-3.2-0.5-4.8-0.8C273.7,59.3,273.6,59.1,273.5,58.8z"/>
	<path class="fill-light" d="M21.6,307.3c-1.4-0.8-2.8-1.5-4.2-2.3c0-0.3,0.1-0.6,0.1-0.9c1.1-0.3,2.5-1.2,3.1-0.8
		C21.7,304,23.1,305.2,21.6,307.3z"/>
	<path class="fill-light" d="M952.6,409c-1.6-0.5-3.3-0.9-4.9-1.4c0-0.4,0-0.8,0-1.1c1.1-0.3,2.3-1,3.2-0.7c0.9,0.3,1.6,1.5,2.3,2.3
		C953,408.4,952.8,408.7,952.6,409z"/>
	<path class="fill-light" d="M12,300.2c0.8,1.9,0.7,2.1-1.6,2.3c-1,0.1-2,0.7-3,0.9c-0.5,0.1-1-0.2-1.6-0.4c0.4-0.5,0.7-1.2,1.2-1.4
		C8.5,301.1,10.1,300.7,12,300.2z"/>
	<path class="fill-light" d="M296.4,214.5c-2.4,0.3-4.7,0.5-6.9,0.7c-1.8,0.2-3.2-0.1-3.8-2.1c-0.4-1.6-1.4-1.5-2.7-1c-2.3,1-4.6,1.8-7,2.6
		c-0.7,0.2-1.5-0.2-2.3-0.3c-0.1-0.3-0.1-0.6-0.2-0.9c1.8-0.9,3.7-1.7,5.5-2.6c1.1-0.5,2.3-1,3-1.9c2.1-2.5,3.2-2.9,6.3-1.7
		c1.7,0.7,3.7,1.2,5,2.4C294.8,211,295.5,213,296.4,214.5z"/>
	<path class="fill-light" d="M303.4,228c-0.6-2.6-2.5-1.6-4-1.5c0.3-1.6,1-3.2,0.7-4.6c-0.3-1.3-1.6-2.4-2.7-3.8c0,0,0.2-0.7,0.7-1.8
		c2.8,0.9,5.5,1.7,8.3,2.7c1.2,0.4,1.6,1,0.8,2.5c-1.3,2.1-2,4.4-3,6.7C303.9,228,303.7,228,303.4,228z"/>
	<path class="fill-light" d="M294.7,218.2c-1.4,1.9-2.7,3.8-4.2,5.5c-1.4,1.5-1.3,3-0.8,4.8c0.3,1.1,0.4,2.3,0.6,3.5
		c0.2,1.5-0.8,2.3-2.1,2.1c-0.7-0.1-1.8-1.2-1.8-1.8c0.1-3.5,0.2-7,0.7-10.4C287.4,219.8,291.6,218,294.7,218.2z"/>
	<path class="fill-light" d="M312.4,231.4c0.4-0.7,1.2-1.6,1-2.2c-0.5-2.5,1.2-2.9,2.9-3.2c2.1-0.4,4.3-0.7,6.9-0.6c-0.8,0.8-1.5,2-2.5,2.3
		C317.8,228.7,314.7,229,312.4,231.4C312.4,231.3,312.4,231.4,312.4,231.4z"/>
	<path class="fill-light" d="M312.4,231.3c-3,2.4-6.5,3.4-10.3,4C305.1,232.7,308.1,230.3,312.4,231.3C312.4,231.4,312.4,231.3,312.4,231.3
		z"/>
	<path class="fill-light" d="M170.4,205.5c-3.6-0.6-4.2-4.5-7.4-5.4C165.5,199,169,201.7,170.4,205.5z"/>
	<path class="fill-light" d="M374,185.5c1.4-0.7,2.8-1.4,4.3-2c0.1,0.3,0.3,0.5,0.4,0.8c-1.4,0.8-2.7,1.6-4.1,2.4
		C374.4,186.2,374.2,185.8,374,185.5z"/>
	<path class="fill-light" d="M617.4,52.1c-1.6,0.4-3,0.8-4.5,1.2C613.2,50.2,614.1,49.9,617.4,52.1z"/>
</g>
<a href="#"><path class="fill-green" d="M170,244.2c0-9.7,7.8-17.5,17.5-17.5h111c9.7,0,17.5,7.8,17.5,17.5
	c0,9.7-7.8,17.5-17.5,17.5h-111C177.8,261.7,170,253.8,170,244.2z"/><text class="map-text" transform="matrix(1 0 0 1 187.5229 251.6508)">United States</text></a>
<a href="#"><path class="fill-purple" d="M300,426.2c0-9.7,7.8-17.5,17.5-17.5h131c9.7,0,17.5,7.8,17.5,17.5
	c0,9.7-7.8,17.5-17.5,17.5h-131C307.8,443.7,300,435.8,300,426.2z"/><text class="map-text" transform="matrix(1 0 0 1 323.7074 435.4623)">South America</text></a>
<a href="#"><path class="fill-pink" d="M560,366.2c0-9.7,7.8-17.5,17.5-17.5h81c9.7,0,17.5,7.8,17.5,17.5c0,9.7-7.8,17.5-17.5,17.5
	h-81C567.8,383.7,560,375.8,560,366.2z"/><text class="map-text" transform="matrix(1 0 0 1 595.3085 372.656)">Africa</text></a>
<a href="#"><path class="fill-gray" d="M617,150.2a17.46,17.46,0,0,1,17.5-17.5h76a17.5,17.5,0,0,1,0,35h-76A17.52,17.52,0,0,1,617,150.2Z" transform="translate(-5.8 -12)"/><text class="map-text" transform="translate(637.48 144.64)">Europe</text></a>
<a href="#"><path class="fill-yellow" d="M898.46,224.2A17.46,17.46,0,0,1,916,206.7h60a17.5,17.5,0,0,1,0,35H916A17.52,17.52,0,0,1,898.46,224.2Z" transform="translate(-5.8 -12)"/><text class="map-text" transform="translate(923.33 219.64)">Asia</text></a>
<a href="#"><path class="fill-orange" d="M961.61,487.07a17.46,17.46,0,0,1,17.5-17.5h91a17.5,17.5,0,0,1,0,35h-91A17.52,17.52,0,0,1,961.61,487.07Z" transform="translate(-5.8 -12)"/><text class="map-text" transform="translate(986.31 481.64)">Australia</text></a>
<a href="#"><path class="fill-red" d="M649,270.2c0-9.7,7.8-17.5,17.5-17.5h114c9.7,0,17.5,7.8,17.5,17.5c0,9.7-7.8,17.5-17.5,17.5
	h-114C656.8,287.7,649,279.8,649,270.2z"/><text class="map-text" transform="matrix(1 0 0 1 677.6084 278.8471)">Middle East</text></a>
<a href="#"><path class="fill-blue" d="M193,150.2c0-9.7,7.8-17.5,17.5-17.5h78c9.7,0,17.5,7.8,17.5,17.5c0,9.7-7.8,17.5-17.5,17.5
	h-78C200.8,167.7,193,159.8,193,150.2z"/><text class="map-text" transform="matrix(1 0 0 1 218.6313 157.6508)">Canada</text></a>
<text class="map-labels" transform="translate(245.11 281.15)"><tspan class="cls-5">Convergram</tspan></text>
    <polygon class="fill-blue" points="235.86 272.12 237.57 275.59 241.4 276.15 238.63 278.85 239.28 282.66 235.86 280.86 232.43 282.66 233.09 278.85 230.32 276.15 234.15 275.59 235.86 272.12"/>
  </g>
  <g id="Amscan_UK" data-name="Amscan UK">
    <text class="map-labels" transform="translate(557.1 189.36)"><tspan class="cls-12">Amscan Ltd UK</tspan></text>
    <polygon class="fill-blue" points="547.85 180.33 549.56 183.8 553.38 184.36 550.62 187.06 551.27 190.87 547.85 189.07 544.42 190.87 545.08 187.06 542.31 184.36 546.13 183.8 547.85 180.33"/>
  </g>
  <g id="Amscan_Europe" data-name="Amscan Europe">
    <text class="map-labels" transform="translate(755.16 165.99)"><tspan class="cls-12">Amscan Europe</tspan></text>
    <polygon class="fill-blue" points="745.9 156.96 747.62 160.43 751.44 160.99 748.67 163.69 749.33 167.5 745.9 165.7 742.48 167.5 743.13 163.69 740.37 160.99 744.19 160.43 745.9 156.96"/>
  </g>
  <g id="Amscan_Japan" data-name="Amscan Japan">
    <text class="map-labels" transform="translate(1008.27 238.53)"><tspan class="cls-12">Amscan Japan</tspan></text>
    <polygon class="fill-blue" points="999.02 229.5 1000.74 232.97 1004.56 233.53 1001.79 236.23 1002.45 240.04 999.02 238.24 995.6 240.04 996.25 236.23 993.48 233.53 997.31 232.97 999.02 229.5"/>
  </g>
  <g id="Amscan_Asia" data-name="Amscan Asia">
    <text class="map-labels" transform="translate(969.76 441.91)"><tspan class="cls-12">Amscan Asia Pacific</tspan></text>
    <polygon class="fill-blue" points="960.51 432.88 962.22 436.35 966.05 436.9 963.28 439.6 963.93 443.41 960.51 441.61 957.09 443.41 957.74 439.6 954.97 436.9 958.8 436.35 960.51 432.88"/>
  </g>
</svg>
</div>