<section class="section section-masonry-grid small-width">
	<div class="grid-sizer"></div>

	{{# masonryImages}}
		<a href="{{ url }}" class="single-masonry-grid" data-modal="{{ data }}">
			<img src="{{ src }}">
			{{> atoms-button-plus }}
		</a>
	{{/ masonryImages }}

</section><!--end masonry-grid -->