/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * Layout container
 */
.l {
	max-width: $max-width;
	margin: 0 auto;
	padding: 1rem;
}

.small-width {
	max-width: $small-max-width;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;

	@media only screen and (min-width: #{$bp-med}) {
		padding-left: 2em;
		padding-right: 2em;
	}
}

.tiny-width {
	max-width: $tiny-max-width;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;

	@media only screen and (min-width: #{$bp-med}) {
		padding-left: 2em;
		padding-right: 2em;
	}
}





/*------------------------------------*\
    #TEMPLATES
\*------------------------------------*/

/**
 * 2 column layout
 */
.two-col {
	@include pinkmagic($rowitems:2, $padside: 4%);

	@media only screen and (min-width: $bp-med) {
		&.lg {
			width: 60%;
		}

		&.sm {
			width: 40%;
		}
	}
}

.left {
	img {
		border-radius: 0 $border-radius-small $border-radius-small 0;
	}

	.s-text-passage {
 		@media only screen and (min-width: #{$bp-med}) {
	 		padding-left: 5em;
	 	}
 	}
}

.right {
	img {
		border-radius: $border-radius-small 0 0 $border-radius-small;
	}

	.s-text-passage {
 		@media only screen and (min-width: #{$bp-med}) {
	 		padding-right: 5em;
	 	}
 	}
}

.middle {
	div {
		vertical-align: middle;
	}

}


/*------------------------------------*\
    #GRIDS
\*------------------------------------*/

/**
 * Grid
 */
.g {
	overflow: hidden;
	margin: 0 (-$pad-half);
}

/**
 * Grid item
 */
.gi {
	padding: $pad-half;

	img {
		display: block;
	}

	@media all and (min-width: $bp-med) {
		float: left;
	}
}

/**
 * 2 up grid
 */
.g-2up {
	@media all and (min-width: $bp-med) {
		> .gi {
			float: left;
			width: 50%;

			&:nth-of-type(odd) {
				clear: left;
			}
		}
	}
}

/**
 * Grid side by side
 */
.g-half {
	> .gi {
		float: left;
		width: 50%;

		&:nth-of-type(odd) {
			clear: left;
		}
	}
}

/**
 * 3 up grid
 */
.g-3up {
	@media all and (min-width: $bp-med) {
		> .gi {
			float: left;
			width: 50%;

			&:nth-of-type(2n+1) {
				clear: left;
			}
		}
	}

	@media all and (min-width: $bp-large) {
		> .gi {
			width: 33.3333333%;

			&:nth-of-type(2n+1) {
				clear: none;
			}

			&:nth-of-type(3n+1) {
				clear: left;
			}
		}
	}
}

/**
 * 4 up grid
 */
.g-4up {
	@media all and (min-width: $bp-med) {
		>.gi {
			float: left;
			width: 50%;

			&:nth-of-type(2n+1) {
				clear: both;
			}
		}
	}

	@media all and (min-width: $bp-large) {
		>.gi {
			width: 25%;

			&:nth-of-type(2n+1) {
				clear: none;
			}

			&:nth-of-type(4n+1) {
				clear: left;
			}
		}
	}
}

/**
 * Quarter grid always displayed side by side
 */
.g-quarter {
	> .gi {
		float: left;
		width: 24%;

		&:nth-of-type(4n+1) {
			clear: left;
		}
	}
}

/**
 * Grid max 4 up
 */
.g-max4 {

	@media all and (min-width: $bp-small-2) {
		>.gi {
			float: left;
			width: 50%;

			&:nth-of-type(2n+1) {
				clear: both;
			}
		}
	}

	@media all and (min-width: $bp-small-3) {
		>.gi {
			width: 33.3333333%;

			&:nth-of-type(2n+1) {
				clear: none;
			}

			&:nth-of-type(3n+1) {
				clear: left;
			}
		}
	}

	@media all and (min-width: $bp-large) {
		>.gi {
			width: 25%;

			&:nth-of-type(3n+1) {
				clear: none;
			}

			&:nth-of-type(4n+1) {
				clear: left;
			}
		}
	}
}

/**
 * Grid max of 5 up
 */
.g-max5 {

	>.gi {
		float: left;
		width: 50%;

		&:nth-of-type(2n+1) {
			clear: both;
		}
	}

	@media all and (min-width: $bp-small-3) {
		>.gi {
			width: 33.3333333%;

			&:nth-of-type(2n+1) {
				clear: none;
			}

			&:nth-of-type(3n+1) {
				clear: left;
			}
		}
	}

	@media all and (min-width: $bp-med) {
		>.gi {
			width: 25%;

			&:nth-of-type(3n+1) {
				clear: none;
			}

			&:nth-of-type(4n+1) {
				clear: left;
			}
		}
	}

	@media all and (min-width: $bp-med-2) {
		>.gi {
			width: 20%;

			&:nth-of-type(4n+1) {
				clear: none;
			}

			&:nth-of-type(5n+1) {
				clear: left;
			}
		}
	}
}
