/*------------------------------------*\
    #COLORS FOR BLOCKS
\*------------------------------------*/

/** 
* Color Classes
* Default Class is Blue
*/

.bg-blue {
    background-color: $color-brand-blue !important;
}

.bg-yellow {
    background-color: $color-brand-yellow !important;
}

.bg-green {
    background-color: $color-brand-green !important;
}

.bg-orange {
    background-color: $color-brand-orange !important;
}

.bg-pink {
    background-color: $color-brand-pink !important;
}

.bg-purple {
    background-color: $color-brand-purple !important;
}

.bg-red {
    background-color: $color-brand-red !important;
}

.bg-light {
    background-color: $color-gray-15 !important;
}

/** 
* Color Classes with headings
* Default Class is Pink/White
*/

.bg-blue-purple {
    background-color: $color-brand-blue-lt !important;
    background-image: url(smilecolor($color-brand-purple));

    h2 {
        color: $color-brand-purple !important;
    }
}

.bg-orange-red {
    background-color: $color-brand-orange !important;
    background-image: url(smilecolor($color-brand-red));

    h2 {
        color: $color-brand-red !important;
    }
}

.bg-red-yellow {
    background-color: $color-brand-red !important;
    background-image: url(smilecolor($color-brand-yellow));

    h2 {
        color: $color-brand-yellow !important;
    }
}

.bg-purple-blue {
    background-color: $color-brand-purple !important;
    background-image: url(smilecolor($color-brand-blue-lt));

    h2 {
        color: $color-brand-blue-lt !important;
    }
}

.bg-purple-yellow {
    background-color: $color-brand-purple !important;
    background-image: url(smilecolor($color-brand-yellow));

    h2 {
        color: $color-brand-yellow !important;
    }
}

.bg-yellow-red {
    background-color: $color-brand-yellow !important;
    background-image: url(smilecolor($color-brand-red));

    h2 {
        color: $color-brand-red !important;
    }
}

.bg-green-gray {
    background-color: $color-brand-green !important;
    background-image: url(smilecolor($color-brand-neutral));

    h2 {
        color: $color-brand-neutral !important;
    }
}