<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    
    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    <script type="text/javascript" src="../../js/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="../../js/masonry.pkgd.js"></script>
    <script type="text/javascript" src="../../js/tingle.js"></script>
    <script type="text/javascript" src="../../js/min/siema.min.js"></script>
    
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->
  
  </head>
  <body>
    <div class="wrapper" role="document">
      <div class="content">
      
    
