  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  </div>
  </div>
  <script type="text/javascript" src="../../js/nav.js"></script>
  <script type="text/javascript" src="../../js/search-toggle.js"></script>
  <script type="text/javascript" src="../../js/anagram-toggle.js"></script>
  <script type="text/javascript" src="../../js/progress.js"></script>
  <script type="text/javascript" src="../../js/overlay.js"></script>
  <script type="text/javascript" src="../../js/anagram-modal.js"></script>
  <script type="text/javascript" src="../../js/anagram-masonry.js"></script>
  <script type="text/javascript" src="../../js/anagram-carousel.js"></script>
  </body>
</html>
