@font-face {
    font-family: 'nexabold_italic';
    src: url('fontfabric_-_nexa_bold_italic-webfont.woff2') format('woff2'),
         url('fontfabric_-_nexa_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexabold';
    src: url('../fonts/nexa/fontfabric_-_nexa_bold-webfont.woff2') format('woff2'),
         url('../fonts/nexa/fontfabric_-_nexa_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexabook_italic';
    src: url('../fonts/nexa/fontfabric_-_nexa_book_italic-webfont.woff2') format('woff2'),
         url('../fonts/nexa/fontfabric_-_nexa_book_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexalight_italic';
    src: url('../fonts/nexa/fontfabric_-_nexa_light_italic-webfont.woff2') format('woff2'),
         url('../fonts/nexa/fontfabric_-_nexa_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexabook';
    src: url('../fonts/nexa/fontfabric_-_nexa-book-webfont.woff2') format('woff2'),
         url('../fonts/nexa/fontfabric_-_nexa-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'nexalight';
    src: url('../fonts/nexa/fontfabric_-_nexa-light-webfont.woff2') format('woff2'),
         url('../fonts/nexa/fontfabric_-_nexa-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexathin';
    src: url('../fonts/nexa/fontfabric_-_nexa-thin-webfont.woff2') format('woff2'),
         url('../fonts/nexa/fontfabric_-_nexa-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexathin_italic';
    src: url('../fonts/nexa/fontfabric_-_nexa-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/nexa/fontfabric_-_nexa-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}