/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

/** CSS Transition
 *	Usage: @include transition(width,0.3s,ease-out);
 */
@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

/** Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback  
 *	Usage: @include font-size(1, large);
 */
@mixin font-size( $decimal-size, $keyword: null ) {
  @if $keyword{ font-size: $keyword; }
  @else { font-size: $decimal-size * $base-font-multiplier * 16px;}
  font-size: $decimal-size * 1rem;
}

@mixin placeholder( $color ) {
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $color;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: $color;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: $color;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: $color;
	}
}

// Vertical gradient background
// @include vertical(COLOR, COLOR)
@mixin vertical($startColor: #ffffff, $endColor:  #777777) {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor));
	background-image: -webkit-linear-gradient(top, $startColor, $endColor);
	background-image: -moz-linear-gradient(top, $startColor, $endColor);
	background-image: -ms-linear-gradient(top, $startColor, $endColor);
	background-image: -o-linear-gradient(top, $startColor, $endColor);
	background-image: linear-gradient(top, $startColor, $endColor);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$startColor}', endColorstr='#{$endColor}',GradientType=0 );
	background-repeat: repeat-x;
}

// Box shadow with value declarations
// @include drop-shadow(X-OFFSET, Y-OFFSET, BLUR, ALPHA)
@mixin drop-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1) {
	-webkit-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
	-moz-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
	box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
}

// see https://gist.github.com/certainlyakey/e9c0d8f5c87ff47e3d5b
//does not work with colors containing alpha
@function encodecolor($string) {
	@if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string:unquote("#{$hex}");
    }
    $string: '%23' + $string;
	@return $string;
}

@function smilecolor($color: #fff) {
	@if type-of($color) == 'color' {
        $hex: str-slice(ie-hex-str($color), 4);
        $color:unquote("#{$hex}");
    }
    $color: '%23' + $color;
	@return "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='570' height='147' viewBox='0 0 570 147' xml:space='preserve' preserveAspectRatio='none slice'%3E%3Cpath fill='#{$color}' fill-rule='evenodd' d='M832.038523,173.410809 C817.877771,163.074823 814.766216,143.204646 825.101025,129.042282 C835.435834,114.87198 855.295813,111.768009 869.464503,122.103994 C938.006036,172.108887 1019.00967,198.544241 1103.73605,198.544241 C1188.4545,198.544241 1269.45813,172.116826 1337.99966,122.111933 C1352.16041,111.791824 1372.02833,114.887857 1382.36314,129.050221 C1392.69001,143.220523 1389.58639,163.082762 1375.42564,173.418747 C1295.94604,231.409816 1201.99611,262.052599 1103.73605,262.052599 C1005.46805,262.052599 911.518127,231.401878 832.038523,173.410809 Z' opacity='.9' transform='translate(-819 -116)'/%3E%3C/svg%3E";
	//@return "data:image/svg+xml;charset=utf8,%253Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27570%27%20height%3D%27147%27%20%253E%253Cpath%20fill%3D%27#{$color}%27%20fill-rule%3D%27evenodd%27%20d%3D%27M832.038523%2C173.410809%20C817.877771%2C163.074823%20814.766216%2C143.204646%20825.101025%2C129.042282%20C835.435834%2C114.87198%20855.295813%2C111.768009%20869.464503%2C122.103994%20C938.006036%2C172.108887%201019.00967%2C198.544241%201103.73605%2C198.544241%20C1188.4545%2C198.544241%201269.45813%2C172.116826%201337.99966%2C122.111933%20C1352.16041%2C111.791824%201372.02833%2C114.887857%201382.36314%2C129.050221%20C1392.69001%2C143.220523%201389.58639%2C163.082762%201375.42564%2C173.418747%20C1295.94604%2C231.409816%201201.99611%2C262.052599%201103.73605%2C262.052599%20C1005.46805%2C262.052599%20911.518127%2C231.401878%20832.038523%2C173.410809%20Z%27%20opacity%3D%27.9%27%20transform%3D%27translate(-819%20-116)%27%2F%253E%253C%2Fsvg%253E";
}

@function bg-pattern-icon( $opacity: 0.18, $color: #fff ) {
	@if type-of($color) == 'color' {
        $hex: str-slice(ie-hex-str($color), 4);
        $color:unquote("#{$hex}");
    }
    $color: '%23' + $color;
	//@return "data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='109' height='156' viewBox='0 0 109 156' xml:space='preserve' preserveAspectRatio='none slice'%3E%3Cdefs%3E%3Cpath id='bg-pattern-icon-a' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.97 32.762,7.884 25.519,7.884 C18.275,7.884 11.976,11.97 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.053 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.053 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-c' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.97 32.762,7.883 25.519,7.883 C18.275,7.883 11.976,11.97 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.053 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.053 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-e' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.971 32.762,7.883 25.519,7.883 C18.275,7.883 11.976,11.971 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.054 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.054 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-g' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.97 32.762,7.883 25.519,7.883 C18.275,7.883 11.976,11.97 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.053 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.053 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-i' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.971 32.762,7.883 25.519,7.883 C18.275,7.883 11.976,11.971 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.054 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.054 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-k' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.971 32.762,7.883 25.519,7.883 C18.275,7.883 11.976,11.971 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.054 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.054 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-m' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.97 32.762,7.884 25.519,7.884 C18.275,7.884 11.976,11.97 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.053 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.053 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-o' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.971 32.762,7.883 25.519,7.883 C18.275,7.883 11.976,11.971 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.054 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.054 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-q' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.97 32.762,7.884 25.519,7.884 C18.275,7.884 11.976,11.97 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.053 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.053 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-s' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.971 32.762,7.883 25.519,7.883 C18.275,7.883 11.976,11.971 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.054 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.054 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-u' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.971 32.762,7.883 25.519,7.883 C18.275,7.883 11.976,11.971 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.054 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.054 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(0 -13)'%3E%3Cg transform='translate(58 156.883)'%3E%3Cmask id='bg-pattern-icon-b' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='#bg-pattern-icon-a'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url(#bg-pattern-icon-b)'/%3E%3C/g%3E%3Cg transform='translate(58 104.883)'%3E%3Cmask id='bg-pattern-icon-d' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='#bg-pattern-icon-c'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url(#bg-pattern-icon-d)'/%3E%3C/g%3E%3Cg transform='translate(58 52.883)'%3E%3Cmask id='bg-pattern-icon-f' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='#bg-pattern-icon-e'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url(#bg-pattern-icon-f)'/%3E%3C/g%3E%3Cg transform='translate(58 104.883)'%3E%3Cmask id='bg-pattern-icon-h' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='#bg-pattern-icon-g'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url(#bg-pattern-icon-h)'/%3E%3C/g%3E%3Cg transform='translate(58 52.883)'%3E%3Cmask id='bg-pattern-icon-j' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='#bg-pattern-icon-i'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url(#bg-pattern-icon-j)'/%3E%3C/g%3E%3Cg transform='translate(58 .883)'%3E%3Cmask id='bg-pattern-icon-l' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='#bg-pattern-icon-k'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url(#bg-pattern-icon-l)'/%3E%3C/g%3E%3Cg transform='translate(0 133.883)'%3E%3Cmask id='bg-pattern-icon-n' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='#bg-pattern-icon-m'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url(#bg-pattern-icon-n)'/%3E%3C/g%3E%3Cg transform='translate(0 81.883)'%3E%3Cmask id='bg-pattern-icon-p' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='#bg-pattern-icon-o'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url(#bg-pattern-icon-p)'/%3E%3C/g%3E%3Cg transform='translate(0 133.883)'%3E%3Cmask id='bg-pattern-icon-r' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='#bg-pattern-icon-q'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url(#bg-pattern-icon-r)'/%3E%3C/g%3E%3Cg transform='translate(0 81.883)'%3E%3Cmask id='bg-pattern-icon-t' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='#bg-pattern-icon-s'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url(#bg-pattern-icon-t)'/%3E%3C/g%3E%3Cg transform='translate(0 29.883)'%3E%3Cmask id='bg-pattern-icon-v' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='#bg-pattern-icon-u'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url(#bg-pattern-icon-v)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E";
	//@return "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='109' height='156' xml:space='preserve' preserveAspectRatio='none slice'%3E%3Cdefs%3E%3Cpath id='bg-pattern-icon-a' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.97 32.762,7.884 25.519,7.884 C18.275,7.884 11.976,11.97 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.053 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.053 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-c' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.97 32.762,7.883 25.519,7.883 C18.275,7.883 11.976,11.97 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.053 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.053 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-e' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.971 32.762,7.883 25.519,7.883 C18.275,7.883 11.976,11.971 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.054 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.054 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-g' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.97 32.762,7.883 25.519,7.883 C18.275,7.883 11.976,11.97 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.053 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.053 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-i' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.971 32.762,7.883 25.519,7.883 C18.275,7.883 11.976,11.971 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.054 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.054 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-k' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.971 32.762,7.883 25.519,7.883 C18.275,7.883 11.976,11.971 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.054 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.054 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-m' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.97 32.762,7.884 25.519,7.884 C18.275,7.884 11.976,11.97 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.053 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.053 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-o' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.971 32.762,7.883 25.519,7.883 C18.275,7.883 11.976,11.971 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.054 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.054 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-q' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.97 32.762,7.884 25.519,7.884 C18.275,7.884 11.976,11.97 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.053 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.053 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-s' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.971 32.762,7.883 25.519,7.883 C18.275,7.883 11.976,11.971 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.054 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.054 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3Cpath id='bg-pattern-icon-u' d='M44.517,17.951 L48.519,17.951 C44.976,8.731 36.003,2.166 25.519,2.166 C15.034,2.166 6.063,8.731 2.52,17.951 L6.521,17.951 C9.846,10.805 17.107,5.834 25.519,5.834 C33.931,5.834 41.192,10.805 44.517,17.951 Z M37.916,17.951 L42.227,17.951 C39.062,11.971 32.762,7.883 25.519,7.883 C18.275,7.883 11.976,11.971 8.812,17.951 L13.122,17.951 C15.878,14.082 20.406,11.551 25.519,11.551 C30.632,11.551 35.161,14.082 37.916,17.951 Z M25.519,0.117 C37.475,0.117 47.619,7.994 50.997,18.813 C51.181,19.403 50.729,20 50.11,20 L37.116,20 C36.924,20 36.749,19.899 36.646,19.738 C34.319,16.054 30.202,13.6 25.519,13.6 C20.836,13.6 16.72,16.054 14.392,19.738 C14.289,19.899 14.114,20 13.922,20 L0.929,20 C0.309,20 -0.143,19.403 0.042,18.813 C3.419,7.994 13.562,0.117 25.519,0.117 Z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate%280 -13%29'%3E%3Cg transform='translate%2858 156.883%29'%3E%3Cmask id='bg-pattern-icon-b' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='%23bg-pattern-icon-a'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url%28%23bg-pattern-icon-b%29'/%3E%3C/g%3E%3Cg transform='translate%2858 104.883%29'%3E%3Cmask id='bg-pattern-icon-d' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='#bg-pattern-icon-c'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url%28%23bg-pattern-icon-d%29'/%3E%3C/g%3E%3Cg transform='translate%2858 52.883%29'%3E%3Cmask id='bg-pattern-icon-f' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='%23bg-pattern-icon-e'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url%28%23bg-pattern-icon-f%29'/%3E%3C/g%3E%3Cg transform='translate%2858 104.883%29'%3E%3Cmask id='bg-pattern-icon-h' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='%23bg-pattern-icon-g'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url%28%23bg-pattern-icon-h%29'/%3E%3C/g%3E%3Cg transform='translate%2858 52.883%29'%3E%3Cmask id='bg-pattern-icon-j' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='%23bg-pattern-icon-i'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url%28%23bg-pattern-icon-j%29'/%3E%3C/g%3E%3Cg transform='translate%2858 .883%29'%3E%3Cmask id='bg-pattern-icon-l' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='%23bg-pattern-icon-k'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url%28%23bg-pattern-icon-l%29'/%3E%3C/g%3E%3Cg transform='translate%280 133.883%29'%3E%3Cmask id='bg-pattern-icon-n' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='#bg-pattern-icon-m'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url%28%23bg-pattern-icon-n%29'/%3E%3C/g%3E%3Cg transform='translate%280 81.883%29'%3E%3Cmask id='bg-pattern-icon-p' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='%23bg-pattern-icon-o'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url%28%23bg-pattern-icon-p%29'/%3E%3C/g%3E%3Cg transform='translate%280 133.883%29'%3E%3Cmask id='bg-pattern-icon-r' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='%23bg-pattern-icon-q'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url%28%23bg-pattern-icon-r%29'/%3E%3C/g%3E%3Cg transform='translate%280 81.883%29'%3E%3Cmask id='bg-pattern-icon-t' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='%23bg-pattern-icon-s'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url%28%23bg-pattern-icon-t%29'/%3E%3C/g%3E%3Cg transform='translate%280 29.883%29'%3E%3Cmask id='bg-pattern-icon-v' fill='#{$color}' opacity='#{$opacity}'%3E%3Cuse xlink:href='%23bg-pattern-icon-u'/%3E%3C/mask%3E%3Cpolygon fill='#{$color}' opacity='#{$opacity}' points='-5 25 56.039 25 56.039 -4.883 -5 -4.883' mask='url%28%23bg-pattern-icon-v%29'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E";
	@return "data:image/svg+xml;charset=utf8, %3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20width%3D%27109%27%20height%3D%27156%27%20viewBox%3D%270%200%20109%20156%27%20xml%3Aspace%3D%27preserve%27%20preserveAspectRatio%3D%27none%20slice%27%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cpath%20id%3D%27bg-pattern-icon-a%27%20d%3D%27M44.517%2C17.951%20L48.519%2C17.951%20C44.976%2C8.731%2036.003%2C2.166%2025.519%2C2.166%20C15.034%2C2.166%206.063%2C8.731%202.52%2C17.951%20L6.521%2C17.951%20C9.846%2C10.805%2017.107%2C5.834%2025.519%2C5.834%20C33.931%2C5.834%2041.192%2C10.805%2044.517%2C17.951%20Z%20M37.916%2C17.951%20L42.227%2C17.951%20C39.062%2C11.97%2032.762%2C7.884%2025.519%2C7.884%20C18.275%2C7.884%2011.976%2C11.97%208.812%2C17.951%20L13.122%2C17.951%20C15.878%2C14.082%2020.406%2C11.551%2025.519%2C11.551%20C30.632%2C11.551%2035.161%2C14.082%2037.916%2C17.951%20Z%20M25.519%2C0.117%20C37.475%2C0.117%2047.619%2C7.994%2050.997%2C18.813%20C51.181%2C19.403%2050.729%2C20%2050.11%2C20%20L37.116%2C20%20C36.924%2C20%2036.749%2C19.899%2036.646%2C19.738%20C34.319%2C16.053%2030.202%2C13.6%2025.519%2C13.6%20C20.836%2C13.6%2016.72%2C16.053%2014.392%2C19.738%20C14.289%2C19.899%2014.114%2C20%2013.922%2C20%20L0.929%2C20%20C0.309%2C20%20-0.143%2C19.403%200.042%2C18.813%20C3.419%2C7.994%2013.562%2C0.117%2025.519%2C0.117%20Z%27/%3E%0A%20%20%20%20%3Cpath%20id%3D%27bg-pattern-icon-c%27%20d%3D%27M44.517%2C17.951%20L48.519%2C17.951%20C44.976%2C8.731%2036.003%2C2.166%2025.519%2C2.166%20C15.034%2C2.166%206.063%2C8.731%202.52%2C17.951%20L6.521%2C17.951%20C9.846%2C10.805%2017.107%2C5.834%2025.519%2C5.834%20C33.931%2C5.834%2041.192%2C10.805%2044.517%2C17.951%20Z%20M37.916%2C17.951%20L42.227%2C17.951%20C39.062%2C11.97%2032.762%2C7.883%2025.519%2C7.883%20C18.275%2C7.883%2011.976%2C11.97%208.812%2C17.951%20L13.122%2C17.951%20C15.878%2C14.082%2020.406%2C11.551%2025.519%2C11.551%20C30.632%2C11.551%2035.161%2C14.082%2037.916%2C17.951%20Z%20M25.519%2C0.117%20C37.475%2C0.117%2047.619%2C7.994%2050.997%2C18.813%20C51.181%2C19.403%2050.729%2C20%2050.11%2C20%20L37.116%2C20%20C36.924%2C20%2036.749%2C19.899%2036.646%2C19.738%20C34.319%2C16.053%2030.202%2C13.6%2025.519%2C13.6%20C20.836%2C13.6%2016.72%2C16.053%2014.392%2C19.738%20C14.289%2C19.899%2014.114%2C20%2013.922%2C20%20L0.929%2C20%20C0.309%2C20%20-0.143%2C19.403%200.042%2C18.813%20C3.419%2C7.994%2013.562%2C0.117%2025.519%2C0.117%20Z%27/%3E%0A%20%20%20%20%3Cpath%20id%3D%27bg-pattern-icon-e%27%20d%3D%27M44.517%2C17.951%20L48.519%2C17.951%20C44.976%2C8.731%2036.003%2C2.166%2025.519%2C2.166%20C15.034%2C2.166%206.063%2C8.731%202.52%2C17.951%20L6.521%2C17.951%20C9.846%2C10.805%2017.107%2C5.834%2025.519%2C5.834%20C33.931%2C5.834%2041.192%2C10.805%2044.517%2C17.951%20Z%20M37.916%2C17.951%20L42.227%2C17.951%20C39.062%2C11.971%2032.762%2C7.883%2025.519%2C7.883%20C18.275%2C7.883%2011.976%2C11.971%208.812%2C17.951%20L13.122%2C17.951%20C15.878%2C14.082%2020.406%2C11.551%2025.519%2C11.551%20C30.632%2C11.551%2035.161%2C14.082%2037.916%2C17.951%20Z%20M25.519%2C0.117%20C37.475%2C0.117%2047.619%2C7.994%2050.997%2C18.813%20C51.181%2C19.403%2050.729%2C20%2050.11%2C20%20L37.116%2C20%20C36.924%2C20%2036.749%2C19.899%2036.646%2C19.738%20C34.319%2C16.054%2030.202%2C13.6%2025.519%2C13.6%20C20.836%2C13.6%2016.72%2C16.054%2014.392%2C19.738%20C14.289%2C19.899%2014.114%2C20%2013.922%2C20%20L0.929%2C20%20C0.309%2C20%20-0.143%2C19.403%200.042%2C18.813%20C3.419%2C7.994%2013.562%2C0.117%2025.519%2C0.117%20Z%27/%3E%0A%20%20%20%20%3Cpath%20id%3D%27bg-pattern-icon-g%27%20d%3D%27M44.517%2C17.951%20L48.519%2C17.951%20C44.976%2C8.731%2036.003%2C2.166%2025.519%2C2.166%20C15.034%2C2.166%206.063%2C8.731%202.52%2C17.951%20L6.521%2C17.951%20C9.846%2C10.805%2017.107%2C5.834%2025.519%2C5.834%20C33.931%2C5.834%2041.192%2C10.805%2044.517%2C17.951%20Z%20M37.916%2C17.951%20L42.227%2C17.951%20C39.062%2C11.97%2032.762%2C7.883%2025.519%2C7.883%20C18.275%2C7.883%2011.976%2C11.97%208.812%2C17.951%20L13.122%2C17.951%20C15.878%2C14.082%2020.406%2C11.551%2025.519%2C11.551%20C30.632%2C11.551%2035.161%2C14.082%2037.916%2C17.951%20Z%20M25.519%2C0.117%20C37.475%2C0.117%2047.619%2C7.994%2050.997%2C18.813%20C51.181%2C19.403%2050.729%2C20%2050.11%2C20%20L37.116%2C20%20C36.924%2C20%2036.749%2C19.899%2036.646%2C19.738%20C34.319%2C16.053%2030.202%2C13.6%2025.519%2C13.6%20C20.836%2C13.6%2016.72%2C16.053%2014.392%2C19.738%20C14.289%2C19.899%2014.114%2C20%2013.922%2C20%20L0.929%2C20%20C0.309%2C20%20-0.143%2C19.403%200.042%2C18.813%20C3.419%2C7.994%2013.562%2C0.117%2025.519%2C0.117%20Z%27/%3E%0A%20%20%20%20%3Cpath%20id%3D%27bg-pattern-icon-i%27%20d%3D%27M44.517%2C17.951%20L48.519%2C17.951%20C44.976%2C8.731%2036.003%2C2.166%2025.519%2C2.166%20C15.034%2C2.166%206.063%2C8.731%202.52%2C17.951%20L6.521%2C17.951%20C9.846%2C10.805%2017.107%2C5.834%2025.519%2C5.834%20C33.931%2C5.834%2041.192%2C10.805%2044.517%2C17.951%20Z%20M37.916%2C17.951%20L42.227%2C17.951%20C39.062%2C11.971%2032.762%2C7.883%2025.519%2C7.883%20C18.275%2C7.883%2011.976%2C11.971%208.812%2C17.951%20L13.122%2C17.951%20C15.878%2C14.082%2020.406%2C11.551%2025.519%2C11.551%20C30.632%2C11.551%2035.161%2C14.082%2037.916%2C17.951%20Z%20M25.519%2C0.117%20C37.475%2C0.117%2047.619%2C7.994%2050.997%2C18.813%20C51.181%2C19.403%2050.729%2C20%2050.11%2C20%20L37.116%2C20%20C36.924%2C20%2036.749%2C19.899%2036.646%2C19.738%20C34.319%2C16.054%2030.202%2C13.6%2025.519%2C13.6%20C20.836%2C13.6%2016.72%2C16.054%2014.392%2C19.738%20C14.289%2C19.899%2014.114%2C20%2013.922%2C20%20L0.929%2C20%20C0.309%2C20%20-0.143%2C19.403%200.042%2C18.813%20C3.419%2C7.994%2013.562%2C0.117%2025.519%2C0.117%20Z%27/%3E%0A%20%20%20%20%3Cpath%20id%3D%27bg-pattern-icon-k%27%20d%3D%27M44.517%2C17.951%20L48.519%2C17.951%20C44.976%2C8.731%2036.003%2C2.166%2025.519%2C2.166%20C15.034%2C2.166%206.063%2C8.731%202.52%2C17.951%20L6.521%2C17.951%20C9.846%2C10.805%2017.107%2C5.834%2025.519%2C5.834%20C33.931%2C5.834%2041.192%2C10.805%2044.517%2C17.951%20Z%20M37.916%2C17.951%20L42.227%2C17.951%20C39.062%2C11.971%2032.762%2C7.883%2025.519%2C7.883%20C18.275%2C7.883%2011.976%2C11.971%208.812%2C17.951%20L13.122%2C17.951%20C15.878%2C14.082%2020.406%2C11.551%2025.519%2C11.551%20C30.632%2C11.551%2035.161%2C14.082%2037.916%2C17.951%20Z%20M25.519%2C0.117%20C37.475%2C0.117%2047.619%2C7.994%2050.997%2C18.813%20C51.181%2C19.403%2050.729%2C20%2050.11%2C20%20L37.116%2C20%20C36.924%2C20%2036.749%2C19.899%2036.646%2C19.738%20C34.319%2C16.054%2030.202%2C13.6%2025.519%2C13.6%20C20.836%2C13.6%2016.72%2C16.054%2014.392%2C19.738%20C14.289%2C19.899%2014.114%2C20%2013.922%2C20%20L0.929%2C20%20C0.309%2C20%20-0.143%2C19.403%200.042%2C18.813%20C3.419%2C7.994%2013.562%2C0.117%2025.519%2C0.117%20Z%27/%3E%0A%20%20%20%20%3Cpath%20id%3D%27bg-pattern-icon-m%27%20d%3D%27M44.517%2C17.951%20L48.519%2C17.951%20C44.976%2C8.731%2036.003%2C2.166%2025.519%2C2.166%20C15.034%2C2.166%206.063%2C8.731%202.52%2C17.951%20L6.521%2C17.951%20C9.846%2C10.805%2017.107%2C5.834%2025.519%2C5.834%20C33.931%2C5.834%2041.192%2C10.805%2044.517%2C17.951%20Z%20M37.916%2C17.951%20L42.227%2C17.951%20C39.062%2C11.97%2032.762%2C7.884%2025.519%2C7.884%20C18.275%2C7.884%2011.976%2C11.97%208.812%2C17.951%20L13.122%2C17.951%20C15.878%2C14.082%2020.406%2C11.551%2025.519%2C11.551%20C30.632%2C11.551%2035.161%2C14.082%2037.916%2C17.951%20Z%20M25.519%2C0.117%20C37.475%2C0.117%2047.619%2C7.994%2050.997%2C18.813%20C51.181%2C19.403%2050.729%2C20%2050.11%2C20%20L37.116%2C20%20C36.924%2C20%2036.749%2C19.899%2036.646%2C19.738%20C34.319%2C16.053%2030.202%2C13.6%2025.519%2C13.6%20C20.836%2C13.6%2016.72%2C16.053%2014.392%2C19.738%20C14.289%2C19.899%2014.114%2C20%2013.922%2C20%20L0.929%2C20%20C0.309%2C20%20-0.143%2C19.403%200.042%2C18.813%20C3.419%2C7.994%2013.562%2C0.117%2025.519%2C0.117%20Z%27/%3E%0A%20%20%20%20%3Cpath%20id%3D%27bg-pattern-icon-o%27%20d%3D%27M44.517%2C17.951%20L48.519%2C17.951%20C44.976%2C8.731%2036.003%2C2.166%2025.519%2C2.166%20C15.034%2C2.166%206.063%2C8.731%202.52%2C17.951%20L6.521%2C17.951%20C9.846%2C10.805%2017.107%2C5.834%2025.519%2C5.834%20C33.931%2C5.834%2041.192%2C10.805%2044.517%2C17.951%20Z%20M37.916%2C17.951%20L42.227%2C17.951%20C39.062%2C11.971%2032.762%2C7.883%2025.519%2C7.883%20C18.275%2C7.883%2011.976%2C11.971%208.812%2C17.951%20L13.122%2C17.951%20C15.878%2C14.082%2020.406%2C11.551%2025.519%2C11.551%20C30.632%2C11.551%2035.161%2C14.082%2037.916%2C17.951%20Z%20M25.519%2C0.117%20C37.475%2C0.117%2047.619%2C7.994%2050.997%2C18.813%20C51.181%2C19.403%2050.729%2C20%2050.11%2C20%20L37.116%2C20%20C36.924%2C20%2036.749%2C19.899%2036.646%2C19.738%20C34.319%2C16.054%2030.202%2C13.6%2025.519%2C13.6%20C20.836%2C13.6%2016.72%2C16.054%2014.392%2C19.738%20C14.289%2C19.899%2014.114%2C20%2013.922%2C20%20L0.929%2C20%20C0.309%2C20%20-0.143%2C19.403%200.042%2C18.813%20C3.419%2C7.994%2013.562%2C0.117%2025.519%2C0.117%20Z%27/%3E%0A%20%20%20%20%3Cpath%20id%3D%27bg-pattern-icon-q%27%20d%3D%27M44.517%2C17.951%20L48.519%2C17.951%20C44.976%2C8.731%2036.003%2C2.166%2025.519%2C2.166%20C15.034%2C2.166%206.063%2C8.731%202.52%2C17.951%20L6.521%2C17.951%20C9.846%2C10.805%2017.107%2C5.834%2025.519%2C5.834%20C33.931%2C5.834%2041.192%2C10.805%2044.517%2C17.951%20Z%20M37.916%2C17.951%20L42.227%2C17.951%20C39.062%2C11.97%2032.762%2C7.884%2025.519%2C7.884%20C18.275%2C7.884%2011.976%2C11.97%208.812%2C17.951%20L13.122%2C17.951%20C15.878%2C14.082%2020.406%2C11.551%2025.519%2C11.551%20C30.632%2C11.551%2035.161%2C14.082%2037.916%2C17.951%20Z%20M25.519%2C0.117%20C37.475%2C0.117%2047.619%2C7.994%2050.997%2C18.813%20C51.181%2C19.403%2050.729%2C20%2050.11%2C20%20L37.116%2C20%20C36.924%2C20%2036.749%2C19.899%2036.646%2C19.738%20C34.319%2C16.053%2030.202%2C13.6%2025.519%2C13.6%20C20.836%2C13.6%2016.72%2C16.053%2014.392%2C19.738%20C14.289%2C19.899%2014.114%2C20%2013.922%2C20%20L0.929%2C20%20C0.309%2C20%20-0.143%2C19.403%200.042%2C18.813%20C3.419%2C7.994%2013.562%2C0.117%2025.519%2C0.117%20Z%27/%3E%0A%20%20%20%20%3Cpath%20id%3D%27bg-pattern-icon-s%27%20d%3D%27M44.517%2C17.951%20L48.519%2C17.951%20C44.976%2C8.731%2036.003%2C2.166%2025.519%2C2.166%20C15.034%2C2.166%206.063%2C8.731%202.52%2C17.951%20L6.521%2C17.951%20C9.846%2C10.805%2017.107%2C5.834%2025.519%2C5.834%20C33.931%2C5.834%2041.192%2C10.805%2044.517%2C17.951%20Z%20M37.916%2C17.951%20L42.227%2C17.951%20C39.062%2C11.971%2032.762%2C7.883%2025.519%2C7.883%20C18.275%2C7.883%2011.976%2C11.971%208.812%2C17.951%20L13.122%2C17.951%20C15.878%2C14.082%2020.406%2C11.551%2025.519%2C11.551%20C30.632%2C11.551%2035.161%2C14.082%2037.916%2C17.951%20Z%20M25.519%2C0.117%20C37.475%2C0.117%2047.619%2C7.994%2050.997%2C18.813%20C51.181%2C19.403%2050.729%2C20%2050.11%2C20%20L37.116%2C20%20C36.924%2C20%2036.749%2C19.899%2036.646%2C19.738%20C34.319%2C16.054%2030.202%2C13.6%2025.519%2C13.6%20C20.836%2C13.6%2016.72%2C16.054%2014.392%2C19.738%20C14.289%2C19.899%2014.114%2C20%2013.922%2C20%20L0.929%2C20%20C0.309%2C20%20-0.143%2C19.403%200.042%2C18.813%20C3.419%2C7.994%2013.562%2C0.117%2025.519%2C0.117%20Z%27/%3E%0A%20%20%20%20%3Cpath%20id%3D%27bg-pattern-icon-u%27%20d%3D%27M44.517%2C17.951%20L48.519%2C17.951%20C44.976%2C8.731%2036.003%2C2.166%2025.519%2C2.166%20C15.034%2C2.166%206.063%2C8.731%202.52%2C17.951%20L6.521%2C17.951%20C9.846%2C10.805%2017.107%2C5.834%2025.519%2C5.834%20C33.931%2C5.834%2041.192%2C10.805%2044.517%2C17.951%20Z%20M37.916%2C17.951%20L42.227%2C17.951%20C39.062%2C11.971%2032.762%2C7.883%2025.519%2C7.883%20C18.275%2C7.883%2011.976%2C11.971%208.812%2C17.951%20L13.122%2C17.951%20C15.878%2C14.082%2020.406%2C11.551%2025.519%2C11.551%20C30.632%2C11.551%2035.161%2C14.082%2037.916%2C17.951%20Z%20M25.519%2C0.117%20C37.475%2C0.117%2047.619%2C7.994%2050.997%2C18.813%20C51.181%2C19.403%2050.729%2C20%2050.11%2C20%20L37.116%2C20%20C36.924%2C20%2036.749%2C19.899%2036.646%2C19.738%20C34.319%2C16.054%2030.202%2C13.6%2025.519%2C13.6%20C20.836%2C13.6%2016.72%2C16.054%2014.392%2C19.738%20C14.289%2C19.899%2014.114%2C20%2013.922%2C20%20L0.929%2C20%20C0.309%2C20%20-0.143%2C19.403%200.042%2C18.813%20C3.419%2C7.994%2013.562%2C0.117%2025.519%2C0.117%20Z%27/%3E%0A%20%20%3C/defs%3E%0A%20%20%3Cg%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%20transform%3D%27translate%280%20-13%29%27%3E%0A%20%20%20%20%3Cg%20transform%3D%27translate%2858%20156.883%29%27%3E%0A%20%20%20%20%20%20%3Cmask%20id%3D%27bg-pattern-icon-b%27%20fill%3D%27#{$color}%27%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%27%23bg-pattern-icon-a%27/%3E%0A%20%20%20%20%20%20%3C/mask%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%27#{$color}%27%20opacity%3D%27#{$opacity}%27%20points%3D%27-5%2025%2056.039%2025%2056.039%20-4.883%20-5%20-4.883%27%20mask%3D%27url%28%23bg-pattern-icon-b%29%27/%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%20%20%3Cg%20transform%3D%27translate%2858%20104.883%29%27%3E%0A%20%20%20%20%20%20%3Cmask%20id%3D%27bg-pattern-icon-d%27%20fill%3D%27#{$color}%27%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%27%23bg-pattern-icon-c%27/%3E%0A%20%20%20%20%20%20%3C/mask%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%27#{$color}%27%20opacity%3D%27#{$opacity}%27%20points%3D%27-5%2025%2056.039%2025%2056.039%20-4.883%20-5%20-4.883%27%20mask%3D%27url%28%23bg-pattern-icon-d%29%27/%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%20%20%3Cg%20transform%3D%27translate%2858%2052.883%29%27%3E%0A%20%20%20%20%20%20%3Cmask%20id%3D%27bg-pattern-icon-f%27%20fill%3D%27#{$color}%27%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%27%23bg-pattern-icon-e%27/%3E%0A%20%20%20%20%20%20%3C/mask%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%27#{$color}%27%20opacity%3D%27#{$opacity}%27%20points%3D%27-5%2025%2056.039%2025%2056.039%20-4.883%20-5%20-4.883%27%20mask%3D%27url%28%23bg-pattern-icon-f%29%27/%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%20%20%3Cg%20transform%3D%27translate%2858%20104.883%29%27%3E%0A%20%20%20%20%20%20%3Cmask%20id%3D%27bg-pattern-icon-h%27%20fill%3D%27#{$color}%27%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%27%23bg-pattern-icon-g%27/%3E%0A%20%20%20%20%20%20%3C/mask%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%27#{$color}%27%20opacity%3D%27#{$opacity}%27%20points%3D%27-5%2025%2056.039%2025%2056.039%20-4.883%20-5%20-4.883%27%20mask%3D%27url%28%23bg-pattern-icon-h%29%27/%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%20%20%3Cg%20transform%3D%27translate%2858%2052.883%29%27%3E%0A%20%20%20%20%20%20%3Cmask%20id%3D%27bg-pattern-icon-j%27%20fill%3D%27#{$color}%27%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%27%23bg-pattern-icon-i%27/%3E%0A%20%20%20%20%20%20%3C/mask%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%27#{$color}%27%20opacity%3D%27#{$opacity}%27%20points%3D%27-5%2025%2056.039%2025%2056.039%20-4.883%20-5%20-4.883%27%20mask%3D%27url%28%23bg-pattern-icon-j%29%27/%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%20%20%3Cg%20transform%3D%27translate%2858%20.883%29%27%3E%0A%20%20%20%20%20%20%3Cmask%20id%3D%27bg-pattern-icon-l%27%20fill%3D%27#{$color}%27%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%27%23bg-pattern-icon-k%27/%3E%0A%20%20%20%20%20%20%3C/mask%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%27#{$color}%27%20opacity%3D%27#{$opacity}%27%20points%3D%27-5%2025%2056.039%2025%2056.039%20-4.883%20-5%20-4.883%27%20mask%3D%27url%28%23bg-pattern-icon-l%29%27/%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%20%20%3Cg%20transform%3D%27translate%280%20133.883%29%27%3E%0A%20%20%20%20%20%20%3Cmask%20id%3D%27bg-pattern-icon-n%27%20fill%3D%27#{$color}%27%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%27%23bg-pattern-icon-m%27/%3E%0A%20%20%20%20%20%20%3C/mask%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%27#{$color}%27%20opacity%3D%27#{$opacity}%27%20points%3D%27-5%2025%2056.039%2025%2056.039%20-4.883%20-5%20-4.883%27%20mask%3D%27url%28%23bg-pattern-icon-n%29%27/%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%20%20%3Cg%20transform%3D%27translate%280%2081.883%29%27%3E%0A%20%20%20%20%20%20%3Cmask%20id%3D%27bg-pattern-icon-p%27%20fill%3D%27#{$color}%27%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%27%23bg-pattern-icon-o%27/%3E%0A%20%20%20%20%20%20%3C/mask%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%27#{$color}%27%20opacity%3D%27#{$opacity}%27%20points%3D%27-5%2025%2056.039%2025%2056.039%20-4.883%20-5%20-4.883%27%20mask%3D%27url%28%23bg-pattern-icon-p%29%27/%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%20%20%3Cg%20transform%3D%27translate%280%20133.883%29%27%3E%0A%20%20%20%20%20%20%3Cmask%20id%3D%27bg-pattern-icon-r%27%20fill%3D%27#{$color}%27%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%27%23bg-pattern-icon-q%27/%3E%0A%20%20%20%20%20%20%3C/mask%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%27#{$color}%27%20opacity%3D%27#{$opacity}%27%20points%3D%27-5%2025%2056.039%2025%2056.039%20-4.883%20-5%20-4.883%27%20mask%3D%27url%28%23bg-pattern-icon-r%29%27/%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%20%20%3Cg%20transform%3D%27translate%280%2081.883%29%27%3E%0A%20%20%20%20%20%20%3Cmask%20id%3D%27bg-pattern-icon-t%27%20fill%3D%27#{$color}%27%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%27%23bg-pattern-icon-s%27/%3E%0A%20%20%20%20%20%20%3C/mask%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%27#{$color}%27%20opacity%3D%27#{$opacity}%27%20points%3D%27-5%2025%2056.039%2025%2056.039%20-4.883%20-5%20-4.883%27%20mask%3D%27url%28%23bg-pattern-icon-t%29%27/%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%20%20%3Cg%20transform%3D%27translate%280%2029.883%29%27%3E%0A%20%20%20%20%20%20%3Cmask%20id%3D%27bg-pattern-icon-v%27%20fill%3D%27#{$color}%27%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%27%23bg-pattern-icon-u%27/%3E%0A%20%20%20%20%20%20%3C/mask%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%27#{$color}%27%20opacity%3D%27#{$opacity}%27%20points%3D%27-5%2025%2056.039%2025%2056.039%20-4.883%20-5%20-4.883%27%20mask%3D%27url%28%23bg-pattern-icon-v%29%27/%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E";
}

