/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/





/*------------------------------------*\
    #COLORS
\*------------------------------------*/

/*
 * 1) Color variables involve a two-tier system to keep colors in sync. The
 *    first tier defines the brand and neutral colors, and the second tier
 *    defines the application of those colors.
 */

/*
 * Brand Colors
 * 1) Brand color variables use English names to define colors to make palettes easier to
 *    identify. Names are generated using this tool: http://chir.ag/projects/name-that-color/
 * 2) Brand color variables should typically not be used directly in Sass partials. Instead, use
 *    second-tier application colors.
 *
 */
 $color-brand-green: #c0d242;
 $color-brand-blue: #29c1db;
 $color-brand-blue-lt: #b6dcfa;
 $color-brand-purple: #b363a7;
 $color-brand-red: #e54e50;
 $color-brand-yellow: #f8df1e;
 $color-brand-pink: #f179af;
 $color-brand-orange: #f99d1b;
 $color-brand-neutral: #525d6c;

/*
 * Neutral Colors
 * 1) Neutral color variables use a numbered system to define variables for better maintainability.
 *    "$color-gray-10" means "10% gray", which is a gray closer to white than to black. For more info
 *    read https://medium.com/eightshapes-llc/color-in-design-systems-a1c80f65fa3#.brevrq67p
 */
$color-white: #fff;
$color-gray-02: #f2f2f2;
$color-gray-15: #e8e8e8;
$color-gray-35: #a5a5a5;
$color-gray-50: #808080;
$color-gray-65: #595959;
$color-gray-73: #444444;
$color-gray-87: #222222;
$color-black: #000;

$color-dim-50: rgba(0,0,0,0.5);
$color-dim-70: rgba(0,0,0,0.7);

/**
 * Utility Colors
 * 1) Utility colors are colors used to provide feedback, such as alert messages,
 * form validation, etc.
 */
$color-utility-positive: $color-brand-green;
$color-utility-postitive-subtle: lighten( $color-utility-positive, 15% );
$color-utility-caution: $color-brand-orange;
$color-utility-caution-subtle: lighten( $color-utility-caution, 15% );
$color-utility-negative: $color-brand-red;
$color-utility-negative-subtle: lighten( $color-utility-negative, 15% );
$color-utility-neutral: $color-brand-neutral;
$color-utility-neutral-subtle: lighten( $color-utility-neutral, 15% );

 /*
  * Text Colors
  * 1) These are non-linked text colors, such as body copy.
  */
$color-text: $color-brand-neutral;
$color-text-subtle: $color-gray-50;

/*
 * Heading Colors
 * 1) These are non-linked heading colors, such as h2, h3, etc.
 */
$color-heading: $color-brand-neutral;
$color-heading-accent: $color-gray-87;

/*
 * Text Link Colors
 * 1) These are for linked text, such as a link found within an article,
 *    navigation link, footer link, etc.
 */
$color-text-link: $color-brand-blue;
$color-text-link-hover: $color-brand-blue-lt;
$color-text-link-visited: $color-text-link;
$color-text-link-active: $color-brand-blue-lt;

$color-text-link-light: $color-brand-green;
$color-text-link-light-hover: lighten($color-brand-green, 10%);
$color-text-link-light-visited: $color-brand-green;

/*
 * Border Colors
 * 1) Border colors are used as decoration or dividers, such as as a seperator
 *    for navigation items, block borders, etc.
 */
$color-border: $color-brand-green;




/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

$font: "nexabook", "Nexa-Book", "Arial Rounded MT Bold", "Arial", sans-serif;
$font-secondary: "nexathin", "Nexa-Thin", "Arial", sans-serif;
$font-heading: "nexabold", $font;
$font-monospace: monospace;

$font-size-small : 0.75rem;
$font-size-small-2 : 0.875rem;
$font-size-med : 1rem;
$font-size-med-2: 1.0625rem;
$font-size-large : 1.4375rem;

$base-font-weight: 300;
$base-font-size: 100%;
$base-letter-space: 0;
$base-line-height: 1.6em;


$h1size: 3rem;
$h2size: 2.1rem;
$h3size: 1.8rem;
$h4size: 1.6rem;
$h5size: 1.2rem;
$h6size: 0.8rem;

$heading-font-weight: 300;
$heading-letter-space: 0;
$heading-line-height: 1.2em;

$text-color: $color-brand-neutral;
$heading-color: $text-color;

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * Spacing Defaults
 */
$space : 1em;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-quad : $space*4;
$space-half : $space/2;
$pad : 1em;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;





/*------------------------------------*\
    #BORDERS
\*------------------------------------*/

/**
 * Border Width
 */
$border-med: 3px;
$border-thick: 7px;

/**
 * Border Radius
 */
$border-radius: 2em;
$border-radius-small: .6em;





/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/

/**
 * Animation Duration
 */
$anim-speed-quick: 0.2s;

/**
 * Animation Easing
 */
$anim-ease: ease;




/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/

/**
 * Breakpoints
 */
$bp-small : 25em;
$bp-small-2 : 32em;
$bp-small-3 : 40em;
$bp-med : 47em;
$bp-med-2 : 52em;
$bp-large : 60em;
$bp-large-2 : 66em;
$bp-xl : 73em;
$bp-xxl : 89em;
$bp-xxxl : 93em;


$tiny-bp:   $bp-small;
$sm-bp:     $bp-small-2;
$med-bp:    $bp-med;
$lg-bp:     $bp-large-2;
$xl-bp:     $bp-xl;


$max-width: 90em;
$small-max-width: 75em;
$tiny-max-width: 60em;

$sidebarWidthSmall: 80%;
$sidebarWidthMid: 60%;